section.cabecera
    .cabecera__contenedor
        header.header
            .header__contenedor
                a(href="index.html")
                    img.header__logo(src="img/logo.png" alt="Forge of Empires - La Guía")
                h1.header__titulo-pagina= tituloPagina
        .header__img-destacada
            .header__img-destacada__contenedor
                img.header__img-destacada__img(src=`img/${urlImagenCabecera}` alt=`Forge of Empires. ${tituloPagina}`)