.main__contenedor
    article.articulo
        h2.articulo__titulo--index Edades
        hr.hr
        p.texto--especial Forge of Empires se desarrolla a lo largo de un gran árbol cronológico de (en el momento que escribo esto, mayo de 2020) 19 Edades.
        p.texto--especial Cada Edad tiene unas tecnologías que investigar, sus recursos, edificios, unidades y exigencias. A continuación, se reseñan las Edades existentes, así como una información somera de las tecnologías que contienen y los requerimientos totales para superar el período y pasar al siguiente. 
        p.texto--especial De este modo: tecnologías a investigar y los correspondientes recursos totales para completarlas.
        p.texto--especial Con este desglose:
        ul.texto--especial.lista-desordenada
            li Puntos Forge (FP)
            li Monedas
            li Suministros
            li Bienes
    section.edades
        +cardEdades('piedra.png', 'Edad de Piedra', '1', '3', '0', '0', '0')
        +cardEdades('bronce.png', 'Edad de Bronce', '22', '127', '2.300', '2.300', '4')
        +cardEdades('hierro.png', 'Edad de Hierro', '19', '256', '8.050', '13.100', '254')
        +cardEdades('alta-edad-media.png', 'Alta Edad Media', '21', '505', '31.500', '63.250', '671')
        +cardEdades('plena-edad-media.png', 'Plena Edad Media', '20', '733', '53.500', '194.000', '867')
        +cardEdades('baja-edad-media.png', 'Baja Edad Media', '21', '1.072', '155.000', '427.500', '2.130')
        +cardEdades('colonial.png', 'Edad Colonial', '20', '1.000', '115.337', '421.870', '2.270')
        +cardEdades('industrial.png', 'Edad Industrial', '19', '1.140', '303.000', '1.495.000', '3.300')
        +cardEdades('progreso.png', 'Era del Progreso', '22', '1.430', '514.111', '2.026.111', '5.205')
        +cardEdades('moderna.png', 'Era Moderna', '21', '1.440', '1.124.456', '3.964.321', '5.040')
        +cardEdades('postmoderna.png', 'Era Postmoderna', '21', '1.680', '5.030.000', '7.120.000', '6.605')
        +cardEdades('contemporanea.png', 'Era Contemporánea', '18', '1.530', '10.025.914', '12.351.147', '8.780')
        +cardEdades('manyana.png', 'Era del Mañana', '18', '1.620', '16.220.100', '20.011.100', '10.685')
        +cardEdades('futuro.png', 'El Futuro', '20', '1.887', '21.176.100', '29.181.200', '12.505')
        +cardEdades('artico.png', 'Futuro Ártico', '31', '4.054', '60.421.125', '60.508.138', '14.030')
        +cardEdades('oceanico.png', 'Futuro Oceánico', '56', '9.666', '134.800.000', '127.400.000', '24.430')
        +cardEdades('virtual.png', 'Futuro Virtual', '27', '6.369', '233.700.000', '262.000.000', '19.260')
        +cardEdades('espacial-marciana.png', 'Era Espacial Marciana', '24', '8.445', '250.000.000', '180.000.000', '44.550')
        +cardEdades('cinturon-asteroides.png', 'Era Espacial Cinturón de Asteroides', '25', '11.295', '365.000.000', '335.000.000', '63.670')
