.main__contenedor
    article.articulo
        h2.articulo__titulo--index Guías y Consejos
        hr.hr
        p.texto--especial #[span.texto--enfasis Forge of Empires], como cualquier juego de estrategia, permite diversos enfoques y estilos para ir logrando los objetivos.
        p.texto--especial Puesto que entra en juego un abanico muy amplio de recursos, unidades, edificios, etc es fácil perderse en este vasto bosque de información.
        p.texto--especial Con la vista puesta en este aspecto, se han incluido unas cuantas guías que pueden servir de ayuda e información adicionales a aquellos jugadores que buscan exprimir las posibilidades de Forge y planear estrategias a medio/largo plazo.
        p.texto--especial Estos tutoriales no son ley, ni dogmas, ni consejos de obligado seguimiento a pies juntillas. Son meras reflexiones y análisis de aficionados que han pasado bastantes horas delante de una pantalla intentando superar obstáculos y maximizar recursos y beneficios en el mundo de Forge.
        p.texto--especial Pulsando en los enlaces siguientes se puede acceder a estas guías.
        ul.texto--especial.lista-desordenada
            li
                a.link(href="no-refinados.html") Bienes no refinados
            li
                a.link(href="ges-poblacion.html") Grandes Edificios de población
            li
                a.link(href="incidentes.html") Incidentes
            li
                a.link(href="edificios-mejorables.html") Edificios de Eventos mejorables
            li
                a.link(href="reliquias.html") Reliquias
            li
                a.link(href="sets.html") Sets de Edificios
            li
                a.link(href="taberna-amigos.html") Taberna de los amigos
