.main__contenedor
    article.articulo
        h2.articulo__titulo--index Incidentes
        hr.hr
        p.texto--especial Los #[a.link(href="http://forgeofempires.wikia.com/wiki/Incidents") Incidentes] son objetos de pequeño tamaño que aparecen en la ciudad y alrededor de ella, independientemente de que se esté conectado o no al juego. En cada sesión cambia el lugar donde los incidentes presentes están colocados.
        p.texto--especial Pueden aparecer al día un máximo de 15, pero no menos de 10. Si te encuentras más del número máximo, probablemente olvidaste alguno el día anterior.
        p.texto--especial Cuando se hace click en ellos, desaparecen y entregan una pequeña recompensa en forma de monedas, suministros, medallas, bienes, FPs, pociones de mejora, o incluso diamantes.
        p.texto--especial Hay tres clase de incidentes:
        ul.texto--especial.lista-desordenada
            li Comunes
            li Poco comunes
            li Raros
        p.texto--especial Obviamente, los incidentes raros otorgan mejores recompensas que los comunes.
        p.texto--especial Todos los incidentes desaparecen a las 24 horas de haber aparecido.
        p.texto--especial A día de hoy, hay 16 comunes, 9 poco comunes y 2 raros. 3 surgen en las playas, 3 en el agua, 6 en los caminos y carreteras de la ciudad y 15 en el terreno virgen no edificado.
        h3.h3 Comunes
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('incidentes/cometa-arbol', 'Cometa caída en un árbol')
            +itemGaleriaImagenes('incidentes/kayak', 'Kayak volcado')
            +itemGaleriaImagenes('incidentes/socorro', 'Mensaje de socorro')
            +itemGaleriaImagenes('incidentes/arbol', 'Árbol caído (dos tamaños)')
            +itemGaleriaImagenes('incidentes/carreta', 'Carreta rota')
            +itemGaleriaImagenes('incidentes/pescador', 'Pescador en un bote')
            +itemGaleriaImagenes('incidentes/naufragio', 'Restos de un naufragio')
            +itemGaleriaImagenes('incidentes/bache', 'Bache (dos tamaños)')
            +itemGaleriaImagenes('incidentes/trigo', 'Pacas de trigo')
            +itemGaleriaImagenes('incidentes/cajon', 'Cajón')
            +itemGaleriaImagenes('incidentes/cofre-tesoro', 'Cofre del tesoro enterrado')
            +itemGaleriaImagenes('incidentes/colmenas', 'Colmenas en un árbol')
            +itemGaleriaImagenes('incidentes/tendedero', 'Tendedero')
            +itemGaleriaImagenes('incidentes/tendedero-2', 'Tendedero')
        h3.h3 Poco comunes
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('incidentes/refugio', 'Refugio improvisado')
            +itemGaleriaImagenes('incidentes/barco-naufragado', 'Barco naufragado')
            +itemGaleriaImagenes('incidentes/carretera-cerrada', 'Carretera cerrada (dos tamaños)')
            +itemGaleriaImagenes('incidentes/barriles', 'Barriles de vino')
            +itemGaleriaImagenes('incidentes/escultor', 'Escultor trabajando')
            +itemGaleriaImagenes('incidentes/mamut', 'Yacimiento arqueológico con huesos de mamut')
            +itemGaleriaImagenes('incidentes/dinosaurio', 'Yacimiento arqueológico con huesos de dinosaurio')
            +itemGaleriaImagenes('incidentes/cabeza-piedra', 'Excavación de una cabeza de piedra')
        h3.h3 Raros
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('incidentes/bonsai', 'Bonsái con restos de muro')
            +itemGaleriaImagenes('incidentes/rinoceronte', 'Rinoceronte en una balsa')

