.main__contenedor
    article.articulo
        h2.articulo__titulo--index Edificios de Producción
        hr.hr
        p.texto--especial Los edificios de producción entregan
            |
            span.texto--enfasis  suministros
            | , un recurso primario. Los suministros son necesarios para construir edificios, entrenar unidades militares y producir
            |
            span.texto--enfasis bienes
            | . Los edificios de producción varían en tamaño, tiempos y costes para erigirlos. Asimismo, hay
            |
            span.texto--enfasis edificios premium
            | , que se pueden adquirir sólo con diamantes.
        p.texto--especial Los edificios de producción, al contrario que los edificios residenciales, no producen recursos de forma espontánea, sino que el jugador debe asignar la producción para el edificio. 
        p.texto--especial Hay seis tipos de duración de producción (5 minutos, 15 minutos, 1 hora, 4 horas, 8 horas, y 1 día), que corresponden a diferentes cantidades de suministros producidos.
        p.texto--especial A continuación, se van a reseñar los edificios de este tipo disponibles, agrupados por Edades. En cada ítem se informa de:
        ul.texto--especial.lista-desordenada
            li Costes de construcción en monedas, suministros y en el caso de edificios premium, en diamantes
            li Población necesaria para su funcionamiento
            li Tamaño
            li A partir de la Edad del Progreso se especifica el tipo de vía de unión que requiere el edificio
            li Tiempo necesario para finalizar su construcción
            li Suministros proporcionados por cuadrado de extensión (calculados para una producción estándar de una hora)
    article.articulo#piedra
        h2.articulo__titulo Edad de Piedra
        .articulo__contenedor
            section.produccion
                +cardProduccion(false, 'tienda-caza', 'Tienda de caza', '0', '96', '0', '28', '3x3', '5 segundos', '4')
    article.articulo#bronce
        h2.articulo__titulo Edad de Bronce
        .articulo__contenedor
            section.produccion
                +cardProduccion(true, 'corral-domesticacion', 'Corral de domesticación', '200', '0','0', '40', '4x4', '20 segundos', '14')
                +cardProduccion(false, 'alfareria', 'Alfarería', '0', '240', '30', '41', '4x3', '20 minutos', '4')
                +cardProduccion(false, 'explotacion-fruticola', 'Explotacion Frutícola', '0', '1.750', '130', '50', '5x4', '40 minutos', '6')
                +cardProduccion(false, 'herrero', 'Herrero', '0', '430', '40', '12', '2x2', '20 minutos', '8')
    article.articulo#hierro
        h2.articulo__titulo Edad de Hierro
        .articulo__contenedor
            section.produccion
                +cardProduccion(false, 'carnicero', 'Carnicero', '0', '4.100', '410', '66', '4x3', '1 hora y 10 minutos', '13')
                +cardProduccion(false, 'granja-cabras', 'Granja de cabras', '0', '4.800','680', '122', '4x5', '1 hora y 40 minutos', '11')
                +cardProduccion(true, 'sastre', 'Sastre', '400', '0','0', '88', '3x4', '20 segundos', '30')
    article.articulo#aem
        h2.articulo__titulo Alta Edad Media
        .articulo__contenedor
            section.produccion
                +cardProduccion(true, 'panaderia', 'Panadería', '400', '0', '0', '103', '4x3', '20 segundos', '40')
                +cardProduccion(false, 'zapateria', 'Zapatería', '0', '12.100', '1.500', '77', '3x3', '2 horas y 40 minutos', '23')
                +cardProduccion(false, 'curtiduria', 'Curtiduría', '0', '7.800','1.800', '54', '3x3', '3 horas', '18')
    article.articulo#pem
        h2.articulo__titulo Plena Edad Media
        .articulo__contenedor
            section.produccion
                +cardProduccion(false, 'granja', 'Granja', '0', '64.000', '5.600', '269', '4x5', '8 horas y 10 minutos', '36')
                +cardProduccion(false, 'alquimista', 'Alquimista', '0', '15.000', '3.100', '40', '3x2', '5 horas y 20 minutos', '30')
                +cardProduccion(true, 'molino-viento', 'Molino de viento', '500', '0', '0', '148', '3x4', '20 segundos', '64')
    article.articulo#bem
        h2.articulo__titulo Baja Edad Media
        .articulo__contenedor
            section.produccion
                +cardProduccion(false, 'toneleria', 'Tonelería', '0', '61.000', '10.800', '164', '3x4', '10 horas y 30 minutos', '41')
                +cardProduccion(false, 'cerveceria', 'Cervecería', '0', '56.000', '9.500', '136', '3x3', '8 horas y 50 minutos', '44')
                +cardProduccion(true, 'comercio-especias', 'Comercio de especias', '500', '0', '0', '86', '3x4', '20 segundos', '81')
    article.articulo#colonial
        h2.articulo__titulo Edad Colonial
        .articulo__contenedor
            section.produccion
                +cardProduccion(false, 'plantacion-tabaco', 'Plantación de tabaco', '0', '81.000', '15.700', '365', '4x4', '14 horas y 40 minutos', '56')
                +cardProduccion(false, 'fabricante-velas', 'Fabricante de velas', '0', '59.000', '7.700', '147', '3x3', '12 horas y 40 minutos', '52')
                +cardProduccion(false, 'relojero', 'Relojero', '0', '43.000', '7.400', '68', '3x2', '8 horas y 20 minutos', '53')
                +cardProduccion(true, 'destileria-perfumes', 'Destilería de perfumes', '500', '0', '0', '78', '3x2', '20 segundos', '103')
    article.articulo#industrial
        h2.articulo__titulo Edad Industrial
        .articulo__contenedor
            section.produccion
                +cardProduccion(false, 'armero', 'Armero', '0', '48.000', '14.900', '90', '2x3', '10 horas y 10 minutos', '63')
                +cardProduccion(false, 'fabrica-ceramica', 'Fábrica de cerámica', '0', '115.000', '33.400', '337', '5x3', '13 horas y 30 minutos', '65')
                +cardProduccion(false, 'planta-quimica', 'Planta química', '0', '84.000', '19.800', '224', '4x3', '12 horas y 20 minutos', '60')
                +cardProduccion(true, 'fabricante-ruedas', 'Fabricante de ruedas', '500', '0', '0', '180', '4x3', '20 segundos', '125')
    article.articulo#progreso
        h2.articulo__titulo Edad del Progreso
        .articulo__contenedor
            section.produccion
                +cardProduccion-2(false, 'rancho-ganado', 'Rancho de ganado', '0', '218.000', '119.100', '1.063', '7x6', 'Sencilla', '13 horas y 50 minutos', '74')
                +cardProduccion-2(false, 'fabrica-bombillas', 'Fábrica de bombillas', '0', '173.000', '39.300', '570', '6x3', 'Sencilla', '15 horas', '84')
                +cardProduccion-2(false, 'taller-automotriz', 'Taller automotriz', '0', '141.000', '52.400', '338', '4x4', 'Doble', '9 horas y 10 minutos', '91')
                +cardProduccion-2(true, 'delicatessen', 'Delicatessen', '600', '0', '0', '200', '4x3', 'Sencilla', '20 segundos', '148')
    article.articulo#moderna
        h2.articulo__titulo Edad Moderna
        .articulo__contenedor
            section.produccion
                +cardProduccion-2(false, 'fabrica-aviones', 'Fábrica de aviones', '0', '368.000', '78.300', '650', '6x4', 'Doble', '12 horas y 50 minutos', '104')
                +cardProduccion-2(false, 'sombrereria', 'Sombrerería', '0', '91.000', '20.800', '150', '3x3', 'Sencilla', '8 horas y 10 minutos', '82')
                +cardProduccion-2(false, 'fabrica-electrodomesticos', 'Fábrica de electrodomésticos', '0', '192.000', '70.700', '700', '4x5', 'Doble', '14 horas', '108')
                +cardProduccion-2(true, 'estudio-cinematografico', 'Estudio cinematográfico', '1.000', '0', '0', '650', '7x5', 'Doble', '20 segundos', '195')
    article.articulo#postmoderna
        h2.articulo__titulo Edad Postmoderna
        .articulo__contenedor
            section.produccion
                +cardProduccion-2(false, 'fabrica-automoviles', 'Fábrica de automóviles', '0', '437.000', '119.400', '1.111', '5x6', 'Doble', '15 horas y 10 minutos', '122')
                +cardProduccion-2(true, 'invernadero', 'Invernadero', '600', '0', '0', '300', '5x3', 'Doble', '20 segundos', '213')
                +cardProduccion-2(false, 'fabrica-juguetes', 'Fábrica de juguetes', '0', '201.000', '76.300', '666', '5x5', 'Sencilla', '10 horas y 30 minutos', '89,5')
                +cardProduccion-2(false, 'deposito-chatarra', 'Depósito de chatarra', '0', '90.000', '86.200', '437', '5x4', 'Doble', '8 horas y 10 minutos', '151')
    article.articulo#contemporanea
        h2.articulo__titulo Edad Contemporánea
        .articulo__contenedor
            section.produccion
                +cardProduccion-2(true, 'empresa-videojuegos', 'Empresa de videojuegos', '600', '0', '0', '240', '4x3', 'Sencilla', '20 segundos', '245')
                +cardProduccion-2(false, 'mercado-pescado', 'Mercado de pescado', '0', '205.000', '123.800', '684', '5x4', 'Sencilla', '8 horas y 40 minutos', '120')
                +cardProduccion-2(false, 'centro-logistico', 'Centro logístico', '0', '271.000', '130.000', '987', '4x6', 'Doble', '14 horas', '138')
                +cardProduccion-2(false, 'centro-negocios', 'Centro de negocios', '0', '500.000', '70.200', '666', '5x5', 'Doble', '11 horas y 40 minutos', '189')
    article.articulo#manyana
        h2.articulo__titulo Era del Mañana
        .articulo__contenedor
            section.produccion
                +cardProduccion-2(false, 'fabrica-drones', 'Fábrica de drones', '0', '300.000', '108.300', '250', '6x3', 'Doble', '16 horas y 20 minutos', '167')
                +cardProduccion-2(false, 'empresa-seguridad-privada', 'Empresa de seguridad privada', '0', '140.000', '60.700', '550', '4x3', 'Sencilla', '9 horas y 20 minutos', '150')
                +cardProduccion-2(true, 'granja-urbana', 'Granja urbana', '900', '0', '0', '500', '6x4', 'Doble', '20 segundos', '302')
                +cardProduccion-2(false, 'impresora-3d', 'Impresora 3D', '0', '300.000', '109.400', '500', '4x4', 'Doble', '14 horas', '150')
    article.articulo#futuro
        h2.articulo__titulo El Futuro
        .articulo__contenedor
            section.produccion
                +cardProduccion-2(false, 'instalacion-extraccion-helio-3', 'Instalación de Extracción de Helio-3', '0', '771.000', '199.000', '1.700', '6x5', 'Doble', '16 horas y 20 minutos', '185')
                +cardProduccion-2(false, 'impresora-alimentos', 'Impresora de alimentos', '0', '137.000', '48.000', '460', '4x4', 'Sencilla','8 horas y 30 minutos', '178')
                +cardProduccion-2(true, 'torre-marina', 'Torre marina', '1.000', '0', '0', '670', '5x5', 'Doble', '20 segundos', '332')
                +cardProduccion-2(false, 'objetos-levitacion', 'Objetos de levitación', '0', '205.000', '72.000', '640', '3x4', 'Doble','11 horas y 40 minutos', '166')
    article.articulo#futuro-artico
        h2.articulo__titulo Futuro Ártico
        .articulo__contenedor
            section.produccion
                +cardProduccion-2(true, 'generador-plasma', 'Generador de plasma', '800', '0', '0', '570', '4x4', 'Doble', '20 segundos', '378')
                +cardProduccion-2(true, 'granja-vertical', 'Granja vertical', '900', '0', '0', '570', '4x5', 'Doble', '20 segundos', '405')
                +cardProduccion-2(false, 'rueda-reciclaje', 'Rueda de reciclaje', '0', '381.000', '186.000', '1.000', '5x4', 'Doble', '11 horas y 40 minutos', '243')
                +cardProduccion-2(false, 'dique-seco', 'Dique seco', '0', '857.000', '257.000', '1.600', '6x5', 'Doble', '10 horas y 30 minutos', '259')
                +cardProduccion-2(false, 'floristeria-cristal', 'Floristería de cristal', '0', '103.000', '39.000', '210', '3x2', 'Sencilla', '9 horas y 20 minutos', '217')
    article.articulo#futuro-oceanico
        h2.articulo__titulo Futuro Oceánico
        .articulo__contenedor
            section.produccion
                +cardProduccion-2(false, 'criadero-mariscos', 'Criadero de mariscos', '0', '914.000', '365.000', '1.390', '5x6', 'Sencilla', '11 horas', '270')
                +cardProduccion-2(true, 'criadero-profundidades', 'Criadero de las profundidades', '1.000', '0', '0', '1.170', '6x5', 'Doble','20 segundos', '431')
                +cardProduccion-2(false, 'tienda-playa', 'Tienda de playa', '0', '389.000', '150.000', '580', '4x3', 'Sencilla','11 horas y 20 minutos', '277')
                +cardProduccion-2(true, 'central-electrica-geotermica', 'Central eléctrica geotérmica', '1.000', '0', '0', '680', '4x4', 'Doble','20 segundos', '432')
                +cardProduccion-2(false, 'planta-extraccion-mineral', 'Planta de extracción mineral', '0', '929.000', '393.000', '1.320', '5x5', 'Doble', '9 horas y 20 minutos', '300')
                +cardProduccion-2(false, 'recoleccion-algas', 'Recolección de algas', '0', '983.000', '395.000', '1.370', '6x4', 'Sencilla', '10 horas', '324')
                +cardProduccion-2(false, 'astillero', 'Astillero', '0', '876.000', '350.000', '1.210', '4x5', 'Sencilla', '10 horas', '351')
                +cardProduccion-2(true, 'spa-diurno', 'Spa diurno', '1.200', '0', '0', '900', '5x5', 'Doble', '20 segundos', '486')
                +cardProduccion-2(false, 'jardin-marino', 'Jardín marino', '0', '743.000', '247.000', '960', '3x5', 'Sencilla','12 horas', '385')
    article.articulo#futuro-virtual
        h2.articulo__titulo Futuro Virtual
        .articulo__contenedor
            section.produccion
                +cardProduccion-2(false, 'laboratorio-investigacion-holografica', 'Laboratorio de investigación holográfica', '0', '1.247.000', '502.000', '2.390', '5x6', 'Doble', '11 horas 40 minutos', '432')
                +cardProduccion-2(true, 'taller-corporal', 'Taller corporal', '1.000', '0', '0', '800', '5x4', 'Sencilla','20 segundos', '640')
                +cardProduccion-2(false, 'tienda-objetos-rv', 'Tienda de objetos de realidad virtual','0', '878.000', '354.000', '1.590', '4x5', 'Doble', '11 horas 40 minutos', '464' )
                +cardProduccion-2(false, 'jardin-bonsai', 'Jardín Bonsái', '0', '416.000', '168.000', '720', '3x3', 'Sencilla', '11 horas 40 minutos', '512')
    article.articulo#espacial-marciana
        h2.articulo__titulo Era Espacial Marciana
        .articulo__contenedor
            section.produccion
                +cardProduccion-2(true, 'centro-nuevos-horizontes', 'Centro Nuevos Horizontes', '750', '0', '0', '550', '3x3', 'Sencilla', '20 segundos', '906,67')
                +cardProduccion-2(false, 'zona-prueba-cohetes', 'Zona de prueba de cohetes', '0', '756.000', '298.000', '2430', '5x4', 'Doble', '11 horas 40 minutos', '647,5')
    article.articulo#cinturon-asteroides
        h2.articulo__titulo Era Espacial Cinturón de Asteroides
        .articulo__contenedor
            section.produccion
                +cardProduccion-2(false, 'granja-comida-espacial', 'Granja de comida espacial', '0', '393.000', '215.000', '1460', '4x4', 'Doble', '11 horas 40 minutos', '563,1')
                +cardProduccion-2(true, 'telescopio-datos-universo', 'Telescopio de datos del Universo', '750', '0', '0', '550', '3x3', 'Sencilla', '20 segundos', '1035,5')                 