.main__contenedor
    article.articulo
        h2.articulo__titulo--index Unidades militares
        hr.hr
        p.texto--especial Las #[a.link(href="https://forgeofempires.fandom.com/wiki/Military_Unit") unidades militares] son las que entablan las batallas, un aspecto clave del juego. Se entrenan en su edificio correspondiente, así como curan sus heridas tras el combate. Hay un número concreto de unidades (generalmente de 2 a 5) que un edificio militar puede sostener.
        p.texto--especial Hay #[span.texto--enfasis cinco tipos de unidades], con sus características distintivas. Algunas obtienen bonos de ataque y/o defensa en función del terreno o lugar donde se encuentren. Algunas ganan ciertas ventajas cuando se enfrentan a otras clases.
        p.texto--especial Estas cinco clases son:
        ul.texto--especial.lista-desordenada
            li Ligeras
            li Pesadas
            li Rápidas
            li De ataque a distancia
            li Artillería
        p.texto--especial Asimismo, hay una distinción en las tropas:
        ul.texto--especial.lista-desordenada
            li Regulares: las que se producen en la ciudad, en los edificios correspondientes. Hasta el número máximo que soporten estos.
            li Independientes: no están ligadas a ningún edificio. Se pierden definitivamente cuando mueren en combate. Se pueden conseguir en las Expediciones de Gremio, Templo de las Reliquias, Desafíos diarios, Misiones, Alcatraz, Castillo Himeji, etc.
        p.texto--especial A continuación, vamos a revisar estas unidades en cada una de las Eras del juego. Se aporta la siguiente información en cada ficha:
        ul.texto--especial.lista-desordenada
            li Nombre de la unidad
            li Tipo de unidad
            li Notas destacables sobre la unidad, si las hubiera
            li Edificio que las soporta
            li Área que ocupa el edificio
            li Tipo de vía necesaria que conecta el edificio con el Ayuntamiento de la ciudad.
            li Población necesaria para construir el edificio
    article.articulo#bronce
        h2.articulo__titulo Edad de Bronce
        .articulo__contenedor
            section.unidades-militares
                +cardUnidadesMilitares('https://forgeofempires.fandom.com/wiki/Spearfighter', 'barracon-lanceros', 'Lancero', 'Ligera', 'Cortísimo espacio de tiempo para generarla y para curarse. El multipropósito de esta Era', 'Barracón para lanceros', '3x3', 'Sencilla', 26, 'lancero')
                +cardUnidadesMilitares('https://forgeofempires.fandom.com/wiki/Slinger', 'barracon-honderos', 'Hondero', 'Ataque a distancia', 'Poco útil por su debilidad y corto alcance', 'Barracón para honderos', '2x3', 'Sencilla', 34, 'hondero')
                +cardUnidadesMilitares('https://forgeofempires.fandom.com/wiki/Horseman', 'cuadra-jinetes', 'Jinete', 'Rápida', 'Poco útil', 'Cuadra para jinetes', '3x3', 'Sencilla', 56, 'jinete')
                +cardUnidadesMilitares('https://forgeofempires.fandom.com/wiki/Warrior', 'barracon-guerreros', 'Guerrero', 'Pesada', 'Útil. Duro. Bueno para la defensa', 'Barracón para guerreros', '3x3', 'Sencilla', 47, 'guerrero')
                +cardUnidadesMilitares('https://forgeofempires.fandom.com/wiki/Stone_Thrower', 'campo-petrobolos', 'Petrobolos', 'Artillería', 'Poco útil. Sirve para aprender cómo funciona la artillería en el combate', 'Campo para petrobolos', '3x3', 'Sencilla', 56, 'petrobolos')
    article.articulo#hierro
        h2.articulo__titulo Edad de Hierro
        .articulo__contenedor
            section.unidades-militares
                +cardUnidadesMilitares('https://forgeofempires.fandom.com/wiki/Soldier', 'barracon-soldados', 'Soldado', 'Ligera', 'Sigue siendo útil. Gana movimiento, ataque y defensa', 'Barracón para soldados', '3x2', 'Sencilla', 79, 'soldado')
                +cardUnidadesMilitares('https://forgeofempires.fandom.com/wiki/Archer', 'campo-tiro', 'Arquero', 'Ataque a distancia', 'Muy útil. Probablemente la mejor unidad de la Era', 'Campo de tiro', '2x2', 'Sencilla', 105, 'arquero')
                +cardUnidadesMilitares('https://forgeofempires.fandom.com/wiki/Mounted_Warrior', 'cuadra-guerreros-caballo', 'Guerrero a caballo', 'Rápida', 'A pesar de las mejoras en ataque y defensa, que le equipara a las unidades ligeras, su inferioridad frente a Soldados y Legionarios condiciona su utilidad', 'Cuadra para los guerreros a caballo', '3x4', 'Sencilla', 170, 'guerrero-a-caballo')
                +cardUnidadesMilitares('https://forgeofempires.fandom.com/wiki/Legionnaire', 'barracon-legionarios', 'Legionario', 'Pesada', 'Gana mucha defensa, pero es débil frente a las unidades a distancia mejoradas', 'Barracón para legionarios','3x3', 'Sencilla', 144, 'legionario')
                +cardUnidadesMilitares('https://forgeofempires.fandom.com/wiki/Ballista', 'campamento-balistas', 'Balista', 'Artillería', 'El ganar un punto de alcance hace que sea una unidad viable', 'Campamento para balistas', '4x3', 'Sencilla', 170, 'balista')
    article.articulo#aem
        h2.articulo__titulo Alta Edad Media
        .articulo__contenedor
            section.unidades-militares
                +cardUnidadesMilitares('https://forgeofempires.fandom.com/wiki/Mounted_Archer', 'cuadra-arqueros-caballo', 'Arquero a caballo', 'Ataque a distancia', 'Una unidad tan extraña que los creadores del juego tuvieron que mejorar alguna de sus características tiempo después de su introducción. Aún así, no es útil. Es preferible seguir con los arqueros de la Edad de Hierro', 'Cuadra para arqueros a caballo', '3x4', 'Sencilla', 206, 'arquero-a-caballo')
                +cardUnidadesMilitares('https://forgeofempires.fandom.com/wiki/Mercenary', 'barracon-mercenarios', 'Mercenario', 'Ligera', 'Unidad balanceada. Más útil que anteriormente contra unidades rápidas. Resiste el ataque de los arqueros', 'Barracón para mercenarios', '3x3', 'Sencilla', 155, 'mercenario')
                +cardUnidadesMilitares('https://forgeofempires.fandom.com/wiki/Heavy_Cavalry', 'cuadra-caballeria-pesada', 'Caballería pesada', 'Rápida', 'No muy útil, ya que no es tan frecuente en esta era luchar contra unidades a distancia. Peor en combate cuerpo a cuerpo que las unidades ligera y pesada', 'Cuadra para caballería pesada', '3x4', 'Sencilla', 335, 'caballeria-pesada')
                +cardUnidadesMilitares('https://forgeofempires.fandom.com/wiki/Armored_Infantry', 'barracon-infanteria-blindada', 'Infantería blindada', 'Pesada', 'Su factor defensivo le permite aguantar el ataque de cualquier unidad de la era. Más útil que los legionarios de la Edad de Hierro.', 'Barracón para infantería blindada', '3x3', 'Sencilla', 284, 'infanteria-blindada')
                +cardUnidadesMilitares('https://forgeofempires.fandom.com/wiki/Catapult', 'campo-catapultas', 'Catapulta', 'Artillería', 'No muy útil. Muy vulnerables ante los ataques de los arqueros a caballo, que pueden alcanzarlas en la primera oleada', 'Campo para catapultas', '3x3', 'Sencilla', 335, 'catapulta')
    article.articulo#pem
        h2.articulo__titulo Plena Edad Media
        .articulo__contenedor
            section.unidades-militares
                +cardUnidadesMilitares('https://forgeofempires.fandom.com/wiki/Berserker', 'barracon-berserkers', 'Berserker', 'Ligera', 'Crean mucho daño, más que el resto de unidades. Perfecto para adoptar un rol activo en el combate', 'Barracon para berserkers', '3x3', 'Sencilla', 260, 'berserker')
                +cardUnidadesMilitares('https://forgeofempires.fandom.com/wiki/Crossbowman', 'campo-tiro-ballesta', 'Ballestero', 'Ataque a distancia', 'Unidad superior a casi cualquier otra, incluso berserkers y caballeros. Dobla el ataque y la defensa con respecto al arquero de la Edad de Hierro', 'Campo de tiro de ballesta', '3x3', 'Sencilla', 346, 'ballestero')
                +cardUnidadesMilitares('https://forgeofempires.fandom.com/wiki/Knight', 'cuadra-caballeros', 'Caballero', 'Rápida', 'Más balanceado y útil. Es casi capaz de destruir una unidad de artillería en único ataque. Vulnerable ante los ballesteros. Como novedad, adquiere la capacidad  especial de Caballería, que consiste en un bono de ataque y defensa cuando es la única únidad de Caballería de su ejército. Son buenos para la defensa, porque unidades a distancia y de artillería no pueden contrarrestar la carga de un Caballero.', 'Cuadra para caballeros', '3x4', 'Sencilla', 563, 'caballero')
                +cardUnidadesMilitares('https://forgeofempires.fandom.com/wiki/Heavy_Infantry', 'barracon-infanteria-pesada', 'Infantería pesada', 'Pesada', 'Un poco más raṕida que su predecesora. Fuerte en defensa, incluso ante unidades a distancia', 'Barracón para infantería pesada', '3x3', 'Sencilla', 476, 'infanteria-pesada')
                +cardUnidadesMilitares('https://forgeofempires.fandom.com/wiki/Trebuchet', 'campo-trabuquetes', 'Trabuquete', 'Artillería', 'Empieza a ser una unidad interesante, por su mayor rango de alcance y porque hace bastante daño incluso a berserkers y mercenarios. Ya se pueden ver jugadores que emplean 8 trabuquetes para atacar o defender', 'Campo para trabuquetes', '3x3', 'Sencilla', 563, 'trabuquete')
