.main__contenedor
    article.articulo
        h2.articulo__titulo--index Edificios de Eventos mejorables
        hr.hr
        p.texto--especial A lo largo del año hay multitud de #[span.texto--enfasis Eventos] con premios de muy diverso tipo. En aquellos de especial importancia suele haber un objeto estrella que lo protagoniza, generalmente un edificio que aporta simultáneamente ítems variados y/o bonus, felicidad, etc. 
        p.texto--especial Aunque no es un hecho nuevo, lo cierto es que es cada vez más habitual que en estos Eventos destacados este edificio se pueda actualizar o mejorar en diversos grados, mediante los correspondientes kits, que se pueden obtener en el mismo evento y ocasionalmente en eventos posteriores.
        p.texto--especial En esta guía voy a informar de ellos. Probablemente no sean todos los existentes, porque Forge es un mundo cada vez más grande, pero sí que mencionaré los más memorables.
        h3.h3 Cementerio
        .contenedor__alineacion__centrar
            img(src="img/mejorable/cementerio.png" alt="FOE. Cementerio")
        p.texto--especial El #[a.link(href="http://forgeofempires.wikia.com/wiki/Graveyard") Cementerio] es un veterano. Apareció en el Evento de Halloween de 2012. Proporciona felicidad y cuando es motivado dobla esa cifra durante doce horas. Ocupa un área de partida de 3x3, y en su nivel máximo necesita una de 7x3.
        p.texto--especial Puede actualizarse #[span.texto--enfasis cinco] veces. A continuación, las diferentes versiones sucesivas, con su denominación.
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('mejorable/cementerio-antiguo', 'Cementerio antiguo. 4x3')
            +itemGaleriaImagenes('mejorable/cementerio-ancestral', 'Cementerio ancestral. 5x3')
            +itemGaleriaImagenes('mejorable/cementerio-legendario', 'Cementerio legendario. 6x3')
            +itemGaleriaImagenes('mejorable/cementerio-monumental', 'Cementerio monumental. 7x3')
            +itemGaleriaImagenes('mejorable/necropolis', 'Necrópolis. 7x3')
        h3.h3 Fábrica de sidra
        .contenedor__alineacion__centrar
            img(src="img/fabrica-sidra.png" alt="FOE. Fábrica de sidra")
        p.texto--especial La #[a.link(href="http://forgeofempires.wikia.com/wiki/Cider_Mill") Fábrica de sidra] apareció en el Evento de Otoño 2016. Es un edificio de producción que entrega diversos ítems en función del tiempo seleccionado. En su estadio inicial, sólo genera suministros, pero en el momento que su nivel es el segundo conseguiremos monedas, medallas, coronas de Gremio, bienes refinados o FPs. Parte de un tamaño de 2x3, hasta 3x7 en su máxima expresión. 
        p.texto--especial Puede actualizarse #[span.texto--enfasis cinco] veces.
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('mejorable/fabrica-sidra-floreciente', 'Fábrica de sidra floreciente. 3x3')
            +itemGaleriaImagenes('mejorable/fabrica-sidra-fructifera', 'Fábrica de sidra fructífera. 3x4')
            +itemGaleriaImagenes('mejorable/fabrica-sidra-abundante', 'Fábrica de sidra abundante. 3x5')
            +itemGaleriaImagenes('mejorable/fabrica-sidra-prospera', 'Fábrica de sidra próspera. 3x6')
            +itemGaleriaImagenes('mejorable/fabrica-sidra-vigorosa', 'Fábrica de sidra vigorosa. 3x7')
        h3.h3 Gran Puente
        .contenedor__alineacion__centrar
            img(src="img/mejorable/gran-puente.png" alt="FOE. Gran Puente")
        p.texto--especial El #[a.link(href="http://forgeofempires.wikia.com/wiki/Grand_Bridge") Gran Puente] es un edificio que fue la recompensa especial del Evento de Carnival 2018. Cuando es motivado produce felicidad y todas sus efectos adicionales están disponibles: suministros, FPs, medallas y bienes refinados (suministros a partir del nivel 2, FPs del 3, medallas del 4 y bienes del 6). Se extiende en un rectángulo de 4x3, que no varía al ir mejorando su estatus.
        p.texto--especial Puede actualizarse #[span.texto--enfasis seis] veces.
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('mejorable/gran-puente-2', 'Gran Puente nivel 2')
            +itemGaleriaImagenes('mejorable/gran-puente-3', 'Gran Puente nivel 3')
            +itemGaleriaImagenes('mejorable/gran-puente-4', 'Gran Puente nivel 4')
            +itemGaleriaImagenes('mejorable/gran-puente-5', 'Gran Puente nivel 5')
            +itemGaleriaImagenes('mejorable/gran-puente-6', 'Gran Puente nivel 6')
            +itemGaleriaImagenes('mejorable/gran-puente-7', 'Gran Puente nivel 7')
        h3.h3 Pilar de los Héroes
        .contenedor__alineacion__centrar
            img(src="img/mejorable/pilar-heroes.png" alt="FOE. Pilar de los Héroes")
        p.texto--especial El #[a.link(href="http://forgeofempires.wikia.com/wiki/Pillar_of_Heroes") Pilar de los Héroes] es un edificio que apareció en el Evento Forge Bowl 2018 que entrega monedas y suministros. Cuando es motivado, sus características especiales están disponibles: FPs a partir del nivel 2, medallas del 3, bienes refinados del 4. Su tamaño, invariable, es de 3x3.
        p.texto--especial Puede actualizarse #[span.texto--enfasis seis] veces.
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('mejorable/pilar-heroes-2', 'Pilar de los Héroes nivel 2')
            +itemGaleriaImagenes('mejorable/pilar-heroes-3', 'Pilar de los Héroes nivel 3')
            +itemGaleriaImagenes('mejorable/pilar-heroes-4', 'Pilar de los Héroes nivel 4')
            +itemGaleriaImagenes('mejorable/pilar-heroes-5', 'Pilar de los Héroes nivel 5')
            +itemGaleriaImagenes('mejorable/pilar-heroes-6', 'Pilar de los Héroes nivel 6')
            +itemGaleriaImagenes('mejorable/pilar-heroes-7', 'Pilar de los Héroes nivel 7')
        h3.h3 Tholos de Ídolos
        .contenedor__alineacion__centrar
            img(src="img/mejorable/tholos-idolos.png" alt="FOE. Tholos de Ídolos")
        p.texto--especial El #[a.link(href="http://forgeofempires.wikia.com/wiki/Tholos_of_Idols") Tholos de Ídolos] es un edificio que protagonizó el evento Copa de Fútbol FOE 2018. Proporciona monedas y felicidad. Cuando es motivado la entrega de monedas se dobla y se activan sus beneficios extra: suministros a partir del nivel 2, medallas del 3, FPs del 4, bienes del 5. Su tamaño de 4x4 no varía.
        p.texto--especial Puede actualizarse #[span.texto--enfasis nueve] veces.
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('mejorable/tholos-idolos-2', 'Tholos de Ídolos nivel 2')
            +itemGaleriaImagenes('mejorable/tholos-idolos-3', 'Tholos de Ídolos nivel 3')
            +itemGaleriaImagenes('mejorable/tholos-idolos-4', 'Tholos de Ídolos nivel 4')
            +itemGaleriaImagenes('mejorable/tholos-idolos-5', 'Tholos de Ídolos nivel 5')
            +itemGaleriaImagenes('mejorable/tholos-idolos-6', 'Tholos de Ídolos nivel 6')
            +itemGaleriaImagenes('mejorable/tholos-idolos-7', 'Tholos de Ídolos nivel 7')
            +itemGaleriaImagenes('mejorable/tholos-idolos-8', 'Tholos de Ídolos nivel 8')
            +itemGaleriaImagenes('mejorable/tholos-idolos-9', 'Tholos de Ídolos nivel 9')
            +itemGaleriaImagenes('mejorable/tholos-idolos-10', 'Tholos de Ídolos nivel 10')
        h3.h3 El Barco
        .contenedor__alineacion__centrar
            img(src="img/mejorable/barco.png" alt="FOE. El Barco")
        p.texto--especial El #[a.link(href="http://forgeofempires.wikia.com/wiki/The_Ship") Barco] es un edificio residencial lanzado en el Evento de Verano 2018. Aparte de la entrega de monedas diaria, cuando es motivado, se duplica esta cantidad y sus características especiales se activan: medallas a partir del nivel 2, FPs del 3, bienes refinados del 4. Asimismo, proporciona suministros desde el primer momento, que van aumentando a medida que mejora su estatus. Es un ítem muy grande, de tamaño fijo 7x3.  
        p.texto--especial Puede actualizarse #[span.texto--enfasis seis] veces. Ahora bien, la última mejora supone elegir entre tres modelos distintos:
        ul.texto--especial.lista-desordenada
            li Barco Real: bonus de producción de monedas
            li Barco Mercante: bonus de producción de suministros
            li Barco Pirata: bonus de ataque
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('mejorable/barco-2', 'El Barco nivel 2')
            +itemGaleriaImagenes('mejorable/barco-3', 'El Barco nivel 3')
            +itemGaleriaImagenes('mejorable/barco-4', 'El Barco nivel 4')
            +itemGaleriaImagenes('mejorable/barco-5', 'El Barco nivel 5')
            +itemGaleriaImagenes('mejorable/barco-6', 'El Barco nivel 6')
            +itemGaleriaImagenes('mejorable/barco-real', 'El Barco nivel 7. Barco Real')
            +itemGaleriaImagenes('mejorable/barco-mercante', 'El Barco nivel 7. Barco Mercante')
            +itemGaleriaImagenes('mejorable/barco-pirata', 'El Barco nivel 7. Barco Pirata')
        h3.h3 Molino de Otoño
        .contenedor__alineacion__centrar
            img(src="img/mejorable/molino.png" alt="FOE. Molino de Otoño")
        p.texto--especial El #[a.link(href="http://forgeofempires.wikia.com/wiki/Mill_of_Fall") Molino de Otoño] es un edificio residencial que fue el premio destacado del Evento de Otoño 2018. Genera monedas cada 24 horas, cantidad que se dobla cuando es motivado. Asimismo, esta acción permite que se activen sus características adicionales: suministros a partir del nivel 2, medallas del 3, bienes refinados del 4 y un FP del 5. Su tamaño de 3x3 no varía.
        p.texto--especial Puede actualizarse #[span.texto--enfasis seis] veces. Como en el caso de #[span.texto--enfasis El Barco], la última actualización supone optar por una de las tres variantes disponibles.
         ul.texto--especial.lista-desordenada
            li Molino de Agua: énfasis en los bienes refinados
            li Molino con Girasoles: equilibrado en bienes y FPs 
            li Molino Colorido:  énfasis en los FPs
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('mejorable/molino-2', 'El Molino de Otoño nivel 2')
            +itemGaleriaImagenes('mejorable/molino-3', 'El Molino de Otoño nivel 3')
            +itemGaleriaImagenes('mejorable/molino-4', 'El Molino de Otoño nivel 4')
            +itemGaleriaImagenes('mejorable/molino-5', 'El Molino de Otoño nivel 5')
            +itemGaleriaImagenes('mejorable/molino-6', 'El Molino de Otoño nivel 6')
            +itemGaleriaImagenes('mejorable/molino-agua', 'El Molino de Otoño nivel 7. Molino de Agua')
            +itemGaleriaImagenes('mejorable/molino-girasoles', 'El Molino de Otoño nivel 7. Molino con Girasoles')
            +itemGaleriaImagenes('mejorable/molino-colorido', 'El Molino de Otoño nivel 7. Molino Colorido')
        h3.h3 Aguja Invernal
        .contenedor__alineacion__centrar
            img(src="img/mejorable/aguja.png" alt="FOE. Aguja Invernal")
        p.texto--especial La #[a.link(href="http://forgeofempires.wikia.com/wiki/Winter_Spire") Aguja Invernal] es un edificio residencial que fue la recompensa destacada del Evento de Invierno 2018. Proporciona monedas cada 24 horas. Cuando es motivado, esta cantidad se dobla y están disponibles sus características distintivas: suministros a partir del nivel 2, bienes refinados del 3, FPs del 4, bonus defensivo del 5. Ocupa un espacio inalterable de 4x4.
        p.texto--especial Puede actualizarse #[span.texto--enfasis once] veces.
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('mejorable/aguja-2', 'Aguja Invernal nivel 2')
            +itemGaleriaImagenes('mejorable/aguja-3', 'Aguja Invernal nivel 3')
            +itemGaleriaImagenes('mejorable/aguja-4', 'Aguja Invernal nivel 4')
            +itemGaleriaImagenes('mejorable/aguja-5', 'Aguja Invernal nivel 5')
            +itemGaleriaImagenes('mejorable/aguja-6', 'Aguja Invernal nivel 6')
            +itemGaleriaImagenes('mejorable/aguja-7', 'Aguja Invernal nivel 7')
            +itemGaleriaImagenes('mejorable/aguja-8', 'Aguja Invernal nivel 8')
            +itemGaleriaImagenes('mejorable/aguja-9', 'Aguja Invernal nivel 9')
            +itemGaleriaImagenes('mejorable/aguja-10', 'Aguja Invernal  nivel 10')
            +itemGaleriaImagenes('mejorable/aguja-11', 'Aguja Invernal  nivel 11')
            +itemGaleriaImagenes('mejorable/aguja-12', 'Aguja Invernal  nivel 12')
        h3.h3 El Coloso
        .contenedor__alineacion__centrar
            img(src="img/mejorable/colossus.png" alt="FOE. El Coloso")
        p.texto--especial #[a.link(href="http://forgeofempires.wikia.com/wiki/Colossus") El Coloso] es un edificio residencial especial que fue la recompensa principal del Evento Forge Bowl 2019. Además de las monedas y la población que proporcionan este tipo de elementos, cuando es motivado se activan los siguientes extras: medallas a partir del nivel 2, FPs del 3 y un bono de mejora de ataque del 4. Ocupa un área inalterable de 4x4.
        p.texto--especial Puede actualizarse #[span.texto--enfasis nueve] veces.
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('mejorable/colossus-2', 'El Coloso nivel 2')
            +itemGaleriaImagenes('mejorable/colossus-3', 'El Coloso nivel 3')
            +itemGaleriaImagenes('mejorable/colossus-4', 'El Coloso nivel 4')
            +itemGaleriaImagenes('mejorable/colossus-5', 'El Coloso nivel 5')
            +itemGaleriaImagenes('mejorable/colossus-6', 'El Coloso nivel 6')
            +itemGaleriaImagenes('mejorable/colossus-7', 'El Coloso nivel 7')
            +itemGaleriaImagenes('mejorable/colossus-8', 'El Coloso nivel 8')
            +itemGaleriaImagenes('mejorable/colossus-9', 'El Coloso nivel 9')
            +itemGaleriaImagenes('mejorable/colossus-10', 'El Coloso nivel 10')
        h3.h3 Pagoda
        .contenedor__alineacion__centrar
            img(src="img/mejorable/pagoda.png" alt="FOE. Pagoda")
        p.texto--especial La #[a.link(href="https://forgeofempires.fandom.com/wiki/Pagoda") Pagoda] es un edificio residencial especial que se entregó como recompensa principal del Evento de Primavera 2019. Además de monedas, población y felicidad, a medida que mejora de nivel otorga suministros, medallas, bienes y FPs. Al llegar al nivel 6, se puede elegir entre Pagoda de Agua (mayor énfasis en la producción de bienes), de Fuego (con bonos para las fuerzas atacantes), o de Tierra (más FPs). Su área, inalterable, es de 4x4. Se puede mejorar #[span.texto--enfasis seis] veces.
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('mejorable/pagoda-2', 'Pagoda nivel 2')
            +itemGaleriaImagenes('mejorable/pagoda-3', 'Pagoda nivel 3')
            +itemGaleriaImagenes('mejorable/pagoda-4', 'Pagoda nivel 4')
            +itemGaleriaImagenes('mejorable/pagoda-5', 'Pagoda nivel 5')
            +itemGaleriaImagenes('mejorable/pagoda-6', 'Pagoda nivel 6')
            +itemGaleriaImagenes('mejorable/pagoda-7-agua', 'Pagoda nivel 7. Pagoda de Agua')
            +itemGaleriaImagenes('mejorable/pagoda-7-fuego', 'Pagoda nivel 7. Pagoda de Fuego')
            +itemGaleriaImagenes('mejorable/pagoda-7-tierra', 'Pagoda nivel 7. Pagoda de Tierra')
        h3.h3 Feria Mundial
        .contenedor__alineacion__centrar
            img(src="img/mejorable/feria-mundial.png" alt="FOE. Feria Mundial")
        p.texto--especial La #[a.link(href="https://es.wiki.forgeofempires.com/index.php?title=Feria_Mundial_-_Nvl._1") Feria Mundial] es un edificio residencial especial protagonista del Evento de Arquelogía (2019). Amén de población y monedas, genera FPs (aumentando nivel a nivel) y bienes a partir del ocho. Necesita un espacio de 6x4, inalterable. Se puede mejorar #[span.texto--enfasis nueve] veces.
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('mejorable/feria-mundial-2', 'Feria Mundial nivel 2')
            +itemGaleriaImagenes('mejorable/feria-mundial-3', 'Feria Mundial nivel 3')
            +itemGaleriaImagenes('mejorable/feria-mundial-4', 'Feria Mundial nivel 4')
            +itemGaleriaImagenes('mejorable/feria-mundial-5', 'Feria Mundial nivel 5')
            +itemGaleriaImagenes('mejorable/feria-mundial-6', 'Feria Mundial nivel 6')
            +itemGaleriaImagenes('mejorable/feria-mundial-7', 'Feria Mundial nivel 7')
            +itemGaleriaImagenes('mejorable/feria-mundial-8', 'Feria Mundial nivel 8')
            +itemGaleriaImagenes('mejorable/feria-mundial-9', 'Feria Mundial nivel 9')
            +itemGaleriaImagenes('mejorable/feria-mundial-10', 'Feria Mundial nivel 10')
        h3.h3 Nido del Cuervo
        .contenedor__alineacion__centrar
            img(src="img/mejorable/nido-cuervo-1.png" alt="FOE. Nido del Cuervo")
        p.texto--especial El #[a.link(href="https://es.wiki.forgeofempires.com/index.php?title=Nido_de_Cuervo_-_Nvl._1") Nido del Cuervo] es un edificio residencial especial que protagonizó el Evento de Verano 2019. Produce monedas y FP's cada 24 horas. Además de su producción regular, entrega una recompensa aleatoria, dependiendo de su nivel. En el máximo, vale decir el ocho, estos ítems son: diamantes, bienes refinados, FP's o medallas. Ocupa un área de 5x5, inalterable. Se puede mejorar #[span.texto--enfasis siete] veces.
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('mejorable/nido-cuervo-2', 'Nido del Cuervo nivel 2')
            +itemGaleriaImagenes('mejorable/nido-cuervo-3', 'Nido del Cuervo nivel 3')
            +itemGaleriaImagenes('mejorable/nido-cuervo-4', 'Nido del Cuervo nivel 4')
            +itemGaleriaImagenes('mejorable/nido-cuervo-5', 'Nido del Cuervo nivel 5')
            +itemGaleriaImagenes('mejorable/nido-cuervo-6', 'Nido del Cuervo nivel 6')
            +itemGaleriaImagenes('mejorable/nido-cuervo-7', 'Nido del Cuervo nivel 7')
            +itemGaleriaImagenes('mejorable/nido-cuervo-8', 'Nido del Cuervo nivel 8')
        h3.h3 Jardín del Altar
        .contenedor__alineacion__centrar
            img(src="img/mejorable/jardin-altar-1.png" alt="FOE. Jardín del Altar")
        p.texto--especial El #[a.link(href="https://es.wiki.forgeofempires.com/index.php?title=Jard%C3%ADn_del_Altar_-_Nvl._1") Jardín del Altar] es un edificio residencial especial que fue el premio principal del Evento Copa del Mundo FOE 2019. Entrega población, monedas y felicidad. Puede mejorarse #[span.texto--enfasis cuatro] veces. Al llegar al nivel 5 puede optarse por seis variantes, que enfatizan un aspecto concreto: medallas, bonus de ataque, FPs, incremento de generación de suministros y monedas, bienes, o un plano aleatorio de un Gran Edificio. Necesita un espacio, invariable, de 3x2.
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('mejorable/jardin-altar-2', 'Jardín del Altar nivel 2')
            +itemGaleriaImagenes('mejorable/jardin-altar-3', 'Jardín del Altar nivel 3')
            +itemGaleriaImagenes('mejorable/jardin-altar-4', 'Jardín del Altar nivel 4')
            +itemGaleriaImagenes('mejorable/jardin-altar-afrodita', 'Jardín del Altar. Altar Afrodita')
            +itemGaleriaImagenes('mejorable/jardin-altar-artemisa', 'Jardín del Altar. Altar Artemisa')
            +itemGaleriaImagenes('mejorable/jardin-altar-atenea', 'Jardín del Altar. Altar Atenea')
            +itemGaleriaImagenes('mejorable/jardin-altar-demeter', 'Jardín del Altar. Altar Deméter')
            +itemGaleriaImagenes('mejorable/jardin-altar-hera', 'Jardín del Altar. Altar Hera')  
            +itemGaleriaImagenes('mejorable/jardin-altar-hestia', 'Jardín del Altar. Altar Hestia')
        h3.h3 Cabaña de Septiembre
        .contenedor__alineacion__centrar
            img(src="img/mejorable/cabanya-septiembre-1.png" alt="FOE. Cabaña de Septiembre")
        p.texto--especial La #[a.link(href="https://forgeofempires.fandom.com/wiki/September_Cottage") Cabaña de Septiembre] es un edificio residencial especial que protagonizó El Evento Especial de Otoño 2019. Dota de población y monedas. Puede mejorarse #[span.texto--enfasis seis] veces. Al llegar al nivel 6, hay tres variantes optativas, que hacen hincapié en un apartado concreto del juego: bonificación de ataque, FPs, o bienes. Se extiende en un cuadrángulo de 3x4.
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('mejorable/cabanya-septiembre-2', 'Cabaña de Septiembre nivel 2')
            +itemGaleriaImagenes('mejorable/cabanya-septiembre-3', 'Cabaña de Septiembre nivel 3')
            +itemGaleriaImagenes('mejorable/cabanya-septiembre-4', 'Cabaña de Septiembre nivel 4')
            +itemGaleriaImagenes('mejorable/cabanya-septiembre-5', 'Cabaña de Septiembre nivel 5')
            +itemGaleriaImagenes('mejorable/cabanya-septiembre-6', 'Cabaña de Septiembre nivel 6')
            +itemGaleriaImagenes('mejorable/cabanya-septiembre-manzanos', 'Cabaña de Septiembre. Cabaña de Septiembre de los Manzanos')
            +itemGaleriaImagenes('mejorable/cabanya-septiembre-florida', 'Cabaña de Septiembre. Cabaña de Septiembre Florida')
            +itemGaleriaImagenes('mejorable/cabanya-septiembre-estanque', 'Cabaña de Septiembre. Cabaña de Septiembre del Estanque')
        h3.h3 Manicomio abandonado
        .contenedor__alineacion__centrar
            img(src="img/mejorable/manicomio-abandonado-1.png" alt="FOE. Manicomio abandonado")
        p.texto--especial El #[a.link(href="https://forgeofempires.fandom.com/wiki/Abandoned_Asylum") Manicomio abandonado] es un edificio residencial especial que se entregó como principal premio del Evento Halloween de 2019. Dota con 1 habitante, monedas y felicidad negativa. A medida que sube de nivel y es motivado entrega bienes, FPs y bonus ofensivo. Se puede mejorar #[span.texto--enfasis ocho] veces. Necesita un área de 5x5.
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('mejorable/manicomio-abandonado-2', 'Manicomio abandonado nivel 2')
            +itemGaleriaImagenes('mejorable/manicomio-abandonado-3', 'Manicomio abandonado nivel 3')
            +itemGaleriaImagenes('mejorable/manicomio-abandonado-4', 'Manicomio abandonado nivel 4')
            +itemGaleriaImagenes('mejorable/manicomio-abandonado-5', 'Manicomio abandonado nivel 5')
            +itemGaleriaImagenes('mejorable/manicomio-abandonado-6', 'Manicomio abandonado nivel 6')
            +itemGaleriaImagenes('mejorable/manicomio-abandonado-7', 'Manicomio abandonado nivel 7')
            +itemGaleriaImagenes('mejorable/manicomio-abandonado-8', 'Manicomio abandonado nivel 8')
            +itemGaleriaImagenes('mejorable/manicomio-abandonado-9', 'Manicomio abandonado nivel 9')
        h3.h3 Tren de Invierno
        .contenedor__alineacion__centrar
            img(src="img/mejorable/tren-invierno-1.png" alt="FOE. Tren de Invierno")
        p.texto--especial El #[a.link(href="https://forgeofempires.fandom.com/wiki/Winter_Train") Tren de Invierno] es un edificio residencial especial que fue el ítem destacado del Evento de Invierno 2019. Proporciona población, felicidad y monedas. A medida que sube de nivel genera suministros, medallas, FPS y bienes. Se puede mejorar #[span.texto--enfasis ocho] veces. Al llegar al nivel 9 se puede elegir una de tres versiones, con sus características concretas: bonus de ataque, bonus de producción de monedas y bonus de producción de suministros. Además de esto, se le puede añadir en la parte trasera un número indeterminado de vagones que aumentan lo entregado. Por ello no tiene una longitud definida en su conjunto, aunque sin vagones ocupa un área de 7x3.
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('mejorable/tren-invierno-2', 'Tren de Invierno nivel 2')
            +itemGaleriaImagenes('mejorable/tren-invierno-3', 'Tren de Invierno nivel 3')
            +itemGaleriaImagenes('mejorable/tren-invierno-4', 'Tren de Invierno nivel 4')
            +itemGaleriaImagenes('mejorable/tren-invierno-5', 'Tren de Invierno nivel 5')
            +itemGaleriaImagenes('mejorable/tren-invierno-6', 'Tren de Invierno nivel 6')
            +itemGaleriaImagenes('mejorable/tren-invierno-7', 'Tren de Invierno nivel 7')
            +itemGaleriaImagenes('mejorable/tren-invierno-8', 'Tren de Invierno nivel 8')
            +itemGaleriaImagenes('mejorable/tren-invierno-expreso-carbon', 'Tren de Invierno. Expreso de carbón')
            +itemGaleriaImagenes('mejorable/tren-invierno-expreso-evergreen', 'Tren de Invierno. Expreso Evergreen')
            +itemGaleriaImagenes('mejorable/tren-invierno-expreso-sleighride', 'Tren de Invierno. Expreso Sleighride')
            +itemGaleriaImagenes('mejorable/tren-invierno-vagon-mercancias', 'Tren de Invierno. Vagón de mercancias')
            +itemGaleriaImagenes('mejorable/tren-invierno-vagon-restaurante', 'Tren de Invierno. Vagón resturante')
            +itemGaleriaImagenes('mejorable/tren-invierno-vagon-dormitorio', 'Tren de Invierno. Vagón dormitorio')
        h3.h3 Tesorería Olímpica
        .contenedor__alineacion__centrar
            img(src="img/mejorable/tesoreria-olimpica-1.png" alt="FOE. Tesorería Olímpica")
        p.texto--especial La #[a.link(href="https://forgeofempires.fandom.com/wiki/Olympic_Treasury") Tesorería Olímpica] es un edificio residencial especial que fue la recompensa más destacada del Evento Forge Bowl 2020. Proporciona monedas, población y felicidad de forma regular y a medida que su nivel se incrementa también entrega suministros, bienes, FPs y un bono defensivo al ejército atacante. Se puede mejorar #[span.texto--enfasis nueve] veces. Necesita un área de 4x5.
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('mejorable/tesoreria-olimpica-2', 'Tesorería Olímpica nivel 2')
            +itemGaleriaImagenes('mejorable/tesoreria-olimpica-3', 'Tesorería Olímpica nivel 3')
            +itemGaleriaImagenes('mejorable/tesoreria-olimpica-4', 'Tesorería Olímpica nivel 4')
            +itemGaleriaImagenes('mejorable/tesoreria-olimpica-5', 'Tesorería Olímpica nivel 5')
            +itemGaleriaImagenes('mejorable/tesoreria-olimpica-6', 'Tesorería Olímpica nivel 6')
            +itemGaleriaImagenes('mejorable/tesoreria-olimpica-7', 'Tesorería Olímpica nivel 7')
            +itemGaleriaImagenes('mejorable/tesoreria-olimpica-8', 'Tesorería Olímpica nivel 8')
            +itemGaleriaImagenes('mejorable/tesoreria-olimpica-9', 'Tesorería Olímpica nivel 9')
            +itemGaleriaImagenes('mejorable/tesoreria-olimpica-10', 'Tesorería Olímpica nivel 10')
        h3.h3 Puente Hanami
        .contenedor__alineacion__centrar
            img(src="img/mejorable/puente-hanami-1.png" alt="FOE. Puente Hanami")
        p.texto--especial El #[a.link(href="https://forgeofempires.fandom.com/wiki/Hanami_Bridge") Puente Hanami] es un edificio residencial especial que protagonizó el Evento de Primavera 2020. Además de población, monedas y felicidad a medida que aumenta su estatus también entrega medallas, bienes y FPs. Se puede subir su nivel #[span.texto--enfasis siete] veces. Cuando llega al nivel 7 se puede eligir una de dos versiones, que enfatizan lo siguiente: más FPs, o un bono de ataque al ejército defensivo. Se extiende en una superficie de 4x6.
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('mejorable/puente-hanami-2', 'Puente Hanami nivel 2')
            +itemGaleriaImagenes('mejorable/puente-hanami-3', 'Puente Hanami nivel 3')
            +itemGaleriaImagenes('mejorable/puente-hanami-4', 'Puente Hanami nivel 4')
            +itemGaleriaImagenes('mejorable/puente-hanami-5', 'Puente Hanami nivel 5')
            +itemGaleriaImagenes('mejorable/puente-hanami-6', 'Puente Hanami nivel 6')
            +itemGaleriaImagenes('mejorable/puente-hanami-7', 'Puente Hanami nivel 7')
            +itemGaleriaImagenes('mejorable/puente-hanami-puente-mikawa', 'Puente Hanami. Puente Mikawa')
            +itemGaleriaImagenes('mejorable/puente-hanami-puente-mikoto', 'Puente Hanami. Puente Mikoto')