.main__contenedor
    article.articulo
        h2.articulo__titulo--index Edificios Culturales
        hr.hr
        p.texto--especial Los edificios culturales proporcionan #[span.texto--enfasis felicidad], un aspecto básico para el óptimo desarrollo de la ciudad. Necesitan estar conectados con el Ayuntamiento mediante una carretera o camino.
        p.texto--especial El concepto de #[span.texto--enfasis felicidad] en Forge es capital, ya que la satisfacción de la población influye directamente en la producción de monedas y suministros. Asimismo, un buen porcentaje aumenta la puntuación en la batallas ganadas a los vecinos de tu barrio. La felicidad no altera la producción de bienes.
        p.texto--especial Hay unos valores relevantes en el cálculo del porcentaje de productividad:
        ul.texto--especial.lista-desordenada
            li La #[strong demanda de felicidad], que es igual a la población total de la ciudad.
            li La #[strong provision de felicidad], que equivale a la suma total de felicidad aportada por los edificios e ítems de la ciudad.
            li La #[strong ratio de felicidad], que se calcula dividiendo la felicidad proporcionada entre la demanda de la misma.
        p.texto--especial En base a esta ratio se construye la tabla siguiente:
        .contenedor__alineacion__centrar
            table.table
                thead.thead
                    tr.tr
                        th.th Ratio Felicidad
                        th.th Estado Población
                        th.th Productividad
                tbody.tbody
                    tr.tr
                        td.td Más de 1,4
                        td.td Entusiasmo
                        td.td 120%
                    tr.tr
                        td.td Entre 1 y 1,4
                        td.td Felicidad
                        td.td 100%
                    tr.tr
                        td.td Menos de 1
                        td.td Descontento
                        td.td 50%
        p.texto--especial Los edificios culturales no son el único recurso para dotar de felicidad a los ciudadanos. Algunos #[span.texto--enfasis Grandes Edificios], ciertos #[span.texto--enfasis edificios especiales], las #[span.texto--enfasis decoraciones], incluso la mejora de #[span.texto--enfasis caminos y carreteras] contribuyen.
        p.texto--especial La mayoría de edificios que proporcionan felicidad pueden ser motivados por vecinos, amigos o compañeros del Gremio. Este estímulo multiplica la felicidad que entregan estos objetos.
        p.texto--especial A continuación, se van a describir los edificios culturales disponibles, agrupados por Edades. En cada ítem se informa de:
        ul.texto--especial.lista-desordenada
            li Costes de construcción en monedas, suministros y en el caso de edificios premium, en diamantes.
            li Tamaño.
            li Ancho del camino necesario.
            li Tiempo necesario para finalizar su construcción.
            li Felicidad proporcionada.
            li Felicidad proporcionada por cuadrado de extensión.
        h3.texto--especial Novedades en la Era Espacial Marciana
        p.texto--especial En esta Edad hay edificios culturales similares a los habituales en la Tierra y #[span.texto--enfasis Edificios de Soporte Vital] en Marte, que proporcionan #[span.texto--enfasis Soporte Vital], el equivalente marciano a la Felicidad. Si se tiene una cantidad óptima de Soporte Vital el jugador recibirá un descuento al producir bienes en la Colonia marciana.  
        article.articulo#bronce
            h2.articulo__titulo Edad de Bronce
            .articulo__contenedor
                section.cultural
                    +cardCultural(false, 'escuela', 'Escuela', 0, 1500, 290, '3x3', 1,'30 minutos', 240, 27)
                    +cardCultural(false, 'taberna', 'Taberna', 0, 2900, 440, '3x3', 1,'40 minutos', 280, 31)
                    +cardCultural(true, 'teatro', 'Teatro', 100, 0, 0, '4x3', 1,'20 segundos', 540,  45)
                    +cardCultural(false, 'circulo-piedra', 'Círculo de piedra', 0, 780, 140, '3x3', 1,'10 minutos', 182, 20)
        article.articulo#hierro
            h2.articulo__titulo Edad de Hierro
            .articulo__contenedor
                section.cultural
                    +cardCultural(false, 'arco-triunfo', 'Arco del Triunfo', 0, 1900, 1400, '3x2', 1,'1 hora', 190, 32)
                    +cardCultural(true, 'anfiteatro', 'Anfiteatro', 250, 0, 0, '4x4', 1,'20 segundos', 880, 55)
                    +cardCultural(false, 'banyos-publicos', 'Baños públicos', 0, 6000, 3700, '4x4', 1,'1 hora y 50 minutos', 570, 36)
        article.articulo#aem
            h2.articulo__titulo Alta Edad Media
            .articulo__contenedor
                section.cultural
                    +cardCultural(false, 'horca', 'Horca', 0, 2200, 2600, '2x2',1, '2 horas', 160, 40)
                    +cardCultural(false, 'mercado', 'Mercado', 0, 4900, 18200, '3x3', 1,'30 minutos', 430, 48)
                    +cardCultural(true, 'picota', 'Picota', 150, 0, 0, '2x2', 1, '20 segundos', 300, 75)
                    +cardCultural(false, 'posada', 'Posada', 0, 7400, 3600, '3x3', 1,'3 horas y 40 minutps', 330, 37)
        article.articulo#pem
            h2.articulo__titulo Plena Edad Media
            .articulo__contenedor
                section.cultural
                    +cardCultural(false, 'iglesia', 'Iglesia', 0, 66000, 45000, '3x3', 1,'10 horas y 40 minutos', 520, 58)
                    +cardCultural(false, 'consultorio', 'Consultorio', 0, 7000, 22000, '3x3', 1,'6 horas 40 minutos', 470, 52)
                    +cardCultural(true, 'imprenta', 'Imprenta', 400, 0, 0, '3x3',1, '20 segundos', 780,  87)
        article.articulo#bem
            h2.articulo__titulo Baja Edad Media
            .articulo__contenedor
                section.cultural
                    +cardCultural(false, 'biblioteca', 'Biblioteca', 0, 81000, 111000, '4x4', 1,'13 horas 30 minutos', 940,  59)
                    +cardCultural(true, 'palacio', 'Palacio', 500, 0, 0, '4x4', 1, '20 segundos', 1500,  94)
                    +cardCultural(false, 'academia', 'Academia', 0, 115000, 111000, '4x4', 1,'14 horas', 980, 61)
                    +cardCultural(false, 'cartografo', 'Cartógrafo', 0, 30000, 19000, '3x2', 1,'8 horas', 320, 53)
        article.articulo#colonial
            h2.articulo__titulo Edad Colonial
            .articulo__contenedor
                section.cultural
                    +cardCultural(false, 'empresa-comercial', 'Empresa comercial', 0, 80000, 194000, '3x4', 1,'14 horas y 20 minutos', 900, 75)
                    +cardCultural(true, 'circo-ambulante', 'Circo ambulante', 500, 0, 0, '5x5', 1,'20 segundos', 2800, 112)
                    +cardCultural(false, 'vendedor-productos-exoticos', 'Vendedor de productos exóticos', 0, 27000, 40000, '3x2', 1,'9 horas y 40 minutos', 400, 67)
                    +cardCultural(false, 'barberia', 'Barbería', 0, 67000, 26000, '3x2', 1,'10 horas y 50 minutos', 440, 73)
        article.articulo#industrial
            h2.articulo__titulo Edad Industrial
            .articulo__contenedor
                section.cultural
                    +cardCultural(false, 'cantina', 'Cantina', 0, 20000, 153000, '3x3', 1,'10 horas y 20 minutos', 700, 78)
                    +cardCultural(false, 'comisaria', 'Comisaría', 0, 93000, 144000, '3x4', 1,'12 horas y 50 minutos', 980, 82)
                    +cardCultural(false, 'estacion-bombeo-agua', 'Estación de bombeo de agua', 0, 155000, 400000, '4x5', 1,'15 horas y 30 minutos', 1700, 85)
                    +cardCultural(true, 'museo-historia-natural', 'Museo de Historia Natural', 500, 0, 0, '6x4', 1,'20 segundos', 3230, 135)
        article.articulo#progreso
            h2.articulo__titulo Edad del Progreso
            .articulo__contenedor
                section.cultural
                    +cardCultural(false, 'empresa-editorial', 'Empresa editorial', 0, 124000, 116000, '4x3', 1,'11 horas y 50 minutos', 1030, 86)
                    +cardCultural(false, 'central-electrica', 'Central eléctrica', 0, 306000, 353000, '5x5', 2,'14 horas y 30 minutos', 2620, 105)
                    +cardCultural(false, 'parque-municipal', 'Parque municipal', 0, 116000, 601000, '5x6', 1,'15 horas y 50 minutos', 2850, 95)
                    +cardCultural(true, 'zepelin', 'Zepelín', 600, 0, 0, '3x6', 1, '20 segundos', 2730, 152)
                    +cardCultural(false, 'entrada-metro', 'Entrada del Metro', 0, 23000, 8000, '2x1', 1,'6 horas y 40 minutos', 180, 90)
        article.articulo#moderna
            h2.articulo__titulo Edad Moderna
            .articulo__contenedor
                section.cultural
                    +cardCultural(true, 'parque-atracciones', 'Parque de atracciones', 900, 0, 0, '8x4', 2,'20 segundos', 5200, 162)
                    +cardCultural(false, 'autocine', 'Autocine', 0, 458000, 320000, '6x4', 2,'15 horas y 20 minutos', 2800, 117)
                    +cardCultural(false, 'restaurante-americano', 'Restaurante americano', 0, 43000, 230000, '3x4', 2,'8 horas', 1300, 108)
                    +cardCultural(false, 'pista-patinaje', 'Pista de patinaje sobre ruedas', 0, 136000, 144000, '5x4', 1,'12 horas', 1910, 96)
        article.articulo#postmoderna
            h2.articulo__titulo Edad Postmoderna
            .articulo__contenedor
                section.cultural
                    +cardCultural(true, 'festival-musica', 'Festival de música', 750, 0, 0, '5x5', 2,'20 segundos', 4550, 182)
                    +cardCultural(false, 'zoo', 'Zoo', 0, 321000, 531000, '5x6', 2, '13 horas y 20 minutos', 3510, 117)
                    +cardCultural(false, 'piscina-publica', 'Piscina pública', 0, 80000, 700000, '5x4', 2,'16 horas', 2500, 125)
                    +cardCultural(false, 'campo-golf', 'Campo de golf', 0, 510000, 425000, '6x4', 1,'10 horas y 40 minutos', 2600, 108)
        article.articulo#contemporanea
            h2.articulo__titulo Edad Contemporánea
            .articulo__contenedor
                section.cultural
                    +cardCultural(false, 'centro-comercial', 'Centro comercial', 0, 160000, 769000, '5x5', 2,'14 horas y 40 minutos', 3650, 146)
                    +cardCultural(false, 'jardin-zen', 'Jardín Zen', 0, 213000, 119000, '2x4', 1,'8 horas y 40 minutos', 1030, 129)
                    +cardCultural(false, 'mercado-flotante', 'Mercado flotente', 0, 271000, 622000, '6x4', 1,'12 horas', 2760, 115)
                    +cardCultural(true, 'casino', 'Casino', 500, 0, 0, '4x4', 2, '20 segundos', 3470, 217)
        article.articulo#manyana
            h2.articulo__titulo Era del Mañana
            .articulo__contenedor
                section.cultural
                    +cardCultural(true, 'estadio-hologramas', 'Estadio de hologramas', 800, 0, 0, '5x5', 1,'20 segundos', 6730, 269)
                    +cardCultural(false, 'torre-club', 'Torre Club', 0, 350000, 550000, '5x4', 2,'14 horas y 40 minutos', 3000, 150)
                    +cardCultural(false, 'nexo-vigilancia', 'Nexo de vigilancia', 0, 78000, 123000, '4x4', 1,'8 horas', 2000, 125)
                    +cardCultural(false, 'feria-vehiculos-conceptuales', 'Feria de vehículos conceptuales', 0, 335000, 660000, '6x4', 2,'20 horas', 3900, 162)
        article.articulo#futuro
            h2.articulo__titulo Futuro
            .articulo__contenedor
                section.cultural
                    +cardCultural(false, 'ecoparque', 'Ecoparque', 0, 506000, 549000, '6x5', 2,'21 horas', 7000, 233)
                    +cardCultural(false, 'dirigible-algas', 'Dirigible de algas', 0, 99000, 106000, '3x3', 1,'8 horas', 1350, 150)
                    +cardCultural(true, 'sala-conciertos', 'Sala de conciertos', 600, 0, 0, '4x4', 1,'20 segundos', 5860, 366)
                    +cardCultural(false, 'estacion-meteorologica', 'Estación meteorológica', 0, 439000, 559000, '4x3', 2,'13 horas y 20 minutos', 2300, 192)
        article.articulo#futuro-artico
            h2.articulo__titulo Futuro Ártico
            .articulo__contenedor
                section.cultural
                    +cardCultural(true, 'parque-holovacaciones', 'Parque de holovacaciones', 900, 0, 0, '6x6', 2,'20 segundos', 16000, 444)
                    +cardCultural(false, 'transporte-rapido-personal', 'Transporte rápido personal', 0, 621000, 762000, '7x4', 2, '13 horas y 20 minutos', 7200, 257)
                    +cardCultural(false, 'torre-comunicaciones', 'Torre de comunicaciones', 0, 535000, 357000, '4x5', 2,'9 horas', 5800, 290)
                    +cardCultural(false, 'zoo-vertical', 'Zoo vertical', 0, 135000, 717000, '6x3', 1,'8 horas', 6140, 341)
                    +cardCultural(true, 'laguna-azul', 'Laguna azul', 750, 0, 0, '5x5', 1,'20 segundos', 11940, 478)
        article.articulo#futuro-oceanico
            h2.articulo__titulo Futuro Oceánico
            .articulo__contenedor
                section.cultural
                    +cardCultural(true, 'marisqueria', 'Marisquería', 1000, 0, 0, '6x5', 2,'20 segundos', 14490, 483)
                    +cardCultural(false, 'domo-agua', 'Domo de agua', 0, 266000, 633000, '4x3', 1,'9 horas', 4300, 358)
                    +cardCultural(false, 'dinamo-voragine', 'Dinamo de vorágine', 0, 962000, 2031000, '6x6', 1,'8 horas', 15360, 427)
                    +cardCultural(true, 'arrecife-coral', 'Arrecife de coral', 1000, 0, 0, '8x4', 2,'20 segundos', 16110, 503)
                    +cardCultural(false, 'centro-rescate-tortugas', 'Centro de rescate de tortugas', 0, 1304000, 996000, '5x5', 2,'16 horas', 11000, 440)
                    +cardCultural(false, 'almacen-comercial', 'Almacén comercial', 0, 1505000, 1633000, '7x4', 2,'16 horas', 13230, 473)
                    +cardCultural(false, 'naufragio', 'Naufragio', 0, 1091000, 1234000, '6x3', 2,'8 horas', 8600, 478)
                    +cardCultural(true, 'parque-acuatico', 'Parque acuático', 1100, 0, 0, '4x6', 2,'20 segundos', 13920, 580)
                    +cardCultural(false, 'cala-secreta', 'Cala secreta', 0, 1324000, 1371000, '4x5', 2,'16 horas', 9690, 485)
        article.articulo#futuro-virtual
            h2.articulo__titulo Futuro Virtual
            .articulo__contenedor
                section.cultural
                    +cardCultural(false, 'bar-karaoke', 'Bar karaoke', 0, 2002000, 2499000, '5x6', 2,'13 horas y 20 minutos', 15520, 517)
                    +cardCultural(true, 'robot-gigante', 'Robot gigante', 750, 0, 0, '4x4', 1,'20 segundos', 13170, 823)
                    +cardCultural(false, 'casino-dragon', 'Casino Dragón', 0, 1561000, 1961000, '4x5', 1, '13 horas y 20 minutos', 16580, 829)
                    +cardCultural(false, 'desfile', 'Desfile', 0, 1634000, 2065000, '6x3', 1, '13 horas y 20 minutos', 11850, 658)
        article.articulo#espacial-marciana-tierra
            h2.articulo__titulo Era Espacial Marciana: Tierra
            .articulo__contenedor
                section.cultural
                    +cardCultural(false, 'plato-satelite', 'Plato de de satélite', 0, 1530000, 2233000, '3x4', 2, '13 horas y 20 minutos', 11290, 941)
                    +cardCultural(true, 'academia-espacial', 'Academia Espacial', 750, 0, 0, '5x4', 1, '20 segundos', 22580, 1129)
        article.articulo#espacial-marciana-marte
            h2.articulo__titulo Era Espacial Marciana: Marte
            .articulo__contenedor
                section.cultural
                    +cardCultural(false, 'dispensador-alimenticio', 'Dispensador alimenticio autónomo', 0, 156231, 187478, '4x4', 0, '8 horas', 625, 39)
                    +cardCultural(false, 'generador-oxigeno', 'Generador de oxígeno', 0, 7500, 9000, '1x1', 0, '1 hora', 18, 18)
                    +cardCultural(false, 'maquina-recombinacion', 'Máquina de recombinación', 0, 30000, 36000, '2x2', 0, '2 horas', 108, 27)
                    +cardCultural(false, 'estacion-refinamiento', 'Estación de refinamiento', 0, 105129, 126155, '3x4', 0, '2 horas', 337, 28)
                    +cardCultural(false, 'panel-solar-este', 'Panel solar este', 0, 15000, 18000, '2x1', 0, '1 hora', 42, 21)
                    +cardCultural(false, 'panel-solar-sur', 'Panel solar sur', 0, 15000, 18000, '1x2', 0, '1 hora', 42, 21)
        article.articulo#cinturon-asteroides-tierra
            h2.articulo__titulo Era Espacial Cinturón de Asteroides: Tierra
            .articulo__contenedor
                section.cultural
                    +cardCultural(true, 'bolsa-asteroides', 'Bolsa de Asteroides', 750, 0, 0, '5x3', 2, '20 segundos', 17500, 1167)
                    +cardCultural(false, 'cuartel-general-mineria-cinturon', 'Cuartel General de Minería del Cinturón', 0, 2966000, 3181000, '5x5', 2, '13 horas y 20 minutos', 18820, 753)
        article.articulo#cinturon-asteroides-colonia
            h2.articulo__titulo Era Espacial Cinturón de Asteroides: Colonia
            .articulo__contenedor
                section.cultural
                    +cardCultural(false, 'contenedor-almacenamiento', 'Contenedor de almacenamiento', 0, 39600, 46800, '2x2', 0, '1 hora', 18, 4)
                    +cardCultural(false, 'tanque-combustible', 'Tanque de combustible', 0, 60227, 71177, '3x2', 0, '2 horas', 28, 4)
                    +cardCultural(false, 'reactor-subterraneo', 'Reactor subterraneo', 0, 83623, 98827, '2x4', 0, '2 horas', 51, 6)
                    +cardCultural(false, 'embarcadero-espacial', 'Embarcadero espacial', 0, 206225, 243721, '4x4', 0, '8 horas', 125, 7)