.main__contenedor
    article.articulo#sin-era
        h2.articulo__titulo Sin Era
        .articulo__contenedor
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Observatorio','observatorio','Observatorio','3x3','Incrementa la bonificación de reserva de asistencia y entrega bienes de la edad actual a la Tesorería del Gremio.')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Or%C3%A1culo_de_Delfos','oraculo','Oráculo de Delfos','3x3','Aumenta la felicidad y entrega suministros cada 24 horas.')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Templo_de_las_Reliquias','templo','Templo de las Reliquias','6x6','Permite que haya un porcentaje de probabilidad de que aparezca una reliquia al finalizar un encuentro en las Expediciones de Gremio.')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Torre_de_G%C3%A1lata', 'torre-galata', 'Torre Gálata', '3x3', 'Existe un porcentaje de posibilidades de no sufrir saqueo ante un ataque de un vecino las primeras x veces. Además, entrega bienes aleatorios de la Era presente, a partir de la Era Moderna son bienes sin refinar.')
    article.articulo#bronce
        h2.articulo__titulo Edad de Bronce
        .articulo__contenedor
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Torre_de_Babel','babel','Torre de Babel','4x4','Aumenta la población y entrega bienes de la edad presente al azar cada 24 horas. A partir de la Edad Moderna entrega el doble de bienes sin refinar.')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Torre_de_Babel','babel-2','Torre de Babel (nuevo diseño)','-','-')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Estatua_de_Zeus','zeus','Estatua de Zeus','2x3',' Aumenta el ataque y la defensa de las unidades cuando actúan como atacantes.')
    article.articulo#hierro
        h2.articulo__titulo Edad de Hierro
        .articulo__contenedor
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Coliseo','coliseo','Coliseo','6x7','Aumenta la felicidad y entrega una pequeña cantidad de medallas cada 24 horas.')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Faro_de_Alejandr%C3%ADa','faro','Faro de Alejandría','4x4','Aumenta la producción de suministros 40 recogidas de estos edificios por día y entrega bienes de la edad presente al azar cada 24 horas. A partir de la Edad Moderna entrega el doble de bienes sin refinar.')
    article.articulo#aem
        h2.articulo__titulo Alta Edad Media
        .articulo__contenedor
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Santa_Sof%C3%ADa','sofia','Santa Sofía','7x6','Aumenta la felicidad y entrega una cantidad de Forge Points cada 24 horas.')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Catedral_de_Aachen','aachen','Catedral de Aachen','4x6','Aumenta el ataque y la defensa de las unidades cuando actúan como atacantes y entrega monedas cada 24 horas.')
    article.articulo#pem
        h2.articulo__titulo Plena Edad Media
        .articulo__contenedor
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Bas%C3%ADlica_de_San_Marcos','san-marcos','Basílica de San Marcos','6x6','Aumenta la producción de monedas para las primeras 90 entregas diarias y proporciona bienes de la edad presente al azar cada 24 horas. A partir de la Edad Moderna entrega el doble de bienes sin refinar.')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Bas%C3%ADlica_de_San_Marcos','san-marcos-2','Basílica de San Marcos (nuevo diseño)','-','-')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Notre_Dame','notre-dame','Notre Dame','4x6','Aumenta la felicidad y entrega suministros cada 24 horas.')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Notre_Dame','notre-dame-2','Notre Dame (nuevo diseño)','-','-')
    article.articulo#bem
        h2.articulo__titulo Baja Edad Media
        .articulo__contenedor
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Catedral_de_San_Basilio','san-basilio','Catedral de San Basilio','5x5','Aumenta el ataque y la defensa de las unidades cuando actúan como defensor, añade reserva de asistencia al gremio y entrega medallas cada 24 horas.')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Castel_del_Monte','del-monte','Castillo del Monte','5x5','Aumenta el ataque y la defensa de las unidades cuando actúan como defensor, añade reserva de asistencia al gremio y entrega medallas cada 24 horas.')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Castel_del_Monte','del-monte-2','Castillo del Monte (nuevo diseño)','-','-')
    article.articulo#colonial
        h2.articulo__titulo Edad Colonial
        .articulo__contenedor
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Castillo_de_Deal','deal','Castillo de Deal','7x7','Incrementa el ataque y la defensa de las unidades cuando defienden, aumenta la reserva de asistencia y entrega medallas cada 24 horas.')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Dresden_Frauenkirche','dresden','Dresden Frauenkirche','5x5','Incrementa la felicidad y entrega bienes de la edad actual al azar cada 24 horas. A partir de la Edad Moderna, entrega el doble de bienes sin refinar para su edad.')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Dresden_Frauenkirche','dresden-2','Dresden Frauenkirche (nuevo diseño)','-','-')
    article.articulo#industrial
        h2.articulo__titulo Edad Industrial
        .articulo__contenedor
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Teatro_Royal_Albert_Hall','royal-albert-hall','Royal Albert Hall','7x6','Incrementa la producción de suministros las primeras 75 entregas al día y proporciona bienes de la edad actual al azar cada 24 horas. A partir de la Edad Moderna, entrega el doble de bienes sin refinar para su edad.')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Capitolio','capitolio','Capitolio','7x5','Incrementa la población y entrega suministros cada 24 horas.')
    article.articulo#progreso
        h2.articulo__titulo Edad del Progreso
        .articulo__contenedor
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Castillo_Frontenac','frontenac','Castillo Frontenac','5x6','Incrementa la producción de monedas, suministros, bienes, diamantes y medallas en todas las misiones, y entrega monedas cada 24 horas. Las misiones de las expediciones no se bonifican.')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Alcatraz','alcatraz','Alcatraz','10x7','Incrementa la felicidad y entrega unidades independientes cada 24 horas, al azar, elegidas de cualquier tipo que se pueden producir en la ciudad.')
    article.articulo#moderna
        h2.articulo__titulo Edad Moderna
        .articulo__contenedor
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Aguja_Espacial','aguja','Aguja Espacial','6x5','Incrementa la felicidad y entrega monedas cada 24 horas.')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Atomium','atomium','Atomium','7x6','Aumenta la felicidad y entrega la misma cantidad de cada uno de los bienes de la edad actual a la Tesorería del Gremio.')
    article.articulo#postmoderna
        h2.articulo__titulo Edad Postmoderna
        .articulo__contenedor
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Cabo_Ca%C3%B1averal','cabo-canaveral','Cabo Cañaveral','4x5','Entrega Forge Points cada 24 horas.')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=El_H%C3%A1bitat','habitat','El Hábitat','7x6','Aumenta la población y entrega monedas cada 24 horas.')
    article.articulo#contemporanea
        h2.articulo__titulo Edad Contemporánea
        .articulo__contenedor
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Templo_del_Loto','templo-loto','Templo del Loto','6x6','Este edificio incrementa la felicidad y entrega medallas cada 24 horas.')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Torre_de_la_Innovaci%C3%B3n','torre-innovacion','Torre de la Innovación','6x6','Incrementa la población y entrega Forge Points cada 24 horas.')
    article.articulo#manyana
        h2.articulo__titulo Era del Mañana
        .articulo__contenedor
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Torre_Din%C3%A1mica','torre-dinamica','Torre Dinámica','6x5','Entrega bienes al motivar o embellecer a otros y proporciona suministros cada 24 horas.')
            +itemGranEdificio('https://forgeofempires.fandom.com/wiki/Truce_Tower','torre-tregua','Torre de la Tregua','6x5','Nueva denominación e imagen de la Torre Dinámica. No cambian sus características.')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Voyager_V1','voyager','Voyager V1','4x7','Entrega bienes por los primeros tres vecinos que se saquea y produce suministros cada 24 horas.')
    article.articulo#futuro
        h2.articulo__titulo El Futuro
        .articulo__contenedor
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=El_Arca','arca','El Arca','7x5','Aumenta la recompensa de contribución y entrega bienes de la edad actual a la Tesorería del Gremio.')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Proyecto_Bosque_Pluvial','bosque-pluvial','Proyecto Bosque Pluvial','6x6','Incrementa la posibilidad de obtener planos al ayudar a otros y entrega bienes de la edad presente al azar cada 24 horas. A partir de la Edad Moderna, entrega el doble de bienes sin refinar para su edad.')
    article.articulo#futuro-artico
        h2.articulo__titulo Futuro Ártico
        .articulo__contenedor
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Estatua_de_Gea','estatua-gea','Estatua de Gea','6x4','Aumenta la felicidad y entrega una pequeña cantidad de medallas cada 24 horas.')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Invernadero_%C3%81rtico','invernadero-artico','Invernadero Ártico','7x7','Proporciona la posibilidad de daño crítico en batallas y entrega Forge Points cada 24 horas.')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=B%C3%B3veda_de_Semillas','boveda-semillas','Bóveda de Semillas','5x6','Posibilidad de obtener un recurso al azar cuando se está ayudando a otros jugadores y entrega suministros cada 24 horas.')
    article.articulo#futuro-oceanico
        h2.articulo__titulo Futuro Oceánico
        .articulo__contenedor
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Museo_de_la_Atl%C3%A1ntida','museo-atlantida','Museo de la Atlántida','6x7','Oportunidad de obtener el doble de recursos al saquear luego de derrotar las defensas de un vecino, y proporciona bienes al azar de la edad presente cada 24 horas. A partir de la Edad Moderna, entrega el doble de bienes sin refinar de la edad.')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=El_Kraken','kraken','El Kraken','5x5','Otorga la posibilidad de matar a una unidad enemiga al principio de las batallas y aporta Forge Points cada 24 horas.')
            +itemGranEdificio('http://guiaforgeofempires.com/galaxia-azul-edad-futuro-oceanico/','galaxia-azul','Galaxia Azul','7x5','Otorga la probabilidad de recoger doble para algunos edificios. A medida que aumenta el nivel, lo hace la probabilidad y el número de edificios afectados. No se aplica a recogidas de otros GE o de edificios militares. También proporciona medallas cada 24 horas.')
    article.articulo#futuro-virtual
        h2.articulo__titulo Futuro Virtual
        .articulo__contenedor
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Guerreros_de_Terracota','ejercito-terracota', 'Guerreros de Terracota', '4x6', 'Proporciona nuevas tácticas avanzadas, que permiten un aumento de la defensa y el ataque para los ejércitos (tanto ofensiva como defensivamente).')
            +itemGranEdificio('https://es.wiki.forgeofempires.com/index.php?title=Castillo_Himeji', 'castillo-himeji', 'Castillo Himeji', '6x6', 'Hay una probabilidad de entregar una recompensa aleatoria tras ganar un número determinado de batallas. Asimismo produce suministros cada 24 horas.')
    article.articulo#espacial-marciana
        h2.articulo__titulo Era Espacial Marciana
        .articulo__contenedor
            +itemGranEdificio('https://forgeofempires.fandom.com/wiki/Star_Gazer', 'observador-estelar', 'Observador Estelar', '5x5', 'Produce bienes aleatorios de la Edad anterior en la que está la ciudad cada 24 horas.')
            +itemGranEdificio('https://forgeofempires.fandom.com/wiki/The_Virgo_Project', 'proyecto-virgo', 'Proyecto Virgo', '5x5', 'Proporciona la probabilidad de derrotar a la mitad de las unidades enemigas al principio de una batalla. Esto no se aplica en las entabladas en el vecindario. Asimismo, entrega monedas.')
    article.articulo#cinturon-asteroides
        h2.articulo__titulo Era Espacial Cinturón de Asteroides
        +itemGranEdificio('https://forgeofempires.fandom.com/wiki/Space_Carrier', 'transportador-espacial', 'Transportador Espacial', '7x4', 'Desde Futuro Ártico en adelante produce en 24 horas una cierta cantidad de recursos especiales (prometio, orichalcum, mineral de Marte, hielo de los asteroides) de forma aleatoria. En edades anteriores entrega medallas. Asimismo, se consiguen recompensas aleatorias tras completar con éxito cierto número de negociaciones.')
