.main__contenedor
    article.articulo
        h2.articulo__titulo--index Una guía para gobernar el Mundo
        hr.hr
        p.texto--especial 
            | 
            a(class='link' href="https://es.wiki.forgeofempires.com/index.php?title=B%C3%A1sicos") Forge of Empires
            |  no es un juego para personas impacientes. 
        p.texto--especial Requiere cierta curva de aprendizaje. Es un reto de estrategia a medio/largo plazo, ya que hay que acumular recursos de variado tipo, aprender a relacionarse con otros jugadores -colaborando o luchando contra ellos-, superar retos e ir trepando por una escala de jerarquías, experiencia y poder.
        p.texto--especial Y, además, hay una gran cantidad de información que conocer y manejar para poder tomar las decisiones que mejor se ajusten a un estilo de juego y a una trayectoria más o menos dilatada en el tiempo. 
        p.texto--especial Cuanto más grande y heterogéneo es el conjunto de herramientas que se pone a disposición del aficionado, más hay que conocerlas para poder aprovecharse de ellas.
        p.texto--especial
            |
            span.texto--enfasis Esta Guía
            |  pretende revisar, al menos, algunos de los aspectos más importantes del juego. Por su propia naturaleza, es un trabajo en permanente revisión y mejora, así que si os pasáis de vez en cuando por aquí encontraréis material nuevo o revisado.
        p.texto--especial Para los curiosos que les gusta disponer de la mayor cantidad de información posible, los dos enlaces que se encuentran un poco más abajo son una buena fuente. El primero, es el Wiki oficial en castellano y el segundo es otro Wiki en inglés creado por aficionados.
        ul.texto--especial.lista-desordenada
            li 
                a.link(href="https://es.wiki.forgeofempires.com/") Wiki Oficial
            li
                a.link(href="http://forgeofempires.wikia.com/") Forge of Empires Wiki
        p.texto--especial Buen juego y muchos Forge Points.