.main__contenedor
    article.articulo
        h2.articulo__titulo--index Sets de Edificios
        hr.hr
        p.texto--especial Los #[a.link(href="http://forgeofempires.wikia.com/wiki/Set_Buildings") Sets de Edificios] son conjuntos de edificios especiales que obtienen bonos adicionales cuando son situados junto a otros edificios diferentes que forman parte del mismo set.
        p.texto--especial Los elementos que pertenecen a un set son identificables por un icono distintivo.
        p.texto--especial Los jugadores pueden obtener estos edificios de forma aleatoria como recompensas en determinados Eventos. Por ello, es factible hacerse con varias copias del mismo conjunto, o no lograr completarlo.
        p.texto--especial La mayor parte de ellos, con la excepción de dos, todavía están disponibles como recompensa en los #[a.link(href="http://forgeofempires.wikia.com/wiki/Daily_Challenges") Desafíos diarios].
        p.texto--especial Los bonos únicos que caracterizan a los elementos de los sets se van obteniendo en cascada cuando se sitúan junto a cierto número de sus hermanos (1, 2, o 3). De modo que esto conlleva en que hay un diseño óptimo del conjunto para que se consigan maximizar estos bonos adicionales.
        p.texto--especial Lo señalado en el párrafo anterior se aplica exclusivamente a los #[span.texto--enfasis Edificios únicos], es decir, que situar un elemento junto a otro repetido no concede las ganancias mencionadas.
        h3.h3#jardin-cerezos Set Jardín de los Cerezos
        .contenedor__alineacion__centrar
            img(src="img/set/set-jardin-cerezos.png" alt="FOE. Set Jardín de los Cerezos")
        p.texto--especial #[a.link(href="http://forgeofempires.wikia.com/wiki/Cherry_Garden_Set") Apareció] en el Evento de Primavera 2017. En 2018 se introdujo una versión mejorada (nivel 2) en el Evento de Primavera de este año.
        p.texto--especial El conjunto está formado por cinco elementos, que se pueden identificar por un icono de Roca de Sakura.
        p.texto--especial El despliegue recomendado ocupa un área #[img.img--tile(src="img/tile.png" alt="FOE. Tile")]de 5x5.
        .contenedor__alineacion__centrar
            img(src="img/set/esquema-jardin-cerezos.png" alt="FOE. Esquema del Set Jardín de los Cerezos")
        h4.h4 Entrada del emperador
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('set/entrada-emperador', 'Entrada del Emperador nivel 1')
            +itemGaleriaImagenes('set/entrada-emperador-2', 'Entrada del Emperador nivel 2')
        p.p Su #[a.link(href="http://forgeofempires.wikia.com/wiki/Emperor%27s_Entrance") premio base] son las monedas y tiene los siguientes bonos, por orden: 1 FP, suministros y medallas. Ocupa un espacio de 3x2.
        h4.h4 Zona Zen
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('set/zona-zen', 'Zona Zen nivel 1')
            +itemGaleriaImagenes('set/zona-zen-2', 'Zona Zen nivel 2')
        p.p El #[a.link(href="http://forgeofempires.wikia.com/wiki/Zen_Zone") recurso principal] son las monedas y los bonos son: suministros, 1 FP y 5 bienes refinados. Mide 3x2.
        h4.h4 Roka Sakura
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('set/roca-sakura', 'Roca Sakura nivel 1')
            +itemGaleriaImagenes('set/roca-sakura-2', 'Roca Sakura nivel 2')
        p.p Su #[a.link(href="http://forgeofempires.wikia.com/wiki/Sakura_Rock") premio base] es la felicidad y los bonos: felicidad, 2% de mejora de ataque y 3% de mejora de ataque. Mide 2x3.
        h4.h4 Estanque Nishikigoi
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('set/estanque-nishikigoi', 'Estanque Nishikigoi nivel 1')
            +itemGaleriaImagenes('set/estanque-nishikigoi-2', 'Estanque Nishikigoi nivel 2')
        p.p La #[a.link(href="http://forgeofempires.wikia.com/wiki/Nishikigoi_Pond") recompensa principal] es la felicidad y los bonos: felicidad, 2% de mejora de defensa y 3% de mejora de defensa. Mide 2x3.
        h4.h4 Gong de Sabiduría
        .articulo__contenedor--galeria
            +itemGaleriaImagenes('set/gong-sabiduria', 'Gong de Sabiduría nivel 1')
            +itemGaleriaImagenes('set/gong-sabiduria-2', 'Gong de Sabiduría nivel 2')
        p.p El #[a.link(href="http://forgeofempires.wikia.com/wiki/Gong_of_Wisdom") premio base] son las medallas y los bonos: medallas, medallas, 1 FP y 2 FP. Mide 1x1.
        h3.h3#jardin-real Set Jardín Real
        .contenedor__alineacion__centrar
            img(src="img/set/set-jardin-real.png" alt="FOE. Set Jardín Real")
        p.texto--especial #[a.link(href="http://forgeofempires.wikia.com/wiki/Royal_Garden_Set") Este set] apareció en el evento Quinto Aniversario. Está formado por tres elementos, que se identifican con un icono de Corona. El área #[img.img--tile(src="img/tile.png" alt="FOE. Tile")]que requiere es de 17 cuadrados.
        p.texto--especial No está disponible en los #[a.link(href="http://forgeofempires.wikia.com/wiki/Daily_Challenges") Desafíos diarios].
        .contenedor__alineacion__centrar
            img(src="img/set/esquema-jardin-real.png" alt="FOE. Esquema del Set Jardín Real")
        h4.h4 Estatua del Rey
        .contenedor__alineacion__centrar
            img(src="img/set/estatua-rey.png" alt="FOE. Estatua del Rey")
        p.p Su #[a.link(href="http://forgeofempires.wikia.com/wiki/King_Statue") producción principal] son las monedas y los bonos: medallas y 1 FP. Ocupa un área de 2x2.
        h4.h4 Estatua de la Reina
        .contenedor__alineacion__centrar
            img(src="img/set/estatua-reina.png" alt="FOE. Estatua de la Reina")
        p.p La #[a.link(href="http://forgeofempires.wikia.com/wiki/Queen_Statue") producción base] son las monedas, con 5 bienes refinados y 1 FP como bonos adicionales. Mide 2x2.
        h4.h4 Ruinas del Jardín
        .contenedor__alineacion__centrar
            img(src="img/set/ruinas-jardin.png" alt="FOE. Ruinas del Jardín")
        p.p Su #[a.link(href="http://forgeofempires.wikia.com/wiki/Garden_Ruins") característica principal] es la de otorgar felicidad, con dos bonos: 2% de mejora defensiva y 3% de mejora defensiva. Necesita un área de 3x3.
        h3.h3#palacio-indio Set Palacio Indio
        .contenedor__alineacion__centrar
            img(src="img/set/set-palacio-indio.png" alt="FOE. Set Palacio Indio")
        p.texto--especial #[a.link(href="http://forgeofempires.wikia.com/wiki/Indian_Palace_Set") Este conjunto de edificios] apareció en el Evento de Verano 2017. Consta de cinco ítems y para su despliegue óptimo requiere un área #[img.img--tile(src="img/tile.png" alt="FOE. Tile")]de 8x4.
        .contenedor__alineacion__centrar
            img(src="img/set/esquema-palacio-indio.png" alt="FOE. Esquema del Set Palacio Indio")
        h4.h4 Palacio del Marajá
        .contenedor__alineacion__centrar
            img(src="img/palacio-maraja.png" alt="FOE. Palacio del Marajá")
        p.p #[a.link(href="http://forgeofempires.wikia.com/wiki/Maharaja%27s_Palace") El recurso principal] del edificio son las monedas, con los siguientes bonos al ir sumando elementos del set: suministros, medallas, 5 bienes refinados y 5 FPs. Mide 4x4.
        h4.h4 Torre del Palacio Oeste
        .contenedor__alineacion__centrar
            img(src="img/set/torre-palacio-oeste.png" alt="FOE. Torre del Palacio Oeste")
        p.p #[a.link(href="http://forgeofempires.wikia.com/wiki/Western_Palace_Tower") La Torre] entrega monedas, con estos bonos adicionales: monedas y 5 bienes refinados. Mide 2x2.
        h4.h4 Torre del palacio Este
        .contenedor__alineacion__centrar
            img(src="img/set/torre-palacio-este.png" alt="FOE. Torre del Palacio Este")
        p.p #[a.link(href="http://forgeofempires.wikia.com/wiki/Eastern_Palace_Tower") La segunda torre] también entrega monedas y sus bonos son: monedas y 1 FP. Mide 2x2.
        h4.h4 Parque Infantil de Bandar
        .contenedor__alineacion__centrar
            img(src="img/set/parque-infantil-bandar.png" alt="FOE. Parque Infantil de Bandar")
        p.p #[a.link(href="http://forgeofempires.wikia.com/wiki/Bandar_Playground") Este elemento decorativo] genera felicidad como recurso base, así como en sus dos bonos adicionales. Mide 2x2.
        h4.h4 Estanque de la Selva del Marajá
        .contenedor__alineacion__centrar
            img(src="img/set/estanque-selva-maraja.png" alt="FOE. Estanque de la Selva del Marajá")
        p.p #[a.link(href="http://forgeofempires.wikia.com/wiki/Maharaja%27s_Jungle_Pond") Otro elemento decorativo] que entrega felicidad como recurso principal y sus dos bonos. Mide 2x2.
        h3.h3#fuente-india Set Fuente India
        .contenedor__alineacion__centrar
            img(src="img/set/set-fuente-india.png" alt="FOE. Set Fuente India")
        p.texto--especial #[a.link(href="http://forgeofempires.wikia.com/wiki/Indian_Fountain_Set") El conjunto] también fue lanzado en el Evento de Verano 2017. Consta de cinco elementos, y necesita un área #[img.img--tile(src="img/tile.png" alt="FOE. Tile")]de 6x4 para su aprovechamiento máximo.
        .contenedor__alineacion__centrar
            img(src="img/set/esquema-fuente-india.png" alt="FOE. Esquema del Set Fuente India")
        h4.h4 Fuente Elefante
        .contenedor__alineacion__centrar
            img(src="img/set/fuente-elefante.png" alt="FOE. Fuente Elefante")
        p.p #[a.link(href="http://forgeofempires.wikia.com/wiki/Elephant_Fountain") Este edificio cultural especial] entrega felicidad como principal recurso, con los siguientes bonos sucesivos: incremento de la producción de monedas, incremento en la producción de suministros, bono de ataque y bono de defensa. Se extiende en un cuadrado de 4x4.
        h4.h4 Puerta de la Fuente Elefante
        .contenedor__alineacion__centrar
            img(src="img/set/puerta-fuente-elefante.png" alt="FOE. Puerta de la Fuente Elefante")
        p.p #[a.link(href="http://forgeofempires.wikia.com/wiki/Elephant_Fountain_Gate") Su recurso base] son las monedas y los bonos: monedas y 1FP. Mide 1x3.
        h4.h4 Jardín Chhatri
        .contenedor__alineacion__centrar
            img(src="img/set/jardin-chhatri.png" alt="FOE. Jardín Chhatri")
        p.p #[a.link(href="http://forgeofempires.wikia.com/wiki/Chhatri_Garden") Este elemento decorativo] proporciona felicidad como recurso base y en sus dos bonos adicionales. Mide 1x3.
        h4.h4 Monumento Chhatri
        .contenedor__alineacion__centrar
            img(src="img/set/monumento-chhatri.png" alt="FOE. Monumento Chhatri")
        p.p #[a.link(href="http://forgeofempires.wikia.com/wiki/Memorial_Chhatri") Su recurso base] son las monedas y los bonos: monedas y medallas. Mide 1x1.
        h4.h4 Planta Aro Gigante
        .contenedor__alineacion__centrar
            img(src="img/set/planta-aro-gigante.png" alt="FOE. Planta Aro Gigante")
        p.p #[a.link(href="http://forgeofempires.wikia.com/wiki/Titan_Arum_Plant") Este elemento decorativo] proporciona felicidad como recurso base y en sus dos bonos adicionales. Mide 1x1.
        h3.h3#pueblo-invernal Set Pueblo Invernal
        .contenedor__alineacion__centrar
            img(src="img/set/set-pueblo-invernal.png" alt="FOE. Set Pueblo Invernal")
        p.texto--especial  #[a.link(href="http://forgeofempires.wikia.com/wiki/Winter_Village_Set") Este abigarrado conjunto de edificios] fue lanzado en el Evento de Invierno 2017. Está compuesto de nueve elementos.
        p.texto--especial El área #[img.img--tile(src="img/tile.png" alt="FOE. Tile")] de todos los ítems combinados es de 26 cuadrados. Ahora bien, no se planeó un despliegue idóneo para optimizar los bonos sucesivos de ellos, por lo que algunos no pueden conseguirlos.
        p.texto--especial No está disponible en los #[a.link(href="http://forgeofempires.wikia.com/wiki/Daily_Challenges") Desafíos diarios].
        h4.h4 Puesto del Juguetero
        .contenedor__alineacion__centrar
            img(src="img/set/puesto-juguetero.png" alt="FOE. Puesto del Juguetero")
        p.p #[a.link(href="http://forgeofempires.wikia.com/wiki/Toymaker%27s_Booth") La producción base] son las monedas, con cuatro posibles bonos: monedas, suministros, 5 bienes refinados y 1 FP. Mide 3x2 y requiere de conexión con un camino.
        h4.h4 Pradera del Alce
        .contenedor__alineacion__centrar
            img(src="img/set/pradera-alce.png" alt="FOE. Pradera del Alce")
        p.p #[a.link(href="http://forgeofempires.wikia.com/wiki/Moose_Meadow") El principal recurso] son las monedas, con los siguientes bonos: monedas, suministros, 1 FP y 5 bienes refinados. Mide 2x3 y necesita conexión con un camino.
        h4.h4 Puesto del Panadero de Azúcar
        .contenedor__alineacion__centrar
            img(src="img/set/puesto-panadero-azucar.png" alt="FOE. Puesto del Panadero de Azúcar")
        p.p #[a.link(href="http://forgeofempires.wikia.com/wiki/Sugar_Baker%27s_Booth") El recurso base] son las monedas, con estos bonos: monedas, suministros, medallas y 1 FP. Mide 2x2 y necesita conexión con camino.
        h4.h4 Bufet Libre
        .contenedor__alineacion__centrar
            img(src="img/set/bufet-libre.png" alt="FOE. Bufet Libre")
        p.p #[a.link(href="http://forgeofempires.wikia.com/wiki/Sm%C3%B6rg%C3%A5sbord_Feast") Este elemento decorativo] tiene como recurso principal la felicidad, con los siguientes bonos: felicidad, bono de defensa y bono de defensa. Mide 1x2.
        h4.h4 Tienda del Candelero
        .contenedor__alineacion__centrar
            img(src="img/set/tienda-candelero.png" alt="FOE. Tienda del Candelero")
        p.p #[a.link(href="http://forgeofempires.wikia.com/wiki/Candlemaker%27s_Tent") Elemento decorativo] que entrega felicidad como recurso base, con estos bonos: felicidad, bono de ataque y bono de ataque. Mide 1x2.
        h4.h4 Tienda del Reparador
        .contenedor__alineacion__centrar
            img(src="img/set/tienda-reparador.png" alt="FOE. Tienda del Reparador")
        p.p #[a.link(href="http://forgeofempires.wikia.com/wiki/Tinkerer%27s_Tent") Elemento decorativo] que proporciona felicidad de forma principal, con estos bonos: felicidad, bono de producción de monedas y bono de producción de monedas. Mide 2x1.
        h4.h4 Halmbock
        .contenedor__alineacion__centrar
            img(src="img/halmbock.png" alt="FOE. Halmbock")
        p.p #[a.link(href="http://forgeofempires.wikia.com/wiki/Halmbock") Elemento decorativo] cuyo recurso base es la felicidad y sus bonos: felicidad, bono de ataque y bono de ataque. Mide 2x1.
        h4.h4 Tienda de Estrellas de Paja
        .contenedor__alineacion__centrar
            img(src="img/set/tienda-estrellas-paja.png" alt="FOE. Tienda de Estrellas de Paja")
        p.p #[a.link(href="http://forgeofempires.wikia.com/wiki/Straw_Star_Tent") Un elemento] que otorga medallas como recurso principal, con estos bonos sucesivos: medallas, 1 bien refinado, 1 bien refinado y 1 bien refinado. Mide 1x1.
        h4.h4 Tienda de Madame Fortuna
        .contenedor__alineacion__centrar
            img(src="img/set/tienda-madame-fortuna.png" alt="FOE. Tienda de Madame Fortuna")
        p.p #[a.link(href="http://forgeofempires.wikia.com/wiki/Madame_Fortuna%27s_Tent") Este edificio] proporciona medallas como recurso base, con estos bonos: medallas, medallas, medallas y 1 FP. Mide 1x1.
        h3.h3#jardin-clasico Set Jardín Clásico
        .contenedor__alineacion__centrar
            img(src="img/set/set-jardin-clasico.png" alt="FOE. Set jardín Clásico")
        p.texto--especial  #[a.link(href="http://forgeofempires.wikia.com/wiki/Classical_Garden_Set") Este set] fue la recompensa secundaria del Evento Forge Bowl 2019. Está compuesto de tres edificios y para su aprovechamiento máximo requiere una superficie #[img.img--tile(src="img/tile.png" alt="FOE. Tile")]de 4x4.
        .contenedor__alineacion__centrar
            img(src="img/set/esquema-jardin-clasico.png" alt="FOE. Esquema del Set Jardín Clásico")
        h4.h4 Piscina del Jardín Clásico
        .contenedor__alineacion__centrar
            img(src="img/set/piscina-jardin-clasico.png" alt="FOE. Piscina del Jardín Clásico")
        p.p #[a.link(href="http://forgeofempires.wikia.com/wiki/Classical_Garden_Pool") Este edificio cultural especial] otorga felicidad como recursos principal, con dos bonos si tiene los otros dos edificios del set adyacentes: mejora de defensa y mejora de ataque. Necesita conexión mediante camino y mide 4x2.
        h4.h4 Patio del Jardín Clásico
        .contenedor__alineacion__centrar
            img(src="img/set/patio-jardin-clasico.png" alt="FOE. Patio del Jardín Clásico")
        p.p #[a.link(href="http://forgeofempires.wikia.com/wiki/Classical_Garden_Patio") Aporta] monedas como producto básico, con dos bonos: suministros y 3 bienes refinados. Ha de estar conectado a un camino. Ocupa un espacio de 2x2.
        h4.h4 Estatuas del Jardín Clásico
        .contenedor__alineacion__centrar
            img(src="img/set/estatuas-jardin-clasico.png" alt="FOE. Estatuas del Jardín Clásico")
        p.p #[a.link(href="http://forgeofempires.wikia.com/wiki/Classical_Garden_Statues") Decoración especial] que además de la felicidad inherente a sus características, tiene dos bonos: aumento de la producción de monedas, y de suministros. Mide 2x2. 
