.main__contenedor
    article.articulo
        h2.articulo__titulo--index Taberna de los amigos
        hr.hr
        p.texto--especial La #[a.link(href="https://forgeofempires.fandom.com/wiki/Friends_Tavern") Taberna de los amigos] es un edificio especial situado en las afueras de la ciudad, que se consigue cuando se desbloquea la tecnología #[a.link(href="https://forgeofempires.fandom.com/wiki/Construction_(tech)") Construcción]
         .contenedor__alineacion__centrar
            img(src="img/taberna-piedra.png" title="FOE. Taberna de los Amigos, Edad de Piedra" alt="FOE. Taberna de los Amigos, Edad de Piedra")
        p.texto--especial Como su nombre indica, sirve para que nuestros amigos en el juego la visiten. Cada uno de ellos genera una cantidad de #[span.texto--enfasis Plata de taberna], un recurso que se puede canjear en la Tienda de la Taberna por diversos bonus aplicables de modo general a la ciudad, o para mejorar el equipamiennto de la propia Taberna.
        .contenedor__alineacion__centrar
            img(src="img/taberna-bronce-hierro.png" title="FOE. Taberna de los Amigos, Edades Bronce y Hierro" alt="FOE. Taberna de los Amigos, Edades Bronce y Hierro")
        p.texto--especial Las mejoras citadas permiten que los amigos que nos visiten reciban ocasionalmente plata de taberna, o incluso #[span.texto--enfasis Forge Points], por lo que es muy importante invertir en ellas, ya que estimulan a nuestros amigos a pasarse por allí.
        .contenedor__alineacion__centrar
            img(src="img/taberna-aem-colonial.png" title="FOE. Taberna de los Amigos, desde Alta Edad Media hasta Colonial" alt="FOE. Taberna de los Amigos, desde Alta Edad Media hasta Colonial")
        .contenedor__alineacion__centrar
            img(src="img/taberna-industrial-tomorrow.png" title="FOE. Taberna de los Amigos, desde Edad Industrial hasta Era del Mañana" alt="FOE. Taberna de los Amigos, desde Edad Industrial hasta Era del Mañana")
        .contenedor__alineacion__centrar
            img(src="img/taberna-futuro.png" title="FOE. Taberna de los Amigos, desde El Futuro" alt="FOE. Taberna de los Amigos, desde El Futuro")
      

        

