.main__contenedor
    article.articulo
        h2.articulo__titulo--index Bienes no refinados a partir de la Edad Moderna
        hr.hr
        p.texto--especial Llevo un tiempo dándole vueltas a la necesidad de bienes no refinados para producir bienes a partir de la Edad Moderna. 
        p.texto--especial Ya sabéis que para producirlos a partir de ese momento, además de gastar monedas y suministros, hay que aportar un bien de una edad anterior (denominado #[span.texto--enfasis bien no refinado]) por cada uno nuevo que se quiera manufacturar. Los de Edad Moderna requieren los de Edad Colonial, y así sucesivamente.
        p.texto--especial He estado haciendo unos números y consultando información y creo que hay alternativas viables para salir del paso y no pasar muchos apuros.
        p.texto--especial Partiendo de un esquema de producción eficiente de 6 fábricas, generando cada una 30 bienes / día (con 3 turnos de 8 horas, o bien 4 turnos de 4 horas y uno de 8) nos lleva al resultado de #[span.texto--enfasis 180 bienes no refinados] necesarios para mantener este número de edificios a pleno rendimiento. 
        p.texto--especial #[span.texto--enfasis--enmarcado 6 x 30 = 180]
        p.texto--especial ¿Cómo conseguimos esos bienes no refinados? Hay diversas estrategias. A mí se me han ocurrido las siguientes.
        .contenedor__alineacion__centrar
            img(src="img/no-refinados-2.png" alt="Bienes no refinados. Grandes Edificios iniciales")
        p.texto--especial Subiendo los tres Grandes Edificios  (GEs) clásicos que dan bienes no refinados al #[span.texto--enfasis nivel 10] obtenemos:
        p.texto--especial Faro de Alejandría: 38
        p.texto--especial Torre de Babel: 30
        p.texto--especial Catedral de San Marcos: 50
        p.texto--especial #[span.texto--enfasis--enmarcado TOTAL = 118]
        p.texto--especial Como se puede comprobar, nos quedamos lejos de esos 180.
        p.texto--especial Si llevamos los tres edificios al #[span.texto--enfasis nivel 20], obtenemos:
        p.texto--especial Faro de Alejandría: 58
        p.texto--especial Torre de Babel: 50
        p.texto--especial Catedral de San Marcos: 70
        p.texto--especial #[span.texto--enfasis--enmarcado TOTAL = 178]
        p.texto--especial Conseguimos el objetivo. Los dos que faltan se pueden adquirir casi de cualquier modo. Es muy poco lo que falta. Ahora bien, subir 3 GEs a ese nivel 20 no es barato y, además, hay que conseguir los planos.
        p.texto--especial Esa cantidad básica se puede aumentar con un GE relativamente barato, ya que es de Edad Colonial, y sólo ocupa 5x5 como #[span.texto--enfasis Dresden Frauenkirche]. A nivel 10 entrega 34 bienes no refinados, por lo que:
        p.texto--especial #[span.texto--enfasis--enmarcado TOTAL = 118 + 34= 152]
        p.texto--especial Esta combinación de cuatro GEs a nivel 10 #[em alimenta] 5 fábricas. Si se desea llegar al total de 180, una salida es utilizar una #[span.texto--enfasis granja de terrazas] como fuente de bienes refinados. Estas granjas generan en un turno de 8 horas 10 ítems, por lo que:
        p.texto--especial 10 x 3 = 30
        .contenedor__alineacion__centrar
            img(src="img/royal-albert-hall-picture.jpg" alt="Royal Albert Hall")
        p.texto--especial Hay otra alternativa. Construir #[span.texto--enfasis Royal Albert Hall] (RAH). Es enorme (7x6), no muy eficiente - dado su tamaño - como fuente de bienes, pero potencia la producción, que no viene mal. A nivel 10 entrega 54 bienes no refinados al día. Luego:
        p.texto--especial #[span.texto--enfasis--enmarcado TOTAL = 118 + 54= 172]
        p.texto--especial  Nos quedamos cerca. Esos 8 que faltan se pueden conseguir, por ejemplo, con dos plazas tribales de la edad de los bienes refinados que necesitemos, ya que proporcionan 5 bienes / día, uno de cada. Los que hacemos expediciones semanalmente seguro que tenemos en el almacén montones de plazas tribales. Con ir guardando algunas para estos menesteres, cumplimos las exigencias diarias.
        p.texto--especial Y, finalmente, otra alternativa es poner una par de fábricas menos que nos llevaría a unos números de #[span.texto--enfasis 120 bienes] necesarios, y suplir lo no producido con 2 granjas de terrazas. Una granja de terrazas produce cada 8 horas 10 ítems, sin necesidad de gastar bienes no refinados, monedas y suministros. Y, además, necesitan menos población que las fábricas que sustituyen.
        p.texto--especial Como se puede comprobar, hay salidas. Sólo hace falta paciencia y constancia.
        h3.h3 Actualización Diciembre 2018
        .contenedor__alineacion__centrar
            img(src="img/constructor-trineos.png", alt="FOE. Constructor de trineos")
        p.texto--especial El Evento de Invierno 2018 introdujo un recurso que puede cambiar sustancialmente la forma de conseguir bienes no refinados, el #[a.link(href="http://forgeofempires.wikia.com/wiki/Sleigh_Builder") constructor de trineos].
        p.texto--especial Este edificio especial entrega diversos ítems en función del tiempo de producción elegido. En la materia que nos compete, #[span.texto--enfasis 15 bienes refinados/día].
        p.texto--especial Ocupa un #[span.texto--enfasis área mínima de 2x3], por lo que en una cuadrícula de 4x3, es decir, dos constructores de trineos, obtienes la salida estándar de un edificio de bienes normal de la que hemos hablado, 30 unidades/día. 
        p.texto--especial Esto equivale a que puedes eliminar un edificio de bienes por cada dos constructores de trineos. Interesante, ¿no?
        p.texto--especial Las ventajas saltan a la vista. Se obtienen bienes refinados sin costes en monedas, suministros y bienes no refinados. Además, con una necesidades de población muy reducidas. Para hacerse una idea, un constructor en Colonial requiere 80 habitantes, y en Futuro Virtual, 190.
        p.texto--especial ¿Desventajas? Las habituales de estos edificios especiales de Eventos: hay que actualizarlos mediante los kits de renovación habituales para adecuarlos a la Edad de los bienes que se desee obtener y su disponibilidad. Nunca se sabe si van a ponerse en circulación en un futuro.