.main__contenedor
    article.articulo
        h2.articulo__titulo--index Producción de Bienes
        hr.hr
        p.texto--especial Los edificios de producción de bienes producen
            |
            span.texto--enfasis  bienes
            | , uno de los principales recursos del juego.
        p.texto--especial Los bienes son necesarios para investigar tecnologías, erigir Grandes Edificios, o mediante negociación adquirir sectores de provincias del Mapa de Campaña. También pueden ser negociados para superar encuentros en la Expedición de Gremio.
        p.texto--especial Uno de los principios claves del juego es la interacción con otros jugadores. Los bienes forman parte de esta lógica, porque pueden ser intercambiados con otros jugadores.
        p.texto--especial El jugador debe asignar trabajo a cada edificio gastando monedas, suministros, productos brutos y a partir de la Edad Moderna también bienes no refinados.
        p.texto--especial Hay cuatro lapsos de producción, expresados en horas:
        ul.texto--especial.lista-desordenada
            li 4
            li 8
            li 24
            li 48 
        p.texto--especial Obviamente, cada lapso produce una cantidad distinta de bienes. Para iniciar un lapso de producción hay un coste en monedas y suministros, que es mayor, como es lógico, cuanto más largo sea el lapso horario. 
        p.texto--especial Se incluye información de cada uno de los edificios de producción de bienes, agrupados por Edades. Al principio de cada Edad se aportan los requerimientos comunes a cada uno de los ítems:
        ul.texto--especial.lista-desordenada
            li Costes de producción en monedas y suministros
            li Tiempo necesario para construir el edificio
            li Población necesaria para soportar el edificio 
        p.texto--especial En cada edificio se informa de lo siguiente:
        ul.texto--especial.lista-desordenada
            li Tecnología necesaria
            li Tamaño
            li Producto final entregado
            li Producto bruto necesario para la producción
            li Bien no refinado necesario para la producción (a partir de la Edad Moderna)
    article.articulo#bronce
        h2.articulo__titulo Edad de Bronce
        .articulo__contenedor
            ul.texto--especial.lista-desordenada
                li 340 monedas y 490 suministros
                li 30 minutos
                li 108 habitantes
            section.bienes
                +cardBienes-1('tintoreria.png', 'Tintorería', 'Cultivando', '3x3', 'Tinte', 'Flor')
                +cardBienes-1('aserradero.png', 'Aserradero', 'Carpintería', '3x3', 'Madera', 'Árbol')
                +cardBienes-1('marmolista.png', 'Marmolista', 'Mampostería', '3x3', 'Mármol', 'Roca de mármol')
                +cardBienes-1('mampostero-piedra.png', 'Mampostero de piedra', 'Mampostería', '4x4', 'Piedra', 'Roca')
                +cardBienes-1('vinyedo.png', 'Viñedo', 'Cultivando', '3x3', 'Vino', 'Uvas')
    article.articulo#hierro
        h2.articulo__titulo Edad de Hierro
        .articulo__contenedor
            ul.texto--especial.lista-desordenada
                li 1.500 monedas y 2.400 suministros
                li 1 hora y 30 minutos
                li 230 habitantes
            section.bienes
                +cardBienes-1('carpinteria-ebano.png', 'Carpintería de ébano', 'Procesando', '4x4', 'Ébano', 'Árbol de ébano')
                +cardBienes-1('joyeria.png', 'Joyería', 'Manualidad', '3x4', 'Joya', 'Gema')
                +cardBienes-1('fundicion-hierro.png', 'Fundición de hierro', 'Herrajes', '3x3', 'Hierro', 'Mineral de hierro')
                +cardBienes-1('mampostero-caliza.png', 'Mampostero de piedra caliza', 'Procesando', '4x4', 'Piedra caliza', 'Roca de piedra caliza')
                +cardBienes-1('tejeduria.png', 'Tejeduría', 'Manualidad', '4x3', 'Tela', 'Lana')
    article.articulo#aem
        h2.articulo__titulo Alta Edad Media
        .articulo__contenedor
            ul.texto--especial.lista-desordenada
                li 6.000 monedas y 10.300 suministros
                li 3 horas y 50 minutos
                li 340 habitantes
            section.bienes
                +cardBienes-1('mamposteria-alabastro.png', 'Mampostería de alabastro', 'Canteras', '4x3', 'Alabastro', 'Alabastro en bruto')
                +cardBienes-1('mamposteria-granito.png', 'Mampostería de granito', 'Canteras', '4x4', 'Granito', 'Roca de granito')
                +cardBienes-1('orfebreria.png', 'Orfebrería', 'Pieza de fundición', '4x3', 'Oro', 'Pepita de oro')
                +cardBienes-1('fundicion-cobre.png', 'Fundición de cobre', 'Pieza de fundición', '4x3', 'Cobre', 'Mineral de cobre')
                +cardBienes-1('apicultor.png', 'Apicultor', 'Colmenar', '3x3', 'Miel', 'Panal')
    article.articulo#pem
        h2.articulo__titulo Plena Edad Media
        .articulo__contenedor
            ul.texto--especial.lista-desordenada
                li 14.000 monedas y 27.000 suministros
                li 7 horas y 30 minutos
                li 460 habitantes
            section.bienes
                +cardBienes-1('fabrica-ladrillos.png', 'Fábrica de ladrillos', 'Productos de calidad', '4x3', 'Ladrillo', 'Arcilla')
                +cardBienes-1('mercader-hierbas.png', 'Mercader de hierbas', 'Productos de calidad', '4x3', 'Hierbas secas', 'Hierbas')
                +cardBienes-1('cordeleria.png', 'Cordelería', 'Gremios', '3x2', 'Cuerda', 'Cáñamo')
                +cardBienes-1('salinas.png', 'Salinas', 'Conservación', '3x4', 'Sal', 'Sal no refinada')
                +cardBienes-1('soplador-vidrio.png', 'Soplador de vidrio', 'Gremios', '4x3', 'Vidrio', 'Cuarzo')
    article.articulo#bem
        h2.articulo__titulo Baja Edad Media
        .articulo__contenedor
            ul.texto--especial.lista-desordenada
                li 27.000 monedas y 54.000 suministros
                li 11 horas y 20 minutos
                li 580 habitantes
            section.bienes
                +cardBienes-1('fabrica-polvora.png', 'Fábrica de pólvora', 'Aristocracia', '3x3', 'Pólvora', 'Bloques de azufre')
                +cardBienes-1('cortador-talco.png', 'Cortador de talco', 'Grúa', '3x3', 'Talco en polvo', 'Esteatita')
                +cardBienes-1('fundicion-laton.png', 'Fundición de latón', 'Metalurgia', '4x4', 'Latón', 'Mineral de zinc')
                +cardBienes-1('taller-seda.png', 'Taller de seda', 'Aristocracia', '3x3', 'Seda', 'Capullos')
                +cardBienes-1('mamposteria-basalto.png', 'Mampostería de basalto', 'Grúa', '4x4', 'Basalto', 'Roca de basalto')
    article.articulo#colonial
        h2.articulo__titulo Edad Colonial
        .articulo__contenedor
            ul.texto--especial.lista-desordenada
                li 37.000 monedas y 79.000 suministros
                li 13 horas y 30 minutos
                li 720 habitantes
            section.bienes
                +cardBienes-1('tostador-cafe.png', 'Tostador de café', 'Productos de plantación', '3x3', 'Café', 'Granos de café')
                +cardBienes-1('fabrica-alambre.png', 'Fábrica de alambre', 'Productos industriales', '3x3', 'Alambre', 'Mineral de níquel')
                +cardBienes-1('fabrica-porcelana.png', 'Fábrica de porcelana', 'Porcelana', '4x4', 'Porcelana', 'Arcilla de caolín')
                +cardBienes-1('papelera.png', 'Papelera', 'Productos de plantación', '2x3', 'Papel', 'Madera de abeto')
                +cardBienes-1('horno-brea.png', 'Horno de brea', 'Productos industriales', '3x5', 'Brea', 'Madera de pino')
    article.articulo#industrial
        h2.articulo__titulo Edad Industrial
        .articulo__contenedor
            ul.texto--especial.lista-desordenada
                li 45.000 monedas y 102.000 suministros
                li 14 horas y 30 minutos
                li 1.020 habitantes
            section.bienes
                +cardBienes-1('planta-caucho.png', 'Planta de caucho', 'Industrialización', '5x3', 'Caucho', 'Látex')
                +cardBienes-1('horno-coque.png', 'Horno de coque', 'Extracción', '4x5', 'Coque', 'Carbón')
                +cardBienes-1('fabrica-textil.png', 'Fábrica textil', 'Industrialización', '3x4', 'Tejidos', 'Algodón')
                +cardBienes-1('estacion-ballenera.png', 'Papelera', 'Extracción', '4x3', 'Aceite de ballena', 'Ballena')
                +cardBienes-1('planta-fertilizantes.png', 'Planta de fertilizantes', 'Extracción', '4x5', 'Fertilizante', 'Guano')
    article.articulo#progreso
        h2.articulo__titulo Edad del Progreso
        .articulo__contenedor
            ul.texto--especial.lista-desordenada
                li 54.000 monedas y 129.000 suministros
                li 14 horas y 50 minutos
                li 1.200 habitantes
                li Requiere una vía de dos carriles
            section.bienes
                +cardBienes-1('fabrica-asbesto.png', 'Fábrica de asbesto', 'Materiales modernos', '5x5', 'Asbesto', 'Mineral de asbesto')
                +cardBienes-1('refineria-petroleo.png', 'Refineria de petróleo', 'Refinería de petróleo', '7x4', 'Gasolina', 'Crudo')
                +cardBienes-1('taller-maquinas.png', 'Taller de máquinas', 'Producción en masa', '6x4', 'Piezas de máquina', 'Mineral de tungsteno')
                +cardBienes-1('fabrica-estanyado.png', 'Fábrica de estañado', 'Materiales modernos', '3x6', 'Estaño', 'Mineral de estaño')
                +cardBienes-1('fabrica-explosivos.png', 'Fábrica de explosivos', 'Explosivos modernos', '4x5', 'Explosivos', 'Diatomita')
    article.articulo#moderna
        h2.articulo__titulo Edad Moderna
        .articulo__contenedor
            ul.texto--especial.lista-desordenada
                li 66.000 monedas y 155.000 suministros
                li 15 horas
                li 1.360 habitantes
                li Requiere una vía de dos carriles
            section.bienes
                +cardBienes-2('fabrica-hormigon.png', 'Fábrica de hormigón', 'Prefabricación', '5x6', 'Hormigón armado', 'Roca', 'Alambre')
                +cardBienes-2('fabrica-embalajes.png', 'Fábrica de embalajes', 'Prefabricación', '7x4', 'Embalaje', 'Árbol', 'Papel')
                +cardBienes-2('laboratorio-esencias-saborizantes.png', 'Laboratorio de esencias saborizantes', 'Procesamiento de alimentos', '6x4', 'Saborizantes', 'Flor', 'Brea')
                +cardBienes-2('almacen-construccion.png', 'Almacén de construcción', 'Vialidad', '5x5', 'Materiales de lujo', 'Roca de mármol', 'Porcelana')
                +cardBienes-2('planta-procesamiento-alimentos.png', 'Planta de procesamiento de alimentos', 'Procesamiento de alimentos', '4x6', 'Comida rápida', 'Uvas', 'Café')
    article.articulo#postmoderna
        h2.articulo__titulo Edad Postmoderna
        .articulo__contenedor
            ul.texto--especial.lista-desordenada
                li 79.000 monedas y 185.000 suministros
                li 15 horas
                li 1.530 habitantes
                li Requiere una vía de dos carriles
            section.bienes
                +cardBienes-2('vivero.png', 'Vivero', 'Recursos renovables', '6x4', 'Recursos renovables', 'Árbol de ébano', 'Fertilizante')
                +cardBienes-2('planta-siderurgica.png', 'Planta siderúrgica', 'Acero industrial', '6x5', 'Acero', 'Mineral de hierro', 'Coque')
                +cardBienes-2('fabrica-semiconductores.png', 'Fábrica de semiconductores', 'Electrónica moderna', '4x6', 'Semiconductores', 'Gema', 'Caucho')
                +cardBienes-2('fabrica-filtros-industriales.png', 'Fábrica de filtros industriales', 'Vialidad', '4x7', 'Normas medioambientales', 'Roca de piedra caliza', 'Tejidos')
                +cardBienes-2('laboratorio-investigacion-genetica.png', 'Laboratorio de investigación genética', 'Investigación genética', '7x4', 'Dato de genoma', 'Lana', 'Aceite de ballena')
    article.articulo#contemporanea
        h2.articulo__titulo Edad Contemporánea
        .articulo__contenedor
            ul.texto--especial.lista-desordenada
                li 120.000 monedas y 278.000 suministros
                li 15 horas
                li Requiere una vía de dos carriles
            section.bienes
                +cardBienes-3('laboratorio-investigacion-bionica.png', 'Laboratorio de investigación biónica', 'Biónica', '2.790 habitantes', '6x4', 'Datos de biónica', 'Panal', 'Asbesto')
                +cardBienes-3('planta-gnl.png', 'Planta de GNL', 'Industria petrolera', "1.480 habitantes", '6x5', 'Gas', 'Roca de granito', 'Explosivos')
                +cardBienes-3('fabrica-imanes.png', 'Fábrica de imanes', 'Automatización', '2.180 habitantes', '5x5', 'Electroimanes', 'Mineral de cobre', 'Estaño')
                +cardBienes-3('planta-plasticos.png', 'Planta de plásticos', 'Industria petrolera', '1.980 habitantes', '4x6', 'Plásticos', 'Alabastro en bruto', 'Gasolina')
                +cardBienes-3('fabrica-robots.png', 'Fábrica de robots', 'Automatización', '2.480 habitantes',  '4x7', 'Robots', 'Pepitas de oro', 'Piezas de máquina')
    article.articulo#manyana
        h2.articulo__titulo Edad del Mañana
        .articulo__contenedor
            ul.texto--especial.lista-desordenada
                li 153.000 monedas y 353.000 suministros
                li 15 horas
                li Requiere una vía de dos carriles
            section.bienes
                +cardBienes-3('fabrica-hormigon-traslucido.png', 'Fábrica de hormigón traslúcido', 'Materiales de alta tecnología', '2.180 habitantes', '5x4', 'Hormigón traslúcido', 'Cuarzo', 'Hormigón armado')
                +cardBienes-3('fabrica-materiales-inteligentes.png', 'Fábrica de materiales inteligentes', 'Materiales de alta tecnología', "3.180 habitantes", '5x5', 'Materiales inteligentes', 'Arcilla', 'Materiales de lujo')
                +cardBienes-3('fabrica-hormigon-papel.png', 'Fábrica de hormigón de papel', 'Materiales reciclados', '2.980 habitantes', '4x4', 'Hormigón de papel', 'Cáñamo', 'Embalaje')
                +cardBienes-3('fabrica-conservantes.png', 'Fábrica de conservantes', 'Ciencia de la nutrición', '2.180 habitantes', '4x5', 'Conservantes', 'Sal no refinada', 'Saborizantes')
                +cardBienes-3('laboratorio-investigacion-nutricion.png', 'Laboratorio de investigación de nutrición', 'Ciencia de la nutrición', '1.780 habitantes',  '5x3', 'Investigación de nutrición', 'Hierbas', 'Comida rápida')
    article.articulo#futuro
        h2.articulo__titulo El Futuro
        .articulo__contenedor
            ul.texto--especial.lista-desordenada
                li 220.000 monedas y 481.000 suministros
                li 15 horas
                li Requiere una vía de dos carriles
            section.bienes
                +cardBienes-3('centro-ciencias-tierra.png', 'Centro de Ciencias de la Tierra', 'Bioquímica', '3.620 habitantes', '5x5', 'Datos biogeoquímicos', 'Bloques de azufre', 'Recursos renovables')
                +cardBienes-3('purificador-agua.png', 'Purificador de agua', 'Poder de la marea', "4.920 habitantes", '7x4', 'Agua purificada', 'Roca de basalto', 'Filtros industriales')
                +cardBienes-3('granja-algas.png', 'Granja de algas', 'Bioquímica', '5.020 habitantes', '6x5', 'Algas', 'Capullos', 'Datos de genoma')
                +cardBienes-3('fabrica-superconductores.png', 'Fábrica de superconductores', 'Ciencia de baja temperatura', '3.220 habitantes', '4x6', 'Superconductor', 'Esteatita', 'Semiconductores')
                +cardBienes-3('laboratorio-nanoparticulas.png', 'Laboratorio de nanopartículas', 'Bioquímica', '3.620 habitantes',  '5x5', 'Nanopartículas', 'Mineral de zinc', 'Acero')
    article.articulo#futuro-artico
        h2.articulo__titulo Futuro Ártico
        .articulo__contenedor
            ul.texto--especial.lista-desordenada
                li 293.000 monedas y 638.000 suministros
                li 15 horas
                li Requiere una vía de dos carriles
            section.bienes
                +cardBienes-3('laboratorio-nanohilos.png', 'Laboratorio de nanohilos', 'Nanotubos', '4.610 habitantes', '4x7', 'Nanohilo', 'Mineral de níquel', 'Datos de biónica')
                +cardBienes-3('catalizador-gas-transester.png', 'Catalizador de gas transéster', 'Transesterificación avanzada', "4.330 habitantes", '5x5', 'Gas transéster', 'Granos de café', 'Gas')
                +cardBienes-3('centro-investigacion-ia.png', 'Centro de investigación de I.A.', 'Investigación de I.A.', '5.110 habitantes', '5x6', 'Datos de I.A.', 'Arcilla de caolín', 'Robots')
                +cardBienes-3('fabrica-baterias-papel.png', 'Fábrica de baterías de papel', 'Transmisión biológica', '4.610 habitantes', '6x4', 'Baterías de papel', 'Madera de abeto', 'Electroimanes')
                +cardBienes-3('fabrica-bioplasticos.png', 'Fábrica de bioplásticos', 'Bioplásticos', '5.600 habitantes',  '5x5', 'Bioplásticos', 'Madera de pino', 'Plásticos')
    article.articulo#futuro-oceanico
        h2.articulo__titulo Futuro Oceánico
        .articulo__contenedor
            ul.texto--especial.lista-desordenada
                li 332.000 monedas y 716.000 suministros
                li 15 horas
                li Requiere una vía de dos carriles
            section.bienes
                +cardBienes-3('cultivo-ostras.png', 'Cultivo de ostras', 'Núcleos de ingeniería', '4.400 habitantes', '6x5', 'Perlas', 'Depósito de coque', 'Hormigón traslúcido')
                +cardBienes-3('artesanos-escamas-artificiales.png', 'Artesanos de escamas artificiales', 'Escamas endurecidas', "4.450 habitantes", '5x6', 'Escamas artificiales', 'Depósito de rtejido', 'Conservantes')
                +cardBienes-3('criadero-corales.png', 'Criadero de corales', 'Propagación de coral', '6.250 habitantes', '6x5', 'Corales', 'Depósito de fertilizante', 'Hormigón de pepel')
                +cardBienes-3('laboratorio-investigacion-profundidades.png', 'Laboratorio de Investigación de las Profundidades', 'Lentes de oxígeno', '5.700 habitantes', '6x5', 'Bioluz', 'Depósito de aceite de ballena', 'Materiales inteligentes')
                +cardBienes-3('fabrica-fitoplancton.png', 'Fábrica de fitoplancton', 'Nanohábitat', '5.000 habitantes',  '7x4', 'Plancton', 'Depósito de caucho', 'Investigación de nutrición')
    article.articulo#futuro-virtual
        h2.articulo__titulo Futuro Virtual
        .articulo__contenedor
            ul.texto--especial.lista-desordenada
                li 390.000 monedas y 837.000 suministros
                li 15 horas
                li Requiere una vía de dos carriles
            section.bienes
                +cardBienes-3('cultivo-fibras-botanicas.png', 'Cultivo de fibras botánicas', 'Tejidos inteligentes', '6.210 habitantes', '4x7', 'Seda de té', 'Algas', 'Alabastro en bruto')
                +cardBienes-3('cantera-cristales-jade.png', 'Cantera de cristales de jade', 'Grabado de información trinaria', '5.640 habitantes', '6x5', 'Cristal de dato', 'Superconductores', 'Roca de granito')
                +cardBienes-3('cultivo-arroz-sostenible.png', 'Cultivo de arroz sostenible', 'Ingeniería alimentaria acelerada', '5.640 habitantes', '5x6', 'Arroz dorado', 'Agua purificada', 'Panal')
                +cardBienes-3('clinica-nanomejoras.png', 'Clínica de nanomejoras', 'Picoinformática', '5.640 habitantes', '6x5', 'Nanite', 'Nanopartículas', 'Mineral de cobre')
                +cardBienes-3('banco-criptomonedas.png', 'Banco de criptomonedas', 'Generadores fiables de criptomonedas', '6.210 habitantes', '7x4', 'Criptomonedas', 'Datos biogeoquímicos', 'Pepita de oro')
    article.articulo#espacial-marciana
        h2.articulo__titulo Era Espacial Marciana
        .articulo__contenedor
            ul.texto--especial.lista-desordenada
                li 1.750.00 monedas y 2.100.000 suministros
                li 2 horas
                li Además del depósito bruto de cada edificio, para producir bienes hay que consumir un material marciano común, el #[span.texto--enfasis Mineral de Marte], que se obtiene en las provincias del mapa
                li Cada edificio requiere un número concreto de #[span.texto--enfasis colonos], el equivalente marciano a los habitantes
            section.bienes
                +cardBienes-4('granja-biotecnologia.png', 'Granja de biotecnología', 'Recodificación de genoma', '817', '3x4', 'Tierra nutricional', 'Cultivos de biotecnología')
                +cardBienes-4('instalaciones-fresado-quimico.png', 'Instalaciones de fresado químico', 'Cristalización subatómica', '817', '4x3', 'Roca hidrotermal', 'Lubricantes')
                +cardBienes-4('central-fusion.png', 'Central de fusión', 'Fusión nuclear entrelazada', '817', '4x3', 'Deuterio', 'Reactores de fusión')
                +cardBienes-4('laboratorio-investigacion-microbiana.png', 'Laboratorio de investigación microbiana', 'Recodificación de genoma', '613', '4x4', 'Fósiles', 'Microbios de Marte')
                +cardBienes-4('taladro-superficie.png', 'Taladro de superficie', 'Cristalización subatómica', '613', '4x4', 'Veta de mineral', 'Superaleaciones')
    article.articulo#cinturon-asteroides-ciudad
        h2.articulo__titulo Era Espacial Cinturón de Asteroides (Ciudad)
        .articulo__contenedor
            ul.texto--especial.lista-desordenada
                li 450.00 monedas y 900.000 suministros
                li 15 horas para su construcción
                li Ocupan un área de 3x3
                li En esta era se añade la posibilidad de producir en la ciudad bienes de la Era Espacial Marciana, incluso mineral de Marte. Estos bienes se producen en su respectivo sintetizador
                li Para producir bienes en estos edificios, además del correspondiente gasto de monedas y suministros, hay que aportar medallas.
                li Requiere una vía de dos carriles 
            seccion.bienes
                +cardBienes-5('sintetizador-cultivos-biotecnologicos.png', 'Sintetizador de cultivos biotecnológicos', 'Sintetización de Bienes de Marte I', '5640', 'Tierra Nutricional', 'Cultivos de biotecnología')
                +cardBienes-5('sintetizador-lubricantes.png', 'Sintetizador de lubricantes', 'Sintetización de Bienes de Marte II', '5640', 'Roca hidrotermal', 'Lubricantes')
                +cardBienes-5('sintetizador-microbios-marte.png', 'Sintetizador de microbios de Marte', 'Sintetización de Bienes de Marte I', '5640', 'Fósiles', 'Microbios de Marte')
                +cardBienes-5('sintetizador-mineral-marte.png', 'Sintetizador de mineral de Marte', 'Sintetización de Bienes de Marte II', '7900', '-', 'Mineral de Marte')
                +cardBienes-5('sintetizador-reactores-fusion.png', 'Sintetizador de reactores de fusión', 'Sintetización de Bienes de Marte II', '5640', 'Deuterio', 'Reactores de fusión')
                +cardBienes-5('sintetizador-superaleaciones.png', 'Sintetizador de superaleaciones', 'Sintetización de Bienes de Marte I', '5640', 'Veta de mineral', 'Superaleaciones')
    article.articulo#cinturon-asteroides-colonia
        h2.articulo__titulo Era Espacial Cinturón de Asteroides (Colonia)
        .articulo__contenedor
            ul.texto--especial.lista-desordenada
                li 3.630.000 monedas y 4.290.000 suministros
                li 2 horas para su construcción
                 li Además del depósito bruto de cada edificio, para producir bienes hay que consumir un material del Cinturón de Asteroides, el #[span.texto--enfasis hielo de los asteroides], que se obtiene en las provincias del mapa
                li Estos edificios requieren un cierto número de colonos en el asentamiento extraterrestre
            seccion.bienes
                +cardBienes-4('excavadora-niquel.png', 'Exacavadora de níquel', 'Módulo de gravitación artificial', '303', '6x4', 'Depósito de níquel', 'Níquel')
                +cardBienes-4('procesador-lecho-roca.png', 'Procesador de lecho de roca', 'Módulo de gravitación artificial', '363', '4x5', 'Materiales Sólidos', 'Materiales procesados')
                +cardBienes-4('taladro-asteroides.png', 'Taladro de asteroides', 'Destilación de vacío avanzada', '363', '5x4', 'Cúmulo líquido', 'Fluidos compuestos')
                +cardBienes-4('bomba-bromo.png', 'Bomba de bromo', 'Minería térmica', '363', '4x5', 'Aparición de bromo', 'Bromo')
                +cardBienes-4('cantera-platino.png', 'Cantera de platino', 'Minería térmica', '291', '5x5', 'Polvo de platino', 'Cristales de platino') 