.main__contenedor
    article.articulo
        h2.articulo__titulo--index Galería de imagen
        hr.hr
    section.galeria
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Ca%C3%B1%C3%B3n_de_Riel', 'campo-canyon-riel.png', 'Campo del Cañón de Riel', 'Edificio militar de la Edad Futuro que fabrica la unidad de artillería Cañón de Riel.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Baile_de_M%C3%A1scaras', 'baile-mascaras.png', 'Baile de Máscaras', 'Edificio de producción especial del Evento de Carnaval 2017. Ofrece seis opciones diferentes en función del tiempo de producción.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Aposentos_de_los_Atletas', 'alojamiento-atletas.png', 'Alojamiento de los Atletas', 'Edicio residencial especial lanzado en el Evento Forge Bowl 2018. Además de monedas cada 24 horas, tiene un bonus de defensa. Cuando está motivado entrega cinco bienes de la edad actual.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Zigurat', 'zigurat.png', 'Zigurat', 'Edificio residencial y cultural especial que aparece en el Evento de Verano 2015. Dota de población, felicidad y produce monedas cada hora.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Luau','luau.png', 'Luau', 'Edificio de producción especial del Evento de Verano de 2016. Ofrece seis opciones diferentes en función del tiempo de producción.')
        +cardGaleria('http://forgeofempires.wikia.com/wiki/Menagerie', 'casa-fieras.png', 'Casa de fieras', 'Edificio residencial especial del Evento histórico Sacajawea 2018. Cuando está motivado su producción de monedas se dobla y produce 10 bienes aleatorios de un tipo de la era del edificio.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Torre_Negra', 'torre-negra.png', 'Torre Negra', 'Edificio residencial especial lanzado en el Evento de Halloween 2017. Cuando es motivado dobla la producción de monedas y entrega FP, medallas y un bien de cada de la era del edificio.')
        +cardGaleria('http://forgeofempires.wikia.com/wiki/Arctic_Harbor', 'puerto-artico.png', 'Puerto Ártico', 'Edificio especial de producción de bienes de la Edad Futuro Ártico que envía un barco diario a recoger un material especial, el prometio. Puede recibir dos mejoras sucesivas y se pueden elegir los integrantes de la tripulación.')
        +cardGaleria('http://forgeofempires.wikia.com/wiki/Oceanic_Terminal', 'terminal-oceanica.png', 'Terminal Oceánica', 'Edificio especial de producción de bienes de la Edad Futuro Oceánico que envía un barco diario a recoger un material especial, el orichalcum. Puede recibir tres mejoras sucesivas y se pueden elegir los integrantes de la tripulación.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Plaza_de_los_Ganadores', 'plaza-ganadores.png', 'Plaza de los Ganadores', 'Edificio cultural especial del Evento Forge Bowl 2018. Aporta felicidad y un porcentaje de mejora del ataque.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Plaza_de_los_Ganadores', 'plaza-ganadores-2.png', 'Plaza de los Ganadores', 'Nuevo diseño del edificio.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Laberinto_de_Arbustos', 'laberinto-arbustos.png', 'Laberinto de arbustos', 'Edificio de producción especial lanzado en el Evento de Misión histórica Shah Jahan 2017. Cada 12 horas proporciona recursos, monedas, bienes, medallas, o FP de forma aleatoria. Mide 5x4.' )
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Pabell%C3%B3n', 'pabellon.png', 'Pabellón', 'Edificio cultural especial que aparece en la Misión histórica Mahatma Gandhi 2017. Proporciona felicidad y un bono de mejora de producción de suministros. Ocupa 4x4.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Granja_con_Terrazas', 'granja-terrazas.png', 'Granja con terrazas', 'Edificio de producción especial que se obtiene en las Expediciones de Gremio. Genera monedas, suministros, medallas, bienes o bienes no refinados, o FP en función del tiempo de producción asignado. Ocupa 5x6.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Granja_con_Terrazas', 'granja-terrazas-2.png', 'Granja con terrazas', 'Cambio de imagen de este ítem.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Caravasar', 'caravasar.png', 'Caravasar', 'Edificio residencial especial lanzado en el Evento de Verano 2015. Cuando es motivado entrega un bien refinado de cada tipo de la edad del edificio y un número de medallas. Ocupa 4x5.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Tienda_de_Foeberg%C3%A9', 'tienda-foeberge.png', 'Tienda Foebergé', 'Edificio de producción especial lanzado en el Evento de Pascua 2016. Además de suministros proporciona felicidad. Ocupa 3x4.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Bazar', 'bazar.png', 'Bazar', 'Edificio de producción especial que aparece por primera vez en el Evento de Verano 2015, que presenta seis opciones diferentes (recursos, monedas, coronas, medallas, bienes, o FP) en función de la duración de producción elegida. Mide 5x4.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Arena_de_los_Ganadores', 'arena-ganadores.png', 'Arena de los Ganadores', 'Edificio de producción especial lanzado en el Evento Forge Bowl 2018. Entrega diferentes ítems en función del tiempo de producción asignado. Mide 4x5.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Fuente_de_la_Juventud', 'fuente-juventud.png', 'Fuente de la Juventud', 'Edificio especial que otorga cada 24 horas monedas, recursos, bienes, medallas, o FP de forma aleatoria. Hay una probabilidad de un 1% de que entregue 50 diamantes. Ocupa un espacio de 3x3.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Fuente_de_la_Juventud', 'fuente-juventud-2.png', 'Fuente de la Juventud', 'Nuevo diseño')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Laboratorio_del_Cient%C3%ADfico_Loco', 'laboratorio.png', 'Laboratorio del científico loco', 'Edificio especial que ofrece producciones distintas (suministros, medallas, monedas, FPs, o bienes), en función del tiempo de producción elegido. Ocupa una parcela de 4x4. Fue introducido en el Evento de Halloween de 2015.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Portal_Oscuro', 'portal.png', 'Portal Oscuro', 'Edificio residencial especial lanzado en el Evento de Halloween de 2018. Ocupa una superficie de 3x3. Además de monedas, si es motivado genera 3 FPs.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Ros%C3%A1rium', 'rosarium.png', 'Rosárium', 'Es un edificio de producción especial introducido en el Evento histórico de Marilyn Monroe. Genera 5 ítems distintos (suministros, monedas, medallas, FPs, bienes) en función del tiempo de producción asignado. Ocupa un área de 3x4.')
        +cardGaleria('http://forgeofempires.wikia.com/wiki/Sleigh_Builder', 'constructor-trineos.png', 'Constructor de trineos', 'Edificio de producción especial introducido en el Evento de Invierno 2018. Entrega cinco ítems distintos (monedas, suministros, coronas, medallas, bienes) en función del tiempo de producción asignado. Ocupa un área de 2x3.')
        +cardGaleria('http://forgeofempires.wikia.com/wiki/Charming_Cottage', 'cabanya-encantadora.png', 'Cabaña Encantadora', 'Edificio residencial especial introducido en el Evento de Invierno 2018. Cuando es motivado, además de duplicar la suma de monedas, entrega 6 bienes aleatorios de una clase de la edad del edificio. Se extiende en una superficie de 4x3.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Plaza_Tribal', 'plaza-tribal.png', 'Plaza Tribal', 'Edificio residencial especial que se obtiene en las Expediciones de Gremio. Cuando es motivado duplica la cantidad de monedas que aporta y entrega un bien de cada clase de la edad del edificio. Ocupa un área de 4x3.')
        +cardGaleria('https://forgeofempires.fandom.com/wiki/Tribal_Square', 'plaza-tribal-2.png', 'Plaza Tribal', 'Nueva imagen de este edificio')
        +cardGaleria('https://forgeofempires.fandom.com/wiki/Sacred_Sky_Watch', 'reloj-cielo-sagrado.png', 'Reloj del Cielo Sagrado', 'Edificio residencial especial que se entrega como premio en las Expediciones de Gremio. Cuando es motivado su producción de monedas se duplica y entrega 1 FP. Ocupa un área de 3x2.')
        +cardGaleria('https://forgeofempires.fandom.com/wiki/Sacred_Sky_Watch', 'reloj-cielo-sagrado-2.png', 'Reloj del Cielo Sagrado', 'Nueva imagen de este edificio.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Oasis', 'oasis.png', 'Oasis', 'Edificio residencial especial que aparece en el Evento de Verano de 2014. Cuando es motivado dobla su producción de monedas y genera un bien de cada clase de la edad del edificio. Necesita un espacio de 3x4.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Cascada_Real', 'cascada-real.png', 'Cascada Real', 'Edificio residencial especial lanzado en el Evento histórico de Rosa Parks. Otorga tantos puntos de felicidad como número de residentes del edificio. Cuando es motivado dobla la producción de monedas y proporciona siete bienes aleatorios de una clase de la edad del edificio. Necesita un área de 3x4.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Curandero_M%C3%A1gico', 'curandero.png', 'Curandero mágico', 'Edificio de producción especial puesto en circulación en el Evento de Verano de 2014. Cuando es motivado, además de entregar la producción establecida, proporciona la misma cantidad de monedas. Ocupa un espacio de 3x2.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=La_casa_se%C3%B1orial', 'casa-senyorial.png', 'Casa Señorial','Edificio residencial especial que se introduce en el Evento histórico de Sir Arthur Conan Doyle. Cuando es motivado entrega dos FPs. Ocupa un área de 4x4')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Gran_obra', 'gran-obra.png', 'Gran Obra', 'Es un ítem de producción especial lanzado en el evento histórico de Van Gogh. En función del tiempo elegido de producción aporta suministros, medallas, coronas o FPs. Se extiende en un espacio de 3x2.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Monasterio', 'monasterio.png', 'Monasterio', 'Edificio militar especial que se consigue al completar la misión de los Bárbaros en el mapa de campaña. Otorga un 20 % de escudo defensivo al ejército en defensa. Ocupa una cuadrícula de 3x3.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Campo_de_F%C3%BAtbol', 'campo-futbol.png', 'Campo de fútbol', 'Edificio de producción especial puesto en circulación en el Evento Copa de Fútbol 2016. Genera ítems distintos en función del tiempo de producción seleccionado (suministros, medallas, monedas, bienes o FPs). Necesita un área de 5x4.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Pajarera', 'pajarera.png', 'Pajarera', 'Edificio de producción especial lanzado en el Evento histórico de Sisi. Proporciona ítems distintos según el tiempo de producción elegido (suministros, medallas, monedas). Ocupa una superficie de 3x4.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Casa_Sobre_Pilares', 'casa-pilares.png', 'Casa sobre pilares', 'Edificio residencial especial introducido en el Evento de Verano 2016. Se extiende en una superficie de 4x3. Aumenta la población en siete ciudadanos y cuando es motivado, además de doblar su producción de monedas como es habitual, entrega medallas.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Torre_con_reloj_de_sol', 'torre-reloj-sol.png', 'Torre con reloj de sol', 'Edificio especial protagonista del Evento histórico Galileo Galilei. Proporciona monedas y una mejora del factor de escudo en defensa. Cuando es motivado produce un FP. Necesita un espacio de 2x3.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Rotonda_Bot%C3%A1nica', 'rotonda-botanica.png', 'Rotonda Botánica', 'Edificio cultural especial que fue el premio más importante del Evento histórico de Gengis Kan. Además de la felicidad inherente a un ítem cultural, otorga un bono de potencia de ataque para las unidades ofensivas. Se sitúa en un área de 3x3.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Taller_de_Santa', 'taller-santa.png', 'Taller de Santa', 'Edificio de producción especial que aparece en el Evento de Invierno 2016. Entrega ítems distintos en función del tiempo dedicado (suministros, monedas, medallas, bienes). También proporciona felicidad de forma continuada. Ocupa un área de 5x4.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Mansión_Renacentista', 'mansion-renacentista.png', 'Mansión renacentista', 'Edificio residencial especial lanzado en el Evento de Carnaval 2018. Dota del mismo número de puntos de felicidad como moradores tenga. Necesita un espacio de 4x3.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Villa_Renacentista', 'villa-renacentista.png', 'Villa renacentista', 'Edificio residencial especial lanzado en el Evento de Carnaval 2017. Dota del mismo número de puntos de felicidad como moradores tenga. Ocupa una cuadrícula de 3x3.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Mercado_del_Muelle_de_Góndolas', 'mercado-muelle-gondolas.png', 'Mercado del muelle de góndolas', 'Edificio de producción especial que aparece en el Evento de Carnaval 2018. Entrega diferentes productos en función de los tiempos elegidos (monedas, suministros, medallas, coronas, FPs). Necesita un área de 4x5.')
        +cardGaleria('http://forgeofempires.wikia.com/wiki/Battle_Tank_Factory', 'factoria-tanques-batalla.png', 'Factoría de tanques de batalla', 'Edificio militar de la Edad Moderna. Se extiende en una superficie de 4x6.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Pagoda_de_un_Piso', 'pagoda.png', 'Pagoda de un piso', 'Edificio residencial especial entregado como premio por primera vez en el Evento de Primavera 2017. Además de las monedas como cualquier otro edificio residencial, proporciona el mismo número de puntos de felicidad que moradores tenga. Tamaño de 4x4.')
        +cardGaleria('http://forgeofempires.wikia.com/wiki/Obelisk_Garden', 'jardin-obelisco.png', 'Jardín del Obelisco', 'Es un edificio residencial especial puesto en circulación en el Evento histórico de Cleopatra. Además de población y monedas, produce 1 FP cuando es motivado. Necesita un cuadrado de 2x2.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Torre_Embrujada', 'torre-encantada.png', 'Torre Encantada', 'Edificio cultural especial lanzado en el Evento de Halloween 2016, modificado en el mismo Evento de 2018. Además de la felicidad inherente a este tipo de ítems, proporciona un porcentaje de mejora de la producción de suministros. Ocupa un espacio de 3x3.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Globo', 'el-globo.png', 'El Globo', 'Edificio cultural especial lanzado en el Evento histórico de los hermanos Montgolfier. Mide 3x3.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=P%C3%B3rtico_Real_de_M%C3%A1rmol','portico-real-marmol.png', 'Pórtico Real de Mármol', 'Edificio residencial especial lanzado en el Evento histórico de Napoleón Bonaparte. Proporciona tanta felicidad como moradores posea y tiene como bono extra un porcentaje de mejora del factor de ataque. Ocupa un área de 3x2.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Kiosco','kiosco.png', 'Kiosco', 'Es un edificio especial puesto en circulación en el Evento histórico del Tour de France. Entrega monedas y cuando es motivado cinco bienes refinados. Necesita un espacio de 3x2.')
        +cardGaleria('https://forgeofempires.fandom.com/wiki/Carousel', 'carrusel.png', 'Carrusel', 'Edificio cultural especial que apareció en el Evento Arqueológico. Amén de felicidad, proporciona bonos de ataque y defensa al ejercito ofensivo. Ocupa un área de 3x3.')
        +cardGaleria('https://forgeofempires.fandom.com/wiki/Ornate_Baths', 'banyos-ornamentados.png', 'Baños ornamentados', 'Edificio cultural especial que aparece en el Evento Copa de Fútbol 2018. Además de felicidad, otorga un bono de mejora de la producción. Necesita un espacio de 4x3.')
        +cardGaleria('https://forgeofempires.fandom.com/wiki/Speaker%27s_Corner', 'rincon-orador.png', 'Rincón del orador', 'Edificio residencial especial que apareció en el Evento Tributo 2015. Además de las consabidas monedas, proporciona un bono de ataque a las unidades ofensivas. Mide 3x3.')
        +cardGaleria('https://es.wiki.forgeofempires.com/index.php?title=Guarida_del_Tigre', 'guarida-tigre.png', 'Guarida del tigre', 'Edificio cultural especial puesto en circulación en el Evento de Verano 2014. Además de felicidad, proporciona un bono defensivo. Mide 3x3.')
        +cardGaleria('https://forgeofempires.fandom.com/wiki/Checkmate_Square', 'plaza-jaque-mate.png', 'Plaza Jaque Mate', 'Edificio residencial especial que aparece en el Evento Histórico de Albert Einstein. Además de población y monedas, aporta un bonus de ataque para el ejército ofensivo.')
        +cardGaleria('https://forgeofempires.fandom.com/wiki/Hall_of_Fame', 'salon-fama.png', 'Salón de la Fama', 'Edificio especial que fue introducido en el evento Copa del Mundo de Fútbol de 2014. Aporta coronas para el Gremio cada 24 horas.')
        +cardGaleria('https://forgeofempires.fandom.com/wiki/Hall_of_Fame', 'salon-fama-2.png', 'Salón de la Fama', 'Nuevo diseño del edificio.')
        +cardGaleria('https://forgeofempires.fandom.com/wiki/Contestants%27_Estate', 'finca-contendientes.png', 'Finca de los contendientes', 'Es un edificio residencial especial lanzado en el Evento Copa de Fútbol 2018. Proporciona monedas y población y un bonus de ataque al ejercito en la ofensiva. Cuando es motivado también entrega medallas. Necesita un área de 3x2.')
