- let idMapa = ['mundo','antiguas', 'industrial', 'progreso', 'moderna', 'postmoderna', 'contemporanea', 'manyana', 'futuro', 'artico-1', 'artico-2', 'artico-3', 'artico-4', 'oceanico-1-2', 'oceanico-3-4-5', 'oceanico-6', 'virtual-1', 'virtual-2', 'virtual-3', 'espacial-marciana-1', 'espacial-marciana-2', 'cinturon-asteroides-1', 'cinturon-asteroides-2'] 

- let eras = ['Mundo', 'Antiguas', 'Industrial', 'Progreso', 'Moderna', 'Postmoderna', 'Contemporánea', 'Mañana', 'Futuro', 'Ártico I', 'Ártico II', 'Ártico III', 'Ártico IV', 'Oceánico I-II', 'Oceánico III-IV-V', 'Oceánico VI', 'Virtual I', 'Virtual II', 'Virtual III', 'Espacial Marciana I',  'Espacial Marciana II', 'Espacial Cinturón de Asteroides I', 'Espacial Cinturón de Asteroides II']

.main__contenedor
    .contenedor__alineacion__derecha
        .texto--aviso__contenedor
            p.texto--aviso__texto Guarda las imágenes para verlas a mayor tamaño
    - for (let n = 0; n < idMapa.length; n++)
        article(class= 'articulo' id= idMapa[n])
            h2(class="articulo__titulo")= eras[n]
            .articulo__contenedor
                .item__contenedor--mapas
                    .item__img--mapas
                        img(src=`img/mapas/${idMapa[n]}.jpg` alt=`FOE. Mapas. ${eras[n]}`)