.main__contenedor
    article.articulo
        h2.articulo__titulo--index Grandes Edificios de población
        hr.hr
        p.texto--especial Mis opiniones sobre los edificios de población se van a basar en su rendimiento al nivel 10 y 25. Llegar a este es más factible que a 50, porque cuando lleguen, los que lleguen, a esta cifra, todos calvos. Veamos.
        .articulo__contenedor
            +itemDosColumnas('babel', 'Torre de Babel','La Torre de Babel ocupa poco. Prácticamente la regalan si compras cuatro yogures, por eso algunos picamos y la construimos. 75 habitantes por casilla a nivel 10 y 115 a nivel 25. También proporciona bienes, no refinados en edades avanzadas. Rendimiento mediocre para población en cuanto progreses un poco en el juego. Hay viviendas normales en edades avanzadas con mejor desempeño por casilla. Los bienes nunca sobran, pero...')
            +itemDosColumnas('capitolio', 'Capitolio', 'Capitolio es grande. Otorga producción como bono adicional. 301 habitantes por casilla a nivel 10 y 476 al 25. Es la primera ayuda de verdad en este apartado del juego y puede servir un par de edades, acaso tres si se sube bastante, pero quizás no convenga hacerlo demasiado porque hay GEs avanzados más eficaces.')
            +itemDosColumnas('habitat', 'El Hábitat', 'El Hábitat es grande también. Su bono adicional son las monedas, luego es como si no tuviera bono. Sus ratios son 446 habitantes por casilla al nivel 10 y 706 al 25. En este aspecto, es el edificio más eficaz de los cuatro, pero no tan superior a Torre de la Innovación, que analizaré a continuación, y dado que su bono es tan mediocre no es una gran elección. Conseguir planos no es fácil porque pocos lo erigen.')
            +itemDosColumnas('torre-innovacion', 'Torre de la Innovación', 'Torre de la Innovación es el más pequeño de los edificios avanzados que proporcionan población. Su bono adicional son los sabrosos FPs... Rico, rico... Su rendimiento es 425 habitantes por casilla al nivel 10 y 672 al 25. Como se puede comprobar, sus números no son tan inferiores a Hábitat, su bono es útil de verdad, es más pequeña, luego más fácil hacerle sitio y la montan casi todos los jugadores de nivel. Planos casi regalados.')
