.main__contenedor
    article.articulo
        h2.articulo__titulo--index Edificios Residenciales
        hr.hr
        p.texto--especial Los edificios residenciales son elementos básicos que proporcionan #[strong población] y #[strong monedas] en cierto período de tiempo.
        p.texto--especial Todos estos ítems tienen diferentes propiedades, incluso en la misma Edad. Algunos dotan de más población pero menos monedas, otros al contrario. De algunos se pueden recoger las monedas en un tiempo corto, para otros se necesitan muchas horas. Como ocurre con otros edificios para otros propósitos, cada vez son más grandes a medida que se avanza en el árbol de edades.
        p.texto--especial Los edificios residenciales proporcionan población de forma permanente mientras que estén construidos, y generan monedas en el tiempo definido en cada ítem si están conectados al Ayuntamiento mediante un camino o carretera. Ahora bien, el jugador ha de recolectarlas una vez producidas. Una vez generadas, no desaparecen hasta que son recogidas. Pueden ser saqueadas si no se recolectan.
        p.texto--especial Cuando se avanza en el juego surge el impedimento principal de Forge, #[span.texto--enfasis la escasez de espacio]. Por ello, el jugador empieza a buscar fórmulas más eficientes que estos objetos para conseguir la población necesaria: #[span.texto--enfasis edificios especiales] o #[a.link(href="ges-poblacion.html") Grandes Edificios de población], principalmente. El objetivo es quitar casas y casas y ganar espacio. Obviamente, otra vía es reducir el número del resto de edificios que exigen población y/o sustituirlos por otros que requieran menos habitantes. Del mismo modo, esta estrategia es válida para obtener monedas con una menor dependencia de las viviendas normales.
        p.texto--especial A continuación, se van a reseñar los edificios residenciales disponibles, agrupados por Edades. En cada ítem se informa de:
        ul.texto--especial.lista-desordenada
            li Costes de construcción en monedas, suministros y en el caso de edificios premium, en diamantes.
            li Tamaño.
            li Ancho del camino necesario.
            li Tiempo necesario para finalizar su construcción.
            li Población proporcionada.
            li Población proporcionada por cuadrado de extensión.
            li Monedas entregadas/lapso de tiempo.
        h3.texto--especial Novedades en la Era Espacial Marciana
        p.texto--especial En esta Edad hay edificios residenciales similares a los habituales en la Tierra y en Marte, que proporcionan #[span.texto--enfasis Créditos], el equivalente a la moneda en la colonia marciana. Estos Créditos son necesarios para avanzar en la Mapa Continental Marciano. Además de esto, los edificios residenciales de la colonia proporcionan #[span.texto--enfasis Colonos], el equivalente a los habitantes regulares en la Tierra.
        article.articulo#piedra
            h2.articulo__titulo Edad de Piedra
            .articulo__contenedor
                section.residencial
                    +cardResidencial(false, 'cabanya', 'Cabaña', 0, 0, 60, '2x2', 1, '5 minutos', 14, 3.5, 5,'5 minutos')
        article.articulo#bronce
            h2.articulo__titulo Edad de Bronce
            .articulo__contenedor
                section.residencial
                    +cardResidencial(false, 'chalet', 'Chalet', 0, 120, 370, '2x2', 1, '10 minutos', 32, 8, 80,'4 horas')
                    +cardResidencial(false, 'choza', 'Choza', 0, 160, 300, '2x2', 1, '5 minutos', 27, 6.75, 32,'1 hora')
                    +cardResidencial(false, 'palafito', 'Palafito', 0, 40, 150, '2x2', 1, '10 segundos', 22, 5.5, 11,'15 minutos')
                    +cardResidencial(true, 'casa-comunal', 'Casa comunal', 100, 0, 0, '4x2', 1, '5 segundos', 70, 8.75, 100,'1 hora')
        article.articulo#hierro
            h2.articulo__titulo Edad de Hierro
            .articulo__contenedor
                section.residencial
                    +cardResidencial(false, 'casa-tejas', 'Casa de tejas', 0, 400, 600, '2x2', 1, '20 minutos', 44, 11, 1,'15 minutos')
                    +cardResidencial(false, 'casa-campo', 'Casa de campo', 0, 250, 890, '2x2', 1, '30 minutos', 73, 18.25, 110,'4 horas')
                    +cardResidencial(true, 'villa', 'Villa', 200, 0, 0, '2x2', 1, '20 segundos', 87, 21.75, 100,'1 hora')
        article.articulo#aem
            h2.articulo__titulo Alta Edad Media
            .articulo__contenedor
                section.residencial
                    +cardResidencial(false, 'casa-varios-pisos', 'Casa de varios pisos', 0, 900, 3300, '2x2', 1, '20 segundos', 89, 22.25, 200,'4 horas')
                    +cardResidencial(false, 'casa-madera', 'Casa de madera', 0, 700, 2600, '2x2', 1, '1 hora y 20 minutos', 67, 16.75, 60,'1 hora')
                    +cardResidencial(false, 'casa-vigas', 'Casa de vigas', 0, 1000, 3900, '2x2', 1, '1 hora y 50 minutos', 111, 27.75, 240,'8 horas')
        article.articulo#pem
            h2.articulo__titulo Plena Edad Media
            .articulo__contenedor
                section.residencial
                    +cardResidencial(true, 'mansion', 'Mansión', 300, 0, 0, '2x2', 1, '20 segundos', 188, 47, 340,'4 horas')
                    +cardResidencial(false, 'casa-adobe', 'Casa de adobe', 0, 1800, 7000, '2x2', 1, '3 horas y 20 minutos', 94, 23.5, 90,'1 hora')
                    +cardResidencial(false, 'casa-urbana', 'Casa urbana', 0, 2800, 10500, '2x2', 1, '4 horas y 40 minutos', 156, 39, 340,'8 horas')
        article.articulo#bem
            h2.articulo__titulo Baja Edad Media
            .articulo__contenedor
                section.residencial
                    +cardResidencial(false, 'apartamento', 'Apartamento', 0, 5800, 21800, '2x2', 1, '7 horas 20 minutos', 205, 51.25, 440,'8 horas')
                    +cardResidencial(true, 'casa-senyorial', 'Casa señorial', 300, 0, 0, '2x2', 1, '20 segundos', 246, 61.5, 400,'4 horas')
                    +cardResidencial(false, 'finca', 'Finca', 0, 3900, 14500, '2x2', 1, '5 horas y 30 minutos', 123, 30.75, 120,'1 hora')
        article.articulo#colonial
            h2.articulo__titulo Edad Colonial
            .articulo__contenedor
                section.residencial
                    +cardResidencial(false, 'casa-abuhardillada', 'Casa abuhardillada', 0, 8700, 32800, '2x2', 1, '8 horas y 40 minutos', 259, 64.75, 1350,'24 horas')
                    +cardResidencial(false, 'casa-arcada', 'Casa arcada', 0, 5800, 21800, '2x2', 1, '6 horas y 20 minutos', 155, 38.75, 180,'1 hora')
                    +cardResidencial(true, 'casa-hacienda', 'Casa hacienda', 350, 0, 0, '2x2', 1, '20 segundos', 311, 77.75, 660,'4 horas')
                    +cardResidencial(false, 'casa-rural', 'Casa rural', 0, 7200, 27300, '2x2', 1, '7 horas y 30 minutos', 207, 51.75, 560,'8 horas')
        article.articulo#industrial
            h2.articulo__titulo Edad Industrial
            .articulo__contenedor
                section.residencial
                    +cardResidencial(false, 'casa-huespedes', 'Casa de huéspedes', 0, 14300, 54800, '3x2', 1, '7 horas y 50 minutos', 380, 63.33, 1050,'8 horas')
                    +cardResidencial(false, 'casa-trabajadores', 'Casa de trabajadores', 0, 11400, 43900, '3x2', 1, '6 horas y 40 minutos', 285, 47.5, 340,'1 hora')
                    +cardResidencial(true, 'residencia-urbana', 'Residencia urbana', 350, 0, 0, '3x2', 1, '20 segundos', 569, 94.83, 1230,'4 horas')
                    +cardResidencial(false, 'casa-victoriana', 'Casa victoriana', 0, 17200, 65800, '3x2', 1, '9 horas', 474, 79, 2420,'24 horas')
        article.articulo#progreso
            h2.articulo__titulo Edad del Progreso
            .articulo__contenedor
                section.residencial
                    +cardResidencial(false, 'edificio-varias-plantas', 'Edificio de varias plantas', 0, 34200, 131800, '3x3', 2, '9 horas y 30 minutos', 1087, 120.78, 5750,'24 horas')
                    +cardResidencial(false, 'vivienda-multifamiliar', 'Vivienda multifamiliar', 0, 21900, 84400, '3x3', 1, '6 horas y 50 minutos', 510, 56.67, 610,'1 hora')
                    +cardResidencial(false, 'vivienda-proteccion-oficial', 'Vivienda de protección oficial', 0, 27400, 105500, '3x3', 1, '8 horas', 680, 75.56, 1280,'4 horas')
                    +cardResidencial(true, 'mansion-modernista', 'Mansión modernista', 400, 0, 0, '3x3', 1, '20 segundos', 917, 101.88, 3640,'8 horas')
        article.articulo#moderna
            h2.articulo__titulo Edad Moderna
            .articulo__contenedor
                section.residencial
                    +cardResidencial(false, 'casa-suburbana', 'Casa suburbana', 0, 57600, 209900, '4x3', 1, '9 horas y 10 minutos', 1330, 110.83, 7320,'24 horas')
                    +cardResidencial(false, 'casa-prefabricada', 'Casa prefabricada', 0, 48000, 174900, '4x3', 2, '4 horas y 50 minutos', 1380, 115, 2970,'4 horas')
                    +cardResidencial(true, 'residencia-lujo', 'Residencia de lujo', 450, 0, 0, '4x3', 2, '20 segundos', 1540, 128.33, 7000,'8 horas')
                    +cardResidencial(false, 'motel', 'Motel', 0, 38400, 139900, '4x3', 2, '6 horas y 50 minutos', 900, 75, 1460,'1 hora')
        article.articulo#postmoderna
            h2.articulo__titulo Edad Postmoderna
            .articulo__contenedor
                section.residencial
                    +cardResidencial(false, 'rascacielos-prefabricado', 'Rascacielos prefabricado', 0, 81200, 284700, '4x4', 2, '4 horas y 50 minutos', 2120, 132.5, 4980,'4 horas')
                    +cardResidencial(false, 'duplex', 'Dúplex', 0, 48700, 170800, '4x3', 2, '6 horas y 50 minutos', 1040, 86.67, 1840,'1 hora')
                    +cardResidencial(true, 'loft', 'Loft', 450, 0, 0, '3x4', 2, '20 segundos', 1770, 147.5, 8800,'8 horas')
                    +cardResidencial(false, 'bungalow', 'Bungalow', 0, 54800, 192200, '3x3', 1, '9 horas y 10 minutos', 1150, 127.78, 6910,'24 horas')
        article.articulo#contemporanea
            h2.articulo__titulo Edad Contemporánea
            .articulo__contenedor
                section.residencial
                    +cardResidencial(false, 'bloque-pisos', 'Bloque de pisos', 0, 145800, 479000, '4x4', 2, '9 horas y 10 minutos', 2800, 175, 20800,'24 horas')
                    +cardResidencial(false, 'tienda', 'Tienda', 0, 62500, 205300, '3x4', 2, '4 horas y 50 minutos', 1400, 116.67, 2300,'1 hora')
                    +cardResidencial(false, 'vivienda-puerto', 'Vivienda con puerto', 0, 78100, 256600, '4x3', 1, '6 horas y 50 minutos', 1810, 150.83, 4000,'4 horas')
                    +cardResidencial(true, 'villa-puerto', 'Villa con puerto', 600, 0, 0, '4x4', 1, '20 segundos', 2510, 156.88, 13900,'8 horas')
        article.articulo#manyana
            h2.articulo__titulo Era del Mañana
            .articulo__contenedor
                section.residencial
                    +cardResidencial(false, 'hotel-capsula', 'Hotel cápsula', 0, 80700, 220700, '4x3', 2, '9 horas y 10 minutos', 2400, 200, 18200,'24 horas')
                    +cardResidencial(false, 'anexo', 'Anexo', 0, 110300, 310000, '3x3', 2, '6 horas y 50 minutos', 2000, 166.67, 5000,'4 horas')
                    +cardResidencial(false, 'casa-capsula', 'Casa cápsula', 0, 6600, 20000, '1x1', 1, '1 hora y 40 minutos', 200, 200, 250,'1 hora')
                    +cardResidencial(true, 'edificio-varias-plantas-terrazas', 'Edificio de varias plantas con terrazas', 600, 0, 0, '4x4', 2, '20 segundos', 3000, 187.5, 17000,'8 horas')
        article.articulo#futuro
            h2.articulo__titulo Futuro
            .articulo__contenedor
                section.residencial
                    +cardResidencial(false, 'casa-subterranea', 'Casa subterránea', 0, 124000, 337000, '4x3', 2, '8 horas', 2200, 183.33, 7000,'4 horas')
                    +cardResidencial(true, 'hotel-arbol', 'Hotel en árbol', 500, 0, 0, '3x4', 2, '20 segundos', 3000, 250, 18660,'8 horas')
                    +cardResidencial(false, 'casa-autosustentable', 'Casa autosustentable', 0, 10000, 56000, '2x2', 1, '9 horas y 10 minutos', 500, 125, 1200,'1 hora')
                    +cardResidencial(false, 'arcologia', 'Arcología', 0, 559000, 1517000, '6x6', 2, '12 horas', 8000, 222.22, 62210,'24 horas')
        article.articulo#futuro-artico
            h2.articulo__titulo Futuro Ártico
            .articulo__contenedor
                section.residencial
                    +cardResidencial(false, 'casa-movil', 'Casa móvil', 0, 518000, 84400, '4x4', 2, '8 horas', 3900, 243.75, 29320,'24 horas')
                    +cardResidencial(true, 'ciudad-flotante', 'Ciudad flotante', 750, 0, 0, '5x5', 2, '20 segundos', 6910, 247.6, 40910,'8 horas')
                    +cardResidencial(false, 'apartamento-torre-reloj', 'Apartamento en la torre del reloj', 0, 150000, 389000, '3x4', 1, '8 horas', 2440, 203.33, 8900,'4 horas')
                    +cardResidencial(true, 'tipi-protegido', 'Tipi protegido', 600, 0, 0, '3x3', 1, '20 segundos', 2500, 277.77, 6150,'1 hora')
                    +cardResidencial(false, 'villa-cristal', 'Villa de cristal', 0, 150000, 777000, '4x3', 2, '4 horas y 50 minutos', 3060, 180, 17280,'8 horas')
        article.articulo#futuro-oceanico
            h2.articulo__titulo Futuro Oceánico
            .articulo__contenedor
                section.residencial
                    +cardResidencial(true, 'torre-vistas-mar', 'Torre con vistas al mar', 750, 0, 0, '3x4', 1, '20 segundos', 3800, 316.67, 22780,'8 horas')
                    +cardResidencial(true, 'hotel-submarino', 'Hotel submarino', 750, 0, 0, '4x5', 2, '20 segundos', 5660, 283, 37960,'8 horas')
                    +cardResidencial(false, 'isla-urbana', 'Isla urbana', 0, 595000, 405000, '5x5', 2, '10 horas', 6500, 260, 54000,'24 horas')
                    +cardResidencial(false, 'casa-flotante', 'Casa flotante', 0, 175000, 680000, '5x4', 1, '6 horas y 20 minutos', 5430, 271.5, 6550,'4 horas')
                    +cardResidencial(false, 'casa-pescador', 'Casa del pescador', 0, 140000, 544000, '4x4', 1, '4 horas y 40 minutos', 4680, 292.5, 2510,'1 hora')
                    +cardResidencial(false, 'casa-barco', 'Casa barco', 0, 118000, 309000, '3x3', 1, '8 horas', 2410, 267.78, 7000,'4 horas')
                    +cardResidencial(false, 'casa-puente', 'Casa puente', 0, 203000, 312000, '3x3', 1, '4 horas y 50 minutos', 2710, 301.11, 12570,'4 horas')
                    +cardResidencial(false, 'faro', 'Faro', 0, 301000, 466000, '4x3', 2, '5 horas', 3900, 325, 2040,'1 hora')
        article.articulo#futuro-virtual
            h2.articulo__titulo Futuro Virtual
            .articulo__contenedor
                section.residencial
                    +cardResidencial(false, 'hogar-generacional', 'Hogar generacional', 0, 358000, 837000, '4x5', 1, '8 horas', 5880, 294, 7720,'4 horas')
                    +cardResidencial(true, 'alojamiento-realidad-virtual', 'Alojamiento de realidad virtual', 750, 0, 0, '3x3', 1, '20 segundos', 4410, 490, 22320,'8 horas')
                    +cardResidencial(false, 'casa-te', 'Casa de té', 0, 372000, 870000, '4x4', 1, '8 horas', 5020, 313.75, 17190,'8 horas')
                    +cardResidencial(false, 'residencia-rv-modular', 'Residencia de Realidad Virtual Modular', 0, 279000, 653000, '4x3', 1, '8 horas', 4000, 220, 10580, '4 horas' )
        article.articulo#espacial-marciana-tierra
            h2.articulo__titulo Edad Espacial Marciana: Tierra
            .articulo__contenedor
                section.residencial
                     +cardResidencial(true, 'hogar-adaptable', 'Hogar adaptable', 750, 0, 0, '3x3', 1, '20 segundos', 8380, 931, 29820,'8 horas')
                     +cardResidencial(false, 'dormitorio-entrenamiento', 'Dormitorio de entrenamiento de astronautas', 0, 431000, 916000, '3x5', 1, '8 horas', 7910, 527, 22090,'4 horas')
        article.articulo#espacial-marciana-marte
            h2.articulo__titulo Edad Espacial Marciana: Marte
            .articulo__contenedor
                section.residencial
                    +cardResidencial-2(false, 'capsula-desembarco', 'Cápsula de desembarco', 0, 200000, 240000, '2x2', 1, '1 hora', 73, 18, 152,'4 horas')
                    +cardResidencial-2(false, 'refugio-sencillo', 'Refugio sencillo', 0, 486506, 583807, '3x3', 1, '1 hora', 98, 11, 1008,'4 horas')
                    +cardResidencial-2(false, 'casa-modular', 'Casa modular', 0, 950218, 1140261, '5x3', 1, '1 hora', 647, 43, 638,'8 horas')
                    +cardResidencial-2(false, 'cupula', 'Cúpula', 0, 1449822, 1739786, '4x5', 1, '1 hora', 332, 17, 3894,'8 horas')
        article.articulo#cinturon-asteroides-tierra
            h2.articulo__titulo Edad Espacial Cinturón de Asteroides: Tierra
            .articulo__contenedor
                section.residencial
                    +cardResidencial(true, 'casa-baja-gravedad', 'Casa de baja gravedad', 750, 0, 0, '1x3', 1, '20 segundos', 5770, 1923, 20710,'8 horas')
                    +cardResidencial(false, 'residencia-espacial', 'Residencia espacial', 0, 371000, 790000, '3x4', 2, '8 horas', 6520, 543, 17670,'4 horas')
        article.articulo#cinturon-asteroides-colonia
            h2.articulo__titulo Edad Espacial Cinturón de Asteroides: Colonia
            .articulo__contenedor
                section.residencial
                    +cardResidencial-2(false, 'hogar-movil', 'Hogar móvil', 0, 264000, 312000, '2x2', 1, '1 hora', 80, 20, 440,'4 horas')
                    +cardResidencial-2(false, 'alojamiento-asentado', 'Alojamiento asentado', 0, 402000, 475000, '2x3', 1, '1 hora', 50, 8, 2000,'4 horas')
                    +cardResidencial-2(false, 'casa-boveda', 'Casa bóveda', 0, 926000, 1094000, '4x3', 1, '2 horas', 480, 40, 1460,'8 horas')
                    +cardResidencial-2(false, 'residencia-vista-espacial', 'Residencia con vista espacial', 0, 1375000, 1625000, '4x4', 1, '8 horas', 230, 14, 8430,'8 horas')
