.main__contenedor
    article.articulo
        h2.articulo__titulo--index Reliquias
        hr.hr
        p.texto--especial Los #[a.link(href="http://forgeofempires.wikia.com/wiki/Temple_of_Relics") Reliquias] son objetos que aparecen ocasionalmente tras resolver un encuentro en las #[a.link(href="https://es.wiki.forgeofempires.com/index.php?title=Expediciones_del_Gremio") Expediciones de Gremio] en varios lugares en el mapa de la Expedición.
        p.texto--especial Las reliquias aparecen sólo si se posee el #[a.link(href="https://es.wiki.forgeofempires.com/index.php?title=Templo_de_las_Reliquias") Templo de las Reliquias], que dota de un bono que es la posibilidad de que surja un ítem de esta clase.
         .contenedor__alineacion__centrar
            img(src="img/templo.png" alt="FOE. Templo de las Reliquias")
        p.texto--especial Hay tres tipos de reliquias que se pueden encontrar en los mapas de la Expedición.
        ul.texto--especial.lista-desordenada
            li Comunes
            li Poco comunes
            li Raras 
        p.texto--especial Cuanto más alto es el nivel del Templo, mayor es la posibilidad de conseguir una. Asimismo, también es mayor la posibilidad de que sea de mejor calidad.
        p.texto--especial A continuación, se señalan las distintas recompensas que se logran al hallar un objeto de cada uno de estos tipos de reliquias, así como un porcentaje muy estimativo de que sea una u otra.
        h3.h3 Reliquias Comunes
        .contenedor__alineacion__centrar
            img(src="img/reliquia-comun.png" alt="FOE. Reliquia Común")
        .contenedor__alineacion__centrar
            table.table
                caption.caption Reliquias Comunes. Recompensas
                thead.thead
                    tr.tr
                        th.th Ítem
                        th.th Porcentaje (%)
                tbody.tbody
                    each val, index in {12:'Puerta del Dios del Sol', 16:'Rostro del Antiguo', 13:'Cinco unidades militares de un tipo', 29:'Dos planos', 18: '25 bienes de un tipo', 13:'20 Forge Points'}
                        tr.tr
                            td.td= val
                            td.td= index
        h3.h3 Reliquias Poco Comunes
        .contenedor__alineacion__centrar
            img(src="img/reliquia-poco-comun.png" alt="FOE. Reliquia Poco Común")
        .contenedor__alineacion__centrar
            table.table
                caption.caption Reliquias Poco Comunes. Recompensas
                thead.thead
                    tr.tr
                        th.th Ítem
                        th.th Porcentaje (%)
                tbody.tbody
                    each val, index in {21:'Llama del Ritual', 15:'Plaza Tribal', 17:'200 bienes de un tipo', 14:'10 espías', 18: 'Paquete mediano de medallas', 18:'100 Forge Points'}
                        tr.tr
                            td.td= val
                            td.td= index
        h3.h3 Reliquias Raras
        .contenedor__alineacion__centrar
            img(src="img/reliquia-rara.png" alt="FOE. Reliquia Rara")
        .contenedor__alineacion__centrar
            table.table
                caption.caption Reliquias Raras. Recompensas
                thead.thead
                    tr.tr
                        th.th Ítem
                        th.th Porcentaje (%)
                tbody.tbody
                    each val, index in {4:'Reloj del Cielo Sagrado', 8:'Granja de terrazas', 12:'Fuente de la Juventud', 28:'Kit de mejora de una edad', 28: 'Almacén de edificios', 20:'Kit de actualización completa'}
                        tr.tr
                            td.td= val
                            td.td= index

        

