- let ancla = ['mundo','antiguas', 'industrial', 'progreso', 'moderna', 'postmoderna', 'contemporanea', 'manyana', 'futuro', 'artico-1', 'artico-2', 'artico-3', 'artico-4', 'oceanico-1-2', 'oceanico-3-4-5', 'oceanico-6', 'virtual-1', 'virtual-2', 'virtual-3', 'espacial-marciana-1', 'espacial-marciana-2', 'cinturon-asteroides-1', 'cinturon-asteroides-2' ] 

- let textoEnlace = ['Mundo', 'Antiguas', 'Industrial', 'Progreso', 'Moderna', 'Postmoderna', 'Contemporánea', 'Mañana', 'Futuro', 'Ártico I', 'Ártico II', 'Ártico III', 'Ártico IV', 'Oceánico I-II', 'Oceánico III-IV-V', 'Oceánico VI', 'Virtual I', 'Virtual II', 'Virtual III', 'Espacial Marciana I', 'Espacial Marciana II', 'Cinturón Asteroides I', 'Cinturón Asteroides II']

nav.navegacion
    ul.navegacion__lista
        - for (n = 0; n < ancla.length; n++)
            li.navegacion__item
                a.navegacion__link(href=`#${ancla[n]}`) #{textoEnlace[n]}