- let ancla = ['bronce', 'hierro', 'aem', 'pem', 'bem', 'colonial', 'industrial', 'progreso', 'moderna', 'postmoderna', 'contemporanea', 'manyana', 'futuro', 'futuro-artico', 'futuro-oceanico', 'futuro-virtual', 'espacial-marciana', 'cinturon-asteroides-ciudad', 'cinturon-asteroides-colonia'] 

- let textoEnlace = ['Bronce', 'Hierro', 'AEM', 'PEM', 'BEM', 'Colonial', 'Industrial', 'Progreso', 'Moderna', 'Postmoderna', 'Contemporánea', 'Mañana', 'Futuro', 'Futuro Ártico', 'Futuro Oceánico', 'Futuro Virtual', 'Era Espacial Marciana', 'C.Asteroides Ciudad', 'C.Asteroides Colonia']

nav.navegacion
    ul.navegacion__lista
        - for (n = 0; n < ancla.length; n++)
            li.navegacion__item
                a.navegacion__link(href=`#${ancla[n]}`) #{textoEnlace[n]}