- let itemsNavegacionUrl = ['index','edades','grandes-edificios','mapas', 'galeria', 'bienes', 'produccion', 'cultural', 'residencial', 'unidades-militares', 'guias']
- let itemsNavegacionImg = ['index-img.png','edades.jpg','grandes-edificios.png','mapas.jpg', 'galeria.jpg', 'produccion-bienes.jpg', 'produccion-index.jpg', 'cultural-navegacion.jpg', 'residencial-navegacion.png', 'unidades-militares-navegacion.png', 'guias.jpg']

nav.navegacion
    ul.navegacion__lista
        - for (let i = 0; i < itemsNavegacionUrl.length; i++)
            if actual !== itemsNavegacionUrl[i]
                li.navegacion__item.navegacion__item--index
                    a.navegacion__link--index(href=`${itemsNavegacionUrl[i]}.html`) 
                        img.navegacion__link__img--index(src=`img/${itemsNavegacionImg[i]}`)
            