- let ancla = ['jardin-cerezos', 'jardin-real', 'palacio-indio', 'fuente-india', 'pueblo-invernal', 'jardin-clasico'] 

- let textoEnlace = ['Jardin de los Cerezos', 'Jardin Real', 'Palacio Indio', 'Fuente India', 'Pueblo Invernal', 'Jardín Clásico']

nav.navegacion
    ul.navegacion__lista
        - for (n = 0; n < ancla.length; n++)
            li.navegacion__item
                a.navegacion__link(href=`#${ancla[n]}`) #{textoEnlace[n]}