@use '../partials/variables' as *;

@mixin mq-bk-cell-landscape {
    @media screen and(min-width: $bk-cell-landscape) {
        @content
    }
}

;
@mixin mq-bk-tablet {
    @media screen and(min-width: $bk-tablet) {
        @content
    }
}

;
@mixin mq-bk-grande {
    @media screen and(min-width: $bk-grande) {
        @content
    }
}

;
@mixin mq-bk-extra-grande {
    @media screen and(min-width: $bk-extra-grande) {
        @content
    }
}

;
@mixin flexbox-centrado-total($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

;
@mixin flexbox-alineacion-horizontal($alineacion) {
    display: flex;
    align-items: center;
    @if $alineacion == izquierda {
        justify-content: flex-start;
    }
    @else if $alineacion == derecha {
        justify-content: flex-end;
    }
    @else if $alineacion == centro {
        justify-content: center;
    }
    @else {
        @warn "No has introducido izquierda, derecha o centro";
    }
}
