- let descripcion = 'La guía informativa definitiva de diversos aspectos del juego Forge of Empires. Rechace imitaciones'
- let tituloSite = 'FOE - La Guía'
- let tituloPagina=''
- let urlImagenCabecera=''
- let rutaFavicon = 'img/favicon.png'
- let actual = ''