@use 'variables' as *;
@use '../mixins/mixins' as *;
@use '../funciones/funciones' as *;

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(black, .05);
    // Sustitución del texto del link por la imagen y posicionamiento y disposición de la misma como 'background-image'
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background-color: rgba($color-alt, .8);
    background-image: url(../img/cd-top-arrow.svg);
    background-repeat: no-repeat;
    background-position: center 50%;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
    &.cd-top--show,
    &.cd-top--fade-out,
    &:hover {
        transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
    }
    &.cd-top--show {
        // Hacer el botón visible
        visibility: visible;
        opacity: 1;
    }
    // Opción deshabilitada porque no es útil con páginas con scroll muy grande y enlaces ancla a partes bajas del scroll
    // &.cd-top--fade-out {
    //     // Si el usuario sigue haciendo scroll, el botón pierde el foco y es menos visible
    //     opacity: .5;
    // }
    &:hover {
        background-color: lighten($color-alt, 10%);
        opacity: 1;
    }
    @include mq-bk-tablet {
        right: 20px;
        bottom: 20px;
    }
    @include mq-bk-grande {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}
