@use 'variables' as *;
@use '../mixins/mixins' as *;
@use '../funciones/funciones' as *;

.cabecera {
    &__contenedor {
        display: flex;
        flex-direction: column;
    }
}

.header {
    background-color: $color-corporativo;
    box-shadow: 1px 3px 15px rgba(black, .5);
    border-radius: 0 0 50px 50px;
    &__contenedor {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: .5rem;
        @include flexbox-centrado-total(column);
    }
    &__img-destacada {
        padding: 1rem;
        display: flex;
        justify-content: center;
        &__img {
            max-height: 20rem;
            border-radius: 5px;
            @include mq-bk-extra-grande {
                max-height: 30rem;
            }
        }
    }
    &__titulo-pagina {
        margin: .3rem 0 .5rem;
        color: $color-light;
        text-shadow: 0 3px 1px rgba(black, .5);
        @include mq-bk-tablet {
            font-size: 3rem;
        }
    }
}
