@use 'variables' as *;
@use '../mixins/mixins' as *;
@use '../funciones/funciones' as *;

.footer {
    @include flexbox-centrado-total;
    padding: 1rem 0;
    background-color: $color-corporativo;
    border-radius: 40px 40px 0 0;
    box-shadow: 0 -3px 15px rgba(black, .5);
    &__contenedor__logo {
        padding: .5rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50px;
        background-color: $color-light;
    }
}
