@use 'variables' as *;
@use '../mixins/mixins' as *;
@use '../funciones/funciones' as *;

body {
    font-family: $fuente-principal;
    background-color: $color-body-bg;
}

img {
    display: block;
    max-width: 100%;
}

.img--tile {
    display: inline-block;
    vertical-align: middle;
    margin-right: .4rem;
}

.figure {
    margin: 1rem;

    img {
        margin-bottom: .6rem;
    }
}

.figcaption {
    font-family: $fuente-sans-serif;
    font-weight: 600;
    text-align: center;
}

.hr {
    margin-bottom: 1.5rem;
}

.contenedor__alineacion {
    margin: 1.5rem 0;
}

.contenedor__alineacion {
    &__derecha {
        @extend .contenedor__alineacion;
        @include flexbox-alineacion-horizontal(derecha);
    }

    &__centrar {
        @extend .contenedor__alineacion;
        @include flexbox-alineacion-horizontal(centro);

        img {
            max-height: rem(350px);
        }
    }

}

%texto {
    margin-bottom: 1rem;
}

.p {
    @extend %texto;
    font-size: 1.1rem;
}

.h3,
.h4 {
    margin-bottom: 1.5rem;
    color: $color-alt;
}

.h3 {
    font-size: 1.7rem;

}

.h4 {
    font-size: 1.4rem;
}


.texto--especial {
    @extend %texto;

    @include mq-bk-tablet {
        font-size: 1.5rem;
    }
}

.texto--aviso {
    &__contenedor {
        @extend %texto;
        margin-right: 1rem;
        display: inline-block;
        padding: .5rem 1rem;
        background-color: lighten($color-alt, 15%);
        color: $color-light;
        border-radius: 50px;
    }

    &__texto {
        font-family: $fuente-sans-serif;
        font-weight: bold;
        font-size: .8rem;
    }
}

.texto--enfasis {
    @extend %texto;
    font-weight: bold;
    color: $color-alt;
}

.texto--enfasis--enmarcado {
    @extend .texto--enfasis;
    padding: .3rem 1rem .1rem;
    border: 1px dashed;
}

.link {
    text-decoration: none;
    color: $color-link;

    &:hover {
        color: lighten($color-link, 25%);
    }
}

.lista-desordenada {
    padding-left: 4rem;
}
