@use 'variables' as *;
@use '../mixins/mixins' as *;
@use '../funciones/funciones' as *;

.main {
    &__contenedor {
        max-width: $bk-extra-grande;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
    }
}

.articulo {
    margin-bottom: 2rem;
    padding: 0 .5rem;

    &__titulo,
    &__titulo--index {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 1rem;
        padding-left: 2rem;
        font-size: 2rem;
        font-weight: 400;
        font-variant: small-caps;
        color: $color-enfasis;

        &--index {
            padding-left: 0;
            text-align: center;
            color: $color-dark;
        }
    }

    &__contenedor {
        border: 1px solid rgba($color-enfasis, .1);
        border-radius: 5px;
        padding: 1rem;

        &--galeria {
            @extend .articulo__contenedor;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            place-items: center;
            margin-bottom: 2rem;
            @include mq-bk-cell-landscape {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}

%contenedor {
    padding: 1em;
    background-color: $color-light;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.item {
    &__contenedor {
        @extend %contenedor;

        @include mq-bk-cell-landscape {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            place-items: center;
        }

        h3 {
            font-weight: 400;
        }

        h4 {
            font-weight: 200;
        }

        p {
            font-size: .9rem;
            color: $color-enfasis;

            @include mq-bk-cell-landscape {
                font-size: 1rem;
            }
        }
    }

    &__contenedor--mapas {
        @extend %contenedor;
    }

    &__contenedor--dos-columnas {
        @extend %contenedor;

        p {
            font-size: 1.2rem;
            text-align: left;
        }

        @include mq-bk-cell-landscape {
            display: grid;
            grid-template-columns: (1fr 3fr);
            place-items: center;

            p {
                margin-left: 1rem;
            }
        }
    }

    &__img {
        @include flexbox-centrado-total;

        img {
            max-height: 12.5rem;
        }
    }

    &__img--mapas {
        @include flexbox-centrado-total;
    }

    &__nombre,
    &__size {
        text-align: center;
    }

    &__nombre {
        h3 {
            color: $color-alt;
        }
    }

    &__feature {
        @include mq-bk-cell-landscape {
            text-align: center;
        }
    }
}
