@use 'variables' as *;
@use '../mixins/mixins' as *;
@use '../funciones/funciones' as *;

.navegacion {
    padding: 1rem .5rem;
    margin-bottom: 2rem;
   @include mq-bk-grande {
        padding: 2rem 5rem;
    }
    &__lista {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: .5rem;
        list-style: none;
       @include mq-bk-cell-landscape {
            grid-template-columns: repeat(4, 1fr);
        }
        @include mq-bk-extra-grande {
            grid-template-columns: repeat(8, 1fr);
        }
    }
    &__item {
        border: 1px solid $color-enfasis;
        border-radius: 3px;
        transition: background-color 500ms ease-in-out;
        &:hover {
            background-color: lighten($color-enfasis, 64%);
        }
        &.navegacion__item--index {
            padding: .2rem;
            @include flexbox-centrado-total;
        }
    }
    &__link {
        display: block;
        padding: .3rem 0;
        font-family: $fuente-sans-serif;
        font-size: .9rem;
        text-decoration: none;
        color: $color-enfasis;
    }
}
