@use 'variables' as *;
@use '../mixins/mixins' as *;
@use '../funciones/funciones' as *;

.table {
    width: 75%;
    // border: 1px solid black;
    font-family: $fuente-sans-serif;
}

.caption {
    caption-side: bottom;
    padding: 2rem;
    color: $color-alt;
}

.td,
.th {
    text-align: center;
    padding: .6rem;
    border-radius: 3px;
}

.tr {

    &:nth-child(odd),
    &:nth-child(even) {
        &:hover {
            background-color: lighten($color-premium, 40%);
        }
    }

    &:nth-child(odd) {
        background-color: lighten($color-dark, 87%);

    }

    &:nth-child(even) {
        background-color: lighten($color-alt, 50%)
    }
}

.th {
    background-color: $color-dark;
    color: $color-light;
}
