@use 'variables' as *;
@use '../mixins/mixins' as *;
@use '../funciones/funciones' as *;

%layout-tarjetas {
    padding: 1rem;

    @include mq-bk-cell-landscape {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    @include mq-bk-extra-grande {
        grid-template-columns: repeat(3, 1fr);
    }
}

%tarjeta {
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);

    @include mq-bk-cell-landscape {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 0;
    }
}

%tarjeta-imagen {
    margin-bottom: .5rem;

    @include mq-bk-cell-landscape {
        max-height: rem(250px);
    }
}

%tarjeta-titulo {
    text-align: center;
    margin-bottom: .5rem;
}

.galeria {
    @extend %layout-tarjetas;

    &__card {
        @extend %tarjeta;
        background-color: $color-light;

        &__img {
            @extend %tarjeta-imagen;
        }

        &__titulo {
            @extend %tarjeta-titulo;
            color: $color-enfasis;
        }
    }
}

.edades {
    @extend %layout-tarjetas;

    &__card {
        @extend %tarjeta;
        background-color: lighten($color-corporativo, 70%);

        &__img {
            @extend %tarjeta-imagen;
        }

        &__titulo {
            @extend %tarjeta-titulo;
            color: $color-corporativo;
            text-transform: uppercase;
            border-bottom: 2px solid rgba($color-corporativo, .15);
        }

        &__texto {
            font-family: $fuente-sans-serif;
            font-size: 1.2rem;
            margin-bottom: .3rem;
        }
    }
}

.contenedor__edades__card__texto,
.contenedor__bienes__card__texto,
.contenedor__produccion__card__texto,
.contenedor__cultural__card__texto,
.contenedor__residencial__card__texto,
.contenedor__unidades-militares__card__texto {
    padding-left: .1rem;

    @include mq-bk-cell-landscape {
        text-align: left;
    }
}

.bienes {
    @extend %layout-tarjetas;

    &__card {
        @extend %tarjeta;
        background-color: lighten($color-dark, 90%);

        &__img {
            @extend %tarjeta-imagen;
        }

        &__titulo {
            @extend %tarjeta-titulo;
            color: $color-alt;
        }

        &__texto {
            font-family: $fuente-sans-serif;
            margin-bottom: .3rem;
        }
    }
}

.produccion {
    @extend %layout-tarjetas;

    &__card {
        @extend %tarjeta;
        background-color: lighten($color-enfasis, 66%);

        &__img {
            @extend %tarjeta-imagen;
        }

        &__titulo {
            @extend %tarjeta-titulo;
            color: $color-enfasis;
        }

        &__texto {
            font-family: $fuente-sans-serif;
            margin-bottom: .3rem;
        }

        &__premium {
            color: $color-premium;
            margin-bottom: .5rem;
        }
    }
}

.cultural {
    @extend %layout-tarjetas;

    &__card {
        @extend %tarjeta;
        background-color: lighten($color-dark, 90%);

        &__img {
            @extend %tarjeta-imagen;
        }

        &__titulo {
            @extend %tarjeta-titulo;
            color: $color-alt;
        }

        &__texto {
            font-family: $fuente-sans-serif;
            margin-bottom: .3rem;
        }

        &__premium {
            color: $color-premium;
            margin-bottom: .5rem;
        }
    }
}

.residencial {
    @extend %layout-tarjetas;

    &__card {
        @extend %tarjeta;
        background-color: lighten($color-dark, 15%);

        &__img {
            @extend %tarjeta-imagen;
        }

        &__titulo {
            @extend %tarjeta-titulo;
            color: $color-light;
        }

        &__texto {
            margin-bottom: .3rem;
            font-family: $fuente-sans-serif;
            color: darken($color-light, 30%);
        }

        &__premium {
            color: $color-premium;
            margin-bottom: .5rem;
        }
    }
}

.unidades-militares {
    @extend %layout-tarjetas;
    &__card {
        @extend %tarjeta;
        background-color: darken($color-light, 10%);

        &__img {
            @extend %tarjeta-imagen;
        }

        &__titulo {
            @extend %tarjeta-titulo;
            color: $color-alt
        }

        &__texto {
            margin-bottom: .3rem;
            font-family: $fuente-sans-serif;
            color: lighten($color-dark, 25%);
            &:nth-child(2) {
                color: lighten($color-dark, 50%);
                font-size: .8rem;
            }
        }
    }
}
