$fuente-principal: 'Source Serif 4', serif;
$fuente-sans-serif: 'Source Sans 3', sans-serif;
$color-light: #fff;
$color-dark: #000;
$color-corporativo: #57321c;
$color-enfasis: #880e4f;
$color-alt: #342ca3;
$color-link: #d50000;
$color-body-bg: #e8eaf6;
$color-premium: red;
$bk-cell-landscape: 576px;
$bk-tablet: 768px;
$bk-grande: 1024px;
$bk-extra-grande: 1200px;
