mixin itemGranEdificio(url, urlImagen, nombreItem, itemSize, itemFeature)
    .item__contenedor
        .item__img
            a(href= url)
                img(src=`img/${urlImagen}.png` alt=`FOE. Gran Edificio. ${nombreItem}`)
        .item__nombre
            h3= nombreItem
        .item__size
            h3= itemSize
        .item__feature
            p= itemFeature

mixin itemDosColumnas(urlImagen, nombreItem, texto)
    .item__contenedor--dos-columnas
        .item__img
            a(href= url)
                img(src=`img/${urlImagen}.png` alt=`FOE. Gran Edificio. ${nombreItem}`)
        .item__feature
            p= texto

mixin itemGaleriaImagenes(urlImagen, figcaption)
    figure.figure
        img(src=`img/${urlImagen}.png` alt=`FOE. ${figcaption}`)
        figcaption.figcaption= figcaption

mixin cardGaleria(urlInfo, urlImagen, nombreItem, itemFeature)
    .galeria__card
        a.galeria__card__enlace(href= urlInfo)
            img.galeria__card__img(src=`img/${urlImagen}` alt=`FOE. ${nombreItem}`)
        h3.galeria__card__titulo= nombreItem
        p.galeria__card__texto= itemFeature

mixin cardEdades(urlImagen, nombreItem, tecnologias, fp, monedas, suministros, bienes)
    .edades__card
        img.edades__card__img(src=`img/edades/${urlImagen}` alt=`FOE. ${nombreItem}`)
        h3.edades__card__titulo= nombreItem
        .contenedor__edades__card__texto
            if tecnologias == '1'
                p.edades__card__texto= `${tecnologias} tecnología`
            else
                p.edades__card__texto= `${tecnologias} tecnologías`
            p.edades__card__texto= `${fp} FP`
            p.edades__card__texto= `${monedas} monedas`
            p.edades__card__texto= `${suministros} suministros`
            if nombreItem == 'Futuro Ártico'
                p.edades__card__texto= `${bienes} bienes, prometio incluido`
            else
                p.edades__card__texto= `${bienes} bienes`

mixin cardBienes-1(urlImagen, nombreItem, tecnologia, size, produccion, productoBruto)
    .bienes__card
        img.bienes__card__img(src=`img/bienes/${urlImagen}` alt=`FOE. ${nombreItem}`)
        h3.bienes__card__titulo= nombreItem
        .contenedor__bienes__card__texto
            p.bienes__card__texto= tecnologia
            p.bienes__card__texto= size
            p.bienes__card__texto= produccion
            p.bienes__card__texto= productoBruto

mixin cardBienes-2(urlImagen, nombreItem, tecnologia, size, produccion, productoBruto, productoRefinado)
    .bienes__card
        img.bienes__card__img(src=`img/bienes/${urlImagen}` alt=`FOE. ${nombreItem}`)
        h3.bienes__card__titulo= nombreItem
        .contenedor__bienes__card__texto
            p.bienes__card__texto= tecnologia
            p.bienes__card__texto= size
            p.bienes__card__texto= produccion
            p.bienes__card__texto= productoBruto
            p.bienes__card__texto= productoRefinado

mixin cardBienes-3(urlImagen, nombreItem, tecnologia, poblacion, size, produccion, productoBruto, productoRefinado)
    .bienes__card
        img.bienes__card__img(src=`img/bienes/${urlImagen}` alt=`FOE. ${nombreItem}`)
        h3.bienes__card__titulo= nombreItem
        .contenedor__bienes__card__texto
            p.bienes__card__texto= tecnologia
            p.bienes__card__texto= poblacion
            p.bienes__card__texto= size
            p.bienes__card__texto= produccion
            p.bienes__card__texto= productoBruto
            p.bienes__card__texto= productoRefinado

mixin cardBienes-4(urlImagen, nombreItem, tecnologia,  poblacion, size, productoBruto, produccion)
    .bienes__card
        img.bienes__card__img(src=`img/bienes/${urlImagen}` alt=`FOE. ${nombreItem}`)
        h3.bienes__card__titulo= nombreItem
        .contenedor__bienes__card__texto
            p.bienes__card__texto= tecnologia
            p.bienes__card__texto= `${poblacion} colonos`
            p.bienes__card__texto= size
            p.bienes__card__texto= productoBruto
            p.bienes__card__texto= produccion

mixin cardBienes-5(urlImagen, nombreItem, tecnologia, poblacion, deposito, produccion)
    .bienes__card
        img.bienes__card__img(src=`img/bienes/${urlImagen}` alt=`FOE. ${nombreItem}`)
        h3.bienes__card__titulo= nombreItem
        .contenedor__bienes__card__texto
            p.bienes__card__texto= tecnologia
            p.bienes__card__texto= `${poblacion} habitantes`
            p.bienes__card__texto= deposito
            p.bienes__card__texto= produccion

mixin cardProduccion(premium, urlImagen, nombreItem, costesDiamantes, costesMonedas, costesSuministros, poblacion, size, tiempo, rendimiento)
    .produccion__card
        img.produccion__card__img(src=`img/produccion/${urlImagen}.png` alt=`FOE. ${nombreItem}`)
        h3.produccion__card__titulo= nombreItem
        if premium
            h4.produccion__card__premium Edificio Premium
            .contenedor__produccion__card__texto
                p.produccion__card__texto= `${costesDiamantes} diamantes`
                p.produccion__card__texto= `${poblacion} habitantes`
                p.produccion__card__texto= size
                p.produccion__card__texto= tiempo
                p.produccion__card__texto= `${rendimiento} por hora y cuadrado`
        else
            .contenedor__produccion__card__texto
                p.produccion__card__texto= `${costesMonedas} monedas`
                p.produccion__card__texto= `${costesSuministros} suministros`
                p.produccion__card__texto= `${poblacion} habitantes`
                p.produccion__card__texto= size
                p.produccion__card__texto= tiempo
                p.produccion__card__texto= `${rendimiento} por hora y cuadrado`

mixin cardProduccion-2(premium, urlImagen, nombreItem, costesDiamantes, costesMonedas, costesSuministros, poblacion, size, road, tiempo, rendimiento)
    .produccion__card
        img.produccion__card__img(src=`img/produccion/${urlImagen}.png` alt=`FOE. ${nombreItem}`)
        h3.produccion__card__titulo= nombreItem
        if premium
            h4.produccion__card__premium Edificio Premium
            .contenedor__produccion__card__texto
                p.produccion__card__texto= `${costesDiamantes} diamantes`
                p.produccion__card__texto= `${poblacion} habitantes`
                p.produccion__card__texto= size
                p.produccion_-card__texto= road
                p.produccion__card__texto= tiempo
                p.produccion__card__texto= `${rendimiento} por hora y cuadrado`
        else
            .contenedor__produccion__card__texto
                p.produccion__card__texto= `${costesMonedas} monedas`
                p.produccion__card__texto= `${costesSuministros} suministros`
                p.produccion__card__texto= `${poblacion} habitantes`
                p.produccion__card__texto= size
                p.produccion_-card__texto= road
                p.produccion__card__texto= tiempo
                p.produccion__card__texto= `${rendimiento} por hora y cuadrado`

mixin cardCultural(premium, urlImagen, nombreItem, costesDiamantes, costesMonedas, costesSuministros, size, via, tiempo, felicidad, rendimiento)
    .cultural__card
        img.cultural__card__img(src=`img/cultural/${urlImagen}.png` alt=`FOE. ${nombreItem}`)
        h3.cultural__card__titulo= nombreItem
        if premium
            h4.cultural__card__premium Edificio Premium
            .contenedor__cultural__card__texto
                p.cultural__card__texto= `${costesDiamantes} diamantes`
                p.cultural__card__texto= size
                if via == 1
                    p.cultural__card__texto= `${via} vía`
                else
                    p.cultural__card__texto= `${via} vías`
                p.cultural__card__texto= tiempo
                p.cultural__card__texto= felicidad
                p.cultural__card__texto= `${rendimiento} por cuadrado`
        else
            .contenedor__cultural__card__texto
                p.cultural__card__texto= `${costesMonedas} monedas`
                p.cultural__card__texto= `${costesSuministros} suministros`
                p.cultural__card__texto= size
                if via == 1
                    p.cultural__card__texto= `${via} vía`
                else
                    p.cultural__card__texto= `${via} vías`
                p.cultural__card__texto= tiempo
                p.cultural__card__texto= felicidad
                p.cultural__card__texto= `${rendimiento} por cuadrado`

mixin cardResidencial(premium, urlImagen, nombreItem, costesDiamantes, costesMonedas, costesSuministros, size, via, tiempo, poblacion, rendimiento, monedas, lapso)
    .residencial__card
        img.residencial__card__img(src=`img/residencial/${urlImagen}.png` alt=`FOE. ${nombreItem}`)
        h3.residencial__card__titulo= nombreItem
        if premium
            h4.residencial__card__premium Edificio Premium
            .contenedor__residencial__card__texto
                p.residencial__card__texto= `${costesDiamantes} diamantes`
                p.residencial__card__texto= size
                if via == 1
                    p.residencial__card__texto= `${via} vía`
                else
                    p.residencial__card__texto= `${via} vías`
                p.residencial__card__texto= tiempo
                p.residencial__card__texto= `${poblacion} habitantes`
                p.residencial__card__texto= `${rendimiento} habitantes por cuadrado`
                p.residencial__card__texto= `${monedas} monedas/${lapso}`
        else
            .contenedor__residencial__card__texto
                p.residencial__card__texto= `${costesMonedas} monedas`
                p.residencial__card__texto= `${costesSuministros} suministros`
                p.residencial__card__texto= size
                if via == 1
                    p.residencial__card__texto= `${via} vía`
                else
                    p.residencial__card__texto= `${via} vías`
                p.residencial__card__texto= tiempo
                p.residencial__card__texto= `${poblacion} habitantes`
                p.residencial__card__texto= `${rendimiento} habitantes por cuadrado`
                p.residencial__card__texto= `${monedas} monedas/${lapso}`

mixin cardResidencial-2(premium, urlImagen, nombreItem, costesDiamantes, costesMonedas, costesSuministros, size, via, tiempo, poblacion, rendimiento, monedas, lapso)
    .residencial__card
        img.residencial__card__img(src=`img/residencial/${urlImagen}.png` alt=`FOE. ${nombreItem}`)
        h3.residencial__card__titulo= nombreItem
        if premium
            h4.residencial__card__premium Edificio Premium
            .contenedor__residencial__card__texto
                p.residencial__card__texto= `${costesDiamantes} diamantes`
                p.residencial__card__texto= size
                if via == 1
                    p.residencial__card__texto= `${via} vía`
                else
                    p.residencial__card__texto= `${via} vías`
                p.residencial__card__texto= tiempo
                p.residencial__card__texto= `${poblacion} colonos`
                p.residencial__card__texto= `${rendimiento} colonos por cuadrado`
                p.residencial__card__texto= `${monedas} monedas/${lapso}`
        else
            .contenedor__residencial__card__texto
                p.residencial__card__texto= `${costesMonedas} monedas`
                p.residencial__card__texto= `${costesSuministros} suministros`
                p.residencial__card__texto= size
                if via == 1
                    p.residencial__card__texto= `${via} vía`
                else
                    p.residencial__card__texto= `${via} vías`
                p.residencial__card__texto= tiempo
                p.residencial__card__texto= `${poblacion} colonos`
                p.residencial__card__texto= `${rendimiento} colonos por cuadrado`
                p.residencial__card__texto= `${monedas} créditos/${lapso}`

mixin cardUnidadesMilitares(urlInfo, urlImagen, nombreUnidad, tipoUnidad, notas, edificio, size, via, poblacion, urlImagenUnidad)
    .unidades-militares__card
        a(href=`${urlInfo}`)
            img.unidades-militares__card__img(src=`img/unidades-militares/${urlImagen}.png` alt=`FOE. ${nombreUnidad}`)
        h3.unidades-militares__card__titulo= nombreUnidad
        .contenedor__unidades-militares__card__texto
            p.unidades-militares__card__texto= tipoUnidad
            p.unidades-militares__card__texto= notas
            p.unidades-militares__card__texto= edificio
            p.unidades-militares__card__texto= size
            p.unidades-militares__card__texto= via
            p.unidades-militares__card__texto= `${poblacion} habitantes`
        img.unidades-militares__card__img(src=`img/unidades-militares/${urlImagenUnidad}.png` alt=`FOE. ${nombreUnidad}`)
