block config 
    include ../config/config

include ../mixins/mixins

doctype html
html(lang="es")
    head
        include ../includes/head
    body
        block cabecera
            include ../includes/cabecera
            
        block navegacion-principal
            include ../includes/navegacion-principal
            
        block navegacion
      
        block main

        footer.footer
            include ../includes/footer
        a.cd-top.js-cd-top(href="#0") Arriba
        script(src="js/script.js")