extends templates/template
append config
    - tituloPagina = 'Bienes'
    - urlImagenCabecera = 'produccion-bienes.jpg'
    - actual = 'bienes'

block navegacion
    include includes/navegacion-bienes
block main
     main.main
        include includes/main-bienes