extends templates/template
append config
    - tituloPagina = 'Cultural'
    - urlImagenCabecera = 'cultural-index.png'
    - actual = 'cultural'

block navegacion
    include includes/navegacion-cultural
block main
     main.main
        include includes/main-cultural