extends templates/template
append config
    - tituloPagina = 'Edificios Mejorables'
    - urlImagenCabecera = 'mejorable/necropolis.png'
    - actual = 'mejorables'

block main
     main.main
        include includes/main-mejorables