extends templates/template
append config
    - tituloPagina = 'Galería'
    - urlImagenCabecera = 'galeria.jpg'
    - actual = 'galeria'

block main
     main.main
        include includes/main-galeria