extends templates/template
append config
    - tituloPagina = 'Grandes Edificios de población'
    - urlImagenCabecera = 'ges-poblacion.jpg'
    - actual = 'ges-poblacion'

block main
     main.main
        include includes/main-ges-poblacion