extends templates/template
append config
    - tituloPagina = 'Grandes Edificios'
    - urlImagenCabecera = 'grandes-edificios.png'
    - actual = 'grandes-edificios'

block navegacion
    include includes/navegacion-ge
block main
    main.main 
        include includes/main-ge