extends templates/template
append config
    - tituloPagina = 'Incidentes'
    - urlImagenCabecera = 'incidentes/incidentes.png'
    - actual = 'incidentes'

block main
     main.main
        include includes/main-incidentes