extends templates/template
append config
    - tituloPagina = 'Introducción'
    - urlImagenCabecera = 'index-img.jpg'
    - actual = 'index'
    
block main
     main.main
        include includes/main-index