extends templates/template
append config
    - tituloPagina = 'Mapas'
    - urlImagenCabecera = 'mapas.jpg'
    - actual = 'mapas'

block navegacion
    include includes/navegacion-mapas
block main
    main.main
        include includes/main-mapas
