extends templates/template
append config
    - tituloPagina = 'Bienes no refinados'
    - urlImagenCabecera = 'no-refinados.jpg'
    - actual = 'no-refinados'

block main
     main.main
        include includes/main-no-refinados