extends templates/template
append config
    - tituloPagina = 'Producción'
    - urlImagenCabecera = 'produccion-index.jpg'
    - actual = 'produccion'
    
block navegacion
    include includes/navegacion-produccion
block main
     main.main
        include includes/main-produccion