extends templates/template
append config
    - tituloPagina = 'Reliquias'
    - urlImagenCabecera = 'reliquias.jpg'
    - actual = 'reliquias'

block main
     main.main
        include includes/main-reliquias