extends templates/template
append config
    - tituloPagina = 'Residencial'
    - urlImagenCabecera = 'residencial-index.jpg'
    - actual = 'residencial'

block navegacion
    include includes/navegacion-residencial
block main
     main.main
        include includes/main-residencial