extends templates/template
append config
    - tituloPagina = 'Sets de Edificios'
    - urlImagenCabecera = 'set/set-edificios.jpg'
    - actual = 'set'

block navegacion
    include includes/navegacion-sets
block main
     main.main
        include includes/main-sets