extends templates/template
append config
    - tituloPagina = 'Taberna de los amigos'
    - urlImagenCabecera = 'taberna.jpg'
    - actual = 'taberna-amigos'

block main
     main.main
        include includes/main-taberna-amigos