extends templates/template
append config
    - tituloPagina = 'Unidades militares'
    - urlImagenCabecera = 'unidades-militares.jpg'
    - actual = 'unidades-militares'

block navegacion
    include includes/navegacion-unidades-militares
block main
     main.main
        include includes/main-unidades-militares